body,button,div,h1,h2,h3,h4,h5,button,a,span,p{font-family: '思源宋体', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, STHeiti, 华文细黑, sans-serif;}

/*综合营销平台页面样式 */
/*banner部分*/
p{ line-height:1.5; }
.join-banner{ width:100%; height:600px; background:url(../images/party.jpg) no-repeat center; background-size:cover; margin-top:80px;}
.join-banner>.banner-title{ width:600px; text-align:center; color:#fff; margin:0 auto; padding-top:113px; }
.join-banner>.banner-title>h3{ font-size:36px;  }
.join-banner>.banner-title>h2{ font-size:72px; font-weight:bold;  }
.join-banner>.banner-title>p{ font-size:18px; margin-top:15px;}

.join-banner-list{ width:100%; height:200px; background-color:#f5f8fa;  }
.join-banner-list ul{ max-width:1160px; margin:0 auto; height:100%; width:100%; margin:0 auto; }
.join-banner-list ul li{ width:33.3%; height:100%; float:left; box-sizing: border-box; border-left:4px solid #fff; color:#333; text-align:center; padding-top:56px; }
.join-banner-list ul li i{ width:64px; height:64px; margin:0 auto; display:block;  }
.join-banner-list ul li p{ font-size:18px; text-align:center;  width:75%; text-align:center; margin:0 auto;}
.join-banner-list ul li:nth-child(1) i{ background:url(../images/join-icon.png) no-repeat; background-position:-46px -26px; }
.join-banner-list ul li:nth-child(2) i{ background:url(../images/join-icon.png) no-repeat; background-position:-185px -26px; }
.join-banner-list ul li:nth-child(3) i{ background:url(../images/join-icon.png) no-repeat; background-position:-318px -26px; }

/*为什么选择智付*/
.join-common-title{ color:#2b2f39; font-size:53px;  padding-top:110px; text-align:center; width:100%; display: block; }
.join-reason{ background-color:#fff; width:100%; padding:0 0 120px; }
.join-reason-wall{ max-width:1160px; width:100%;  position: relative; margin:0 auto; margin-top:120px;}
.join-reason-box{ max-width:734px; height:722px;width:100%; background:url(../images/join-choose.jpg) no-repeat center; margin:0 auto; background-size:100%;  opacity: 0;transition: all ease 0.2s; }
.active-box .join-reason-box{ opacity: 1; }
.join-reason-wall>div>h4{ font-size:28px; color:#333; }
.join-reason-wall>div>p{ font-size:17px; color:#999; margin-top:10px;}

.reason-word1{width:260px; position:absolute; top:97px; left:2.6%; z-index:4; text-align:right; opacity: 0; }
.reason-word2{width:230px; position:absolute; top:97px; left:73.27%; z-index:4; opacity: 0;}
.reason-word3{width:210px; position:absolute; top:360px; left:81%; z-index:4; opacity: 0;}
.reason-word4{width:260px; position:absolute; top:568px; left:62.586%; z-index:4; opacity: 0;}
.reason-word5{width:248px; position:absolute; top:445px; left:5%; z-index:4; text-align:right;  opacity: 0;}



@keyframes animationScale {
    30% {
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        transform: scale(1,1);
        opacity: 1
    }
}


.active-box .reason-word1{
	-webkit-animation: animationScale .85s 0.1s;
    -moz-animation: animationScale .85s 0.1s;
    animation: animationScale .85s 0.1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(3,3);
    -moz-transform: scale(3,3);
    -ms-transform: scale(3,3);
    transform: scale(3,3);
    opacity: 0
}
.active-box .reason-word2{
	-webkit-animation: animationScale .85s 0.75s;
    -moz-animation: animationScale .85s 0.75s;
    animation: animationScale .85s 0.75s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(3,3);
    -moz-transform: scale(3,3);
    -ms-transform: scale(3,3);
    transform: scale(3,3);
    opacity: 0
}
.active-box .reason-word3{
	-webkit-animation: animationScale .75s 1s;
    -moz-animation: animationScale .75s 1s;
    animation: animationScale .75s 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(3,3);
    -moz-transform: scale(3,3);
    -ms-transform: scale(3,3);
    transform: scale(3,3);
    opacity: 0
}
.active-box .reason-word4{
	-webkit-animation: animationScale .75s 1.25s;
    -moz-animation: animationScale .75s 1.25s;
    animation: animationScale .75s 1.25s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(3,3);
    -moz-transform: scale(3,3);
    -ms-transform: scale(3,3);
    transform: scale(3,3);
    opacity: 0
}
.active-box .reason-word5{
	-webkit-animation: animationScale .75s 1.5s;
    -moz-animation: animationScale .75s 1.5s;
    animation: animationScale .75s 1.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(3,3);
    -moz-transform: scale(3,3);
    -ms-transform: scale(3,3);
    transform: scale(3,3);
    opacity: 0
}

/*服务与支持*/
.join-service{ width:100%; background-color:#f5f8fa;  }
.join-common-title+p{ color:#2b2f39; font-size:16px; text-align:center; margin-top:15px; }
.join-service-box{ width:100%; max-width:1200px; margin:0 auto; padding-top:30px; }
.join-service-box li{ width:23%; margin:1%; background-color:#fff; float:left; height:380px; padding-top:10px; box-sizing: border-box; border-radius:18px; box-shadow: 0px 2px 50px 0px rgba(141, 141, 141, 0.04);}
.join-service-box li i{ width:82px; height:74px; display:block; margin:0 auto; background:url(../images/join-icon.png) no-repeat; }
.join-service-box li h4{ font-size:24px; color:#3f464d; text-align:center; margin-top:10px;}
.join-service-box li p{ width:80%; margin:0 auto; margin-top:20px; font-size:16px; color:#a1a6ab; text-align:center;}

.join-service-box li:nth-child(1) i{ background-position:-36px -135px;}
.join-service-box li:nth-child(2) i{ background-position:-178px -135px;}
.join-service-box li:nth-child(3) i{ background-position:-314px -135px;}
.join-service-box li:nth-child(4) i{ background-position:-479px -135px;}
.join-service-box li:nth-child(5) i{ background-position:-612px -135px;}
.join-service-box li:nth-child(6) i{ background-position:-742px -135px;}

/*加盟流程*/
.join-step{ padding-bottom:160px; }
.join-step-box{ width:100%; max-width:1080px; margin:0 auto; margin-top:50px; }
.join-step-img{ background:url(../images/join-step.jpg) no-repeat center; height:165px; max-width:1056px;  width:100%; margin:0 auto;  background-size:100%;}
.join-step-word{width:20%; margin-right:7%;font-size:16px; color:#333; text-align:center; }
.join-step-word:nth-child(3){ width:21%; margin-right:3%;}
.join-step-word:nth-child(4){ width:18%; }
/*我们在寻找您*/
.join-footer{ width:100%; height:558px; background:url(../images/join-footer-bg.jpg) no-repeat center; background-size:cover;  }
.join-footer>h2{ font-size:54px; color:#fff; text-align:center; padding-top:150px; }
.join-footer>p{ font-size:18px; color:#fff; width:100%;  max-width:740px; text-align:center; margin:0 auto; margin-top:20px; line-height:1.5; }
.join-footer>a{ width:211px; height:55px;display: block; text-align:center; line-height:55px; color:#fff;margin:0 auto;border-radius:25px; margin-top:25px;
  background-image: -moz-linear-gradient( 0deg, rgb(35,190,254) 0%, rgb(9,201,193) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(35,190,254) 0%, rgb(9,201,193) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(35,190,254) 0%, rgb(9,201,193) 100%);


 }

/*综合营销平台页面样式 */


.visible-ipad{ display:none; }
.hidden-ipad{ display:block; }


.visible-mobile{ display:none; }
.hidden-mobile{ display:block; }

@media screen and (max-width: 769px){
	.visible-ipad{ display:block; }
	.hidden-ipad{ display:none; }


	.join-banner{ background:url(../images/about_logo.png) no-repeat center; background-size:cover; }
	.join-common-title{ padding-top:80px; font-size:46px;}
	.join-banner>.banner-title>h2{ font-size:60px; }
	.join-service-box li{ width:42%; }

	/*   */
	.mob-join-reason{ width:100%; background: #fff; padding-bottom:30px;}
	.mob-reason-img{ width:68%; margin:0 auto; margin-top:30px; }
	.mob-reason-img>img{ width:100%; }

	.mob-reason-bottom{ width:72.5%; margin:0 auto; }
	.mob-reason-bottom li{ margin-top:20px; }
	.mob-reason-circle{ width:18px; height:18px; margin-top:8px; float:left; background:url(../images/about_logo.png) no-repeat;  }
	.mob-reason-bottom h4{ font-size:24px; color:#333; width:92%; float:right; }
	.mob-reason-bottom p{ font-size:16px; color:#999; width:92%; float:right; margin-top:10px; }

	.join-footer{ height:500px; }

}


@media screen and (max-width: 650px) {
	.visible-mobile{ display:block; }
	.hidden-mobile{ display:none; }

	.join-banner{ height:250px;}
	.join-banner>.banner-title { width: 100%; padding-top:50px;}
	.join-banner>.banner-title>h3 { font-size: 24px; }
	.join-banner>.banner-title>h2 { font-size: 38px; }
	.join-banner>.banner-title>p { font-size: 16px; }
	.join-common-title{ font-size:34px;padding-top:40px; }

	.join-banner-list ul li{ padding-top:40px; }
	.join-banner-list ul li p { font-size: 14px;}

	.join-banner-list ul li:nth-child(1) i{ background:url(../images/join-icon.png) no-repeat;background-size:760px; background-position:-36px -20px; }
	.join-banner-list ul li:nth-child(2) i{ background:url(../images/join-icon.png) no-repeat;background-size:760px; background-position:-150px -20px; }
	.join-banner-list ul li:nth-child(3) i{ background:url(../images/join-icon.png) no-repeat;background-size:760px; background-position:-268px -20px; }
	.mob-reason-circle{ width:12px; height:12px; background-size:cover;}
	.mob-reason-bottom h4{ font-size:22px;  }
	.mob-reason-bottom p{ font-size:14px;}

	.join-common-title+p{ width:90%; margin:0 auto; margin-top:15px;}
	.join-service-box li { padding-top:20px; width:44%;}
	.join-service-box li h4 {font-size: 24px;}
	.join-service-box li p{ width:85%; font-size:13px; }
/*	.join-service-box li i { width: 70px; height: 60px; background-size:700px;}

	.join-service-box li:nth-child(1) i{ background-position:-20px -100px;}
	.join-service-box li:nth-child(2) i{ background-position:-178px -100px;}
	.join-service-box li:nth-child(3) i{ background-position:-314px -100px;}
	.join-service-box li:nth-child(4) i{ background-position:-479px -100px;}
	.join-service-box li:nth-child(5) i{ background-position:-612px -100px;}
	.join-service-box li:nth-child(6) i{ background-position:-742px -100px;}*/
	.join-step{ padding-bottom:80px; }
	.mob-join-step-box{ width:85%; margin:0 auto; height:400px; margin-top:20px; }
	.mob-join-step-img{ width:27.85%;height:400px;  background: url(../images/about_logo.png) no-repeat center center; background-size:cover; }
	.join-step-word-box{ width:65%;  height:100%; }
	.join-step-word-box>div{ height:25%; line-height: 100px;  box-sizing: border-box; margin-top:5px;}


	.join-footer{ height:350px; }
	.join-footer>h2{ font-size:30px; padding-top:70px; }
	.join-footer>p{ font-size:16px;width:90%; margin:0 auto; margin-top:20px; }

}


/*悬浮框*/
.suspension{
    width:46px;
    height:210px;
    position:fixed;
    right:30px;
    bottom:60px;
    z-index:999;
  }


  .suspension li{
    position:relative;
    width:46px;
    height:46px;
    margin-top:10px;
  }

  .suspension li:first-child{
    margin-top:0;
  }


  .hide-text{
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    background-color:transparent;
    border:0

  }




  .suspension{
    width:46px;
    height:210px;
    position:fixed;
    right:30px;
    bottom:60px;
    z-index:999
  }

  .suspension li{
    position:relative;
    width:46px;
    height:46px;
    margin-top:10px;
  }

  .suspension li:first-child{
    margin-top:0;
  }

  .suspension li img {
    margin: 2px auto;

  }



  .pop-tel,.to-top{
    display:block;
    width:100%;
    height:100%;
    border:1px solid #bcbcbc;
    background-color:#fff;
  }

  .pop-tel{
    border-color:#0af;
    background-color:#0af;
    background-position:-1px 0;
  }

  .connect-us{
    position:absolute;
    width:240px;
    right:54px;
    bottom:0;
    z-index:30;
    background:#fff;
    border:1px solid #ddd;
    box-shadow:0 6px 12px 0 rgba(0,0,0,.15);
    display:none;
  }
  .connect-us ul{
    margin:32px 24px;
  }

  .connect-us li{
    display:list-item;
    width:100%;
    height:auto;
    padding:16px 0;
    overflow:hidden;
    margin-top:0;
    border-top:1px solid #f4f4f4;
  }
  .connect-us li:first-child{
    padding-top:0;
    border-top:none;
  }
  .connect-us li.feedback-item{
    padding-bottom:16px;

  }

  .connect-us li a{
    display:inline-block;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:0 0;
  }

  .info-name,.info-value{
    display:block;
    padding-left:10px;
  }

  .info-name{
    height:14px;
    font-size:14px;
    color:#333;
  }

  .info-value{
    margin-top:8px;
    height:18px;
    font-size:18px;
    font-weight:700;
    color:#f90;
  }
