<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/video-js.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/about.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/about_swiper.css">
    <title>深圳市杰美特科技股份有限公司官网-关于杰美特</title>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--头部开始-->
<header class="header" id="header">
    <div class="header-main">
        <a href="index">
            <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px"/>
        </a>
        <!--<div class="language">-->
        <!--<a class="cn" href="index">简</a>-->
        <!--<a class="en" href="index">EN</a>-->
        <!--<span class="menu"></span>-->
        <!--</div>-->
        <ul class="nav" id="nav">
            <li class="li_box">
                <a href="index">首页</a>
            </li>
            <li class="li_box">
                <a href="about" class="current">关于杰美特</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="about#link1">杰美特概括</a>
                        </li>
                        <li>
                            <a href="about#link2">董事长致辞</a>
                        </li>
                        <li>
                            <a href="about#link3">发展历程</a>
                        </li>
                        <li>
                            <a href="about#link4">荣誉资质</a>
                        </li>
                        <li>
                            <a href="about#link5">战略伙伴</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="li_box">
                <a href="news">新闻</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="news#link1">新闻资讯</a>
                        </li>
                        <li>
                            <a href="news#link2">公司动态</a>
                        </li>
                        <li>
                            <a href="news#link3">行业资讯</a>
                        </li>
                        <li>
                            <a href="news#link4">公益活动</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="product">旗下产品</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" id="header-product" style="width:600px">
                        <li>
                            <a href="product#link1">产品展示</a>
                        </li>
                        <li>
                            <a href="product#link2">生产研发</a>
                        </li>
                        <li>
                            <a href="product#link3">产品专利</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="party">党建工作</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="party#link1">党支部简介</a>
                        </li>
                        <li>
                            <a href="party#link2">红色文化</a>
                        </li>
                        <li>
                            <a href="party#link3">党建目标</a>
                        </li>
                        <li>
                            <a href="party#link4">党群资讯</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="culture">企业文化</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:400px">
                        <li>
                            <a href="culture#link1">核心价值观</a>
                        </li>
                        <li>
                            <a href="culture#link2">文化理念</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="school">善熵学院</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="school#link1">学院简介</a>
                        </li>
                        <li>
                            <a href="school#link2">学院定位</a>
                        </li>
                        <li>
                            <a href="school#link3">运营模式</a>
                        </li>
                        <li>
                            <a href="school#link4">培养体系</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="develop">人力发展</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="develop#link1">人才理念</a>
                        </li>
                        <li>
                            <a href="develop#link2">人才培养</a>
                        </li>
                        <li>
                            <a href="develop#link3">人才引进</a>
                        </li>
                        <li>
                            <a href="develop#link4">员工生活</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="contact">联系我们</a>
            </li>
            <div class="fork"></div>
        </ul>
        <div class="c"></div>
    </div>
    <div class="nav-bg"></div>
</header>
<div class="zz"></div>
<!--头部结束-->
<!--main 开始-->
<main>
    <div class="business mgt" id="business">
        <div class="business-list">
            <img src="../images/about_.jpg">
            <!-- <div class="business-bg"></div> -->
        </div>
    </div>
    <div class="about">
        <div class="about-tab">
            <div class="w" id="tap">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="about#link1">
                                <span class="actv" id="btn"><img class="top_nav_icon_img"
                                                                 src="images/icon/about1.png"><strong>&#12288;杰美特概括</strong></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="about#link2">
                                <span id="btn1"><img class="top_nav_icon_img"
                                                     src="images/icon/about2.png"><strong>&#12288;董事长致辞</strong></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="about#link3">
                                <span id="btn2"><img class="top_nav_icon_img"
                                                     src="images/icon/about3.png"><strong>&#12288;发展历程</strong></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="about#link4">
                                <span id="btn3"><img class="top_nav_icon_img"
                                                     src="images/icon/about4.png"><strong>&#12288;荣誉资质</strong></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="about#link5">
                                <span id="btn4"><img class="top_nav_icon_img"
                                                     src="images/icon/about5.png"><strong>&#12288;战略伙伴</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-box" id="about-box">
            <div class="introduce  w">
                <fieldset>
                    <legend><span id="link1">
                                <p style="margin-top: -20px;text-align: center;">杰美特概括</p>
                                <p class="title_msg_p" style="font-size: 15px;margin-top: -5px;"><a
                                            style="color: red;">Jame</a> <a>profile</a></p>
                            </span>
                    </legend>
                </fieldset>
                <!--<h4 id="link1">杰美特概括</h4>-->
                <div class="introduce_box">
                    <div style="display: inline-block;">
                        <div
                                style="font-size: 16px;color: #4e4644;line-height: 28px;width: 64%;display: inline-block;vertical-align: middle;margin-left: 2%">
                            <p>
                                &#12288;&#12288;杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。
                            </p>
                            <p>
                                &#12288;&#12288;公司主营全球高端电子配件产品的研发、销售和品牌运营。畅销产品有手机保护壳、平板电脑保护壳、其他3C类产品、汽车遮阳板等畅销全球。旗下产品受到全球的关注以及广大年轻消费者的喜爱。美国、英国、瑞士、比利时、意大利、法国、加拿大、日本、韩国、新加坡、中东迪拜及港澳台等发达国家和地区的客户都给予杰美特极高的评价。
                            </p>
                            <p>
                                &#12288;&#12288;杰美特已获得一百多项发明、实用新型等专利，获得Marvel的授权。目前与Apple、SAMSUNG、Walmart、Disney 、Best Buy 、Sony、Griffin、Targus、Pelican、Elecom等国际知名移动智能终端配件品牌商保持密切合作，并与华为、联想、中兴、vivo等国内手机行业巨头达成战略合作。
                            </p>

                            <p>
                                &#12288;&#12288;经过多年坚实的发展，如今，杰美特人正以追求卓越的企业精神和极度开放的心态，不断创新求变的企业理念，从产品革新、市场形象打造到品牌文化建设，杰美特正在实现从传统配套制造到智能制造+品牌战略发展的新飞跃。
                            </p>
                        </div>
                        <img src="images/about-summarize.jpg"
                             style="    height: 400px;display: inline-block; vertical-align: middle;margin-left: 4%">
                    </div>
                    <br/>
                </div>
            </div>
            <!--图片改了位置，从杰美特概括里拿出来了-->
            <!-- <div class="w">
                <br />
                <br />
                <img src="images/about_r.jpg" style="width:100%;">
                <br />
            </div> -->
            <div class="glory">
                <div class="introduce  w">
                    <fieldset>
                        <legend><span id="link2">
                                    <p style="margin-top: -20px;text-align: center;">董事长致辞</p>
                                    <p class="title_msg_p" style="font-size: 15px;margin-top: -5px;"><a
                                                style="color: red;">Chairman's</a> <a>speech</a></p>
                                </span>
                        </legend>
                    </fieldset>
                    <!--<h4 id="link2">董事长致辞</h4>-->
                    <div class="introduce_box">
                        <div style="font-size: 16px;color: #4e4644;line-height: 28px;">
                            <p>
                                &#12288;&#12288;杰美特成立于2006年，落地生根于中国第一个经济特区大鹏城--深圳。目前已经发展成为集成研发、生产、销售、服务为一体的高新技术企业，拥有员工数千名的一个年轻而又成熟，稳健而又有活力的公司。
                            </p>
                            <p>
                                &#12288;&#8194;“有志者事竟成，苦心人天不负”，杰美特十二年风雨兼程，十二年创业历程，成就杰美特十二年辉煌。我们秉承追求卓越、建立良好的人际关系的企业核心价值观，以极大的热情和信念致力于行业领域的创新与开发，运用现在的企业管理理念和管理模式，打造一支具有“战斗力”和激情的学习型组织团队，集聚结构合理的人才队伍。坚持极度求真与透明，以极度开放和死磕到底的精神，竭力为合作伙伴和客户开发、生产、提供品质优良的产品和服务。
                            </p>
                            <p> &#12288;&#12288;在这个充满机遇和挑战的时代，我们杰美特人将保持初心，一路向前。为达成杰美特的使命和愿景奋斗到底！</p>
                            <br/>
                        </div>
                        <div style="display: inline-block; float:right;"><a>董事长签名：</a><img
                                    src="images/signature.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="introduce  w">
                <fieldset>
                    <legend><span id="link3">
                                <p style="margin-top: -20px;text-align: center;">发展历程</p>
                                <p class="title_msg_p" style="font-size: 15px;margin-top: -5px;"><a>Corporate</a> <a
                                            style="color: red;">History</a></p>
                            </span>
                    </legend>
                </fieldset>
                <!--<h4 id="link3">发展历程</h4>-->
                <br/>
                <br/>
                <div style="text-align:center;"><img src="images/about_h.jpg"
                                                     style="vertical-align: middle;width:100%;"></div>
                <br/>
                <br/>
                <p style="margin-bottom: 26px;text-align: center;">
                  <img src="images/about-history-1_06.jpg"> 
                  <img src="images/about-history-1_04.jpg">
                  <img src="images/about-history-1_02.jpg">
                </p>
                <div style="font-size: 16px;color: #4e4644;line-height: 28px;">
                    <p style="text-indent: 2em;">
                        经历10余年风风雨雨，一步一脚印，积跬步聚小流，杰美特从一家小的公司，成长为国内智能终端配件行业数一数二的企业，记录着杰美特人一段艰辛拼搏的历程。</p>
                </div>
                <div style="display: inline-block;">
                    <div style="font-size: 16px;color: #4e4644;line-height: 28px;">
                        <div class="about_licheng_box">
                            <div>
                                <p style="text-indent: 2em;">
                                    经过十多年的稳健发展，杰美特着眼于企业战略部署，企业发展也迎来了井喷期。2015年，完成自动化生产改造，实现效率大幅度提高，国内外业务暴增。面临经济新常态，杰美特积极求变，主动融入，由粗放型到及细化管理的转变、大力实施科技兴企战略，推进企业可持续健康发展。短短几年，杰美特先后获得高新技术企业认证，获得多项研发专利和荣誉证书，傲立于移动智能终端配件行业。
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="about_licheng_box">
                            <!--<div class="pull-left about_licheng_img_box">-->

                            <!--</div>-->
                            <div>
                                <p style="text-indent: 2em;">
                                    随着杰美特业务的不断发展和延伸，发展潜力日益突出，同年7月杰美特正式走出国门，客户遍及全球60多个国家或地区。2012年杰美特科技园落户东莞凤岗、以其强大的研发和生产能力，陆续获得Hello
                                    Kitty和Marvel的授权、先后与Apple、SAMSUNG、Disney
                                    、Sony、Griffin等国际知名移动智能终端配件品牌商保持密切合作，并与华为、联想、中兴、OPPO等国内手机行业巨头达成战略合作，实现共赢发展。
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="about_licheng_box">
                            <!--<div class="pull-left about_licheng_img_box">-->

                            <!--</div>-->
                            <div>
                                <p style="text-indent: 2em;">
                                    2006年暮春之初，杰美特落地生根于中国第一个经济特区大鹏城--深圳。从2008年开始，杰美特开始着手整合有效资源，先后进ISO90001、ISO14000、QC08000、SA8000、EICC等国际体系标准及WALMART等行业体系，建立多条专业标准生产流水线、规范操作流程、引进ERP系统和相关管理系统等。经多年的积累与沉淀，杰美特吸引和新增了许多战略伙伴。杰美特人用汗水和死磕到底的决心给公司的快速崛起，筑起坚实的基底。
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!--<p>&#12288;&#12288;</p>-->
                    </div>

                </div>
                <div style="font-size: 16px;color: #4e4644;line-height: 28px;">
                    <p>&#12288;&#12288;杰美特人正以永远追求卓越的企业精神和极度开放的心态，不断创新求变、不断实现从传统配套制造到智能制造+品牌战略发展的新飞跃。在赢得国内领先优势后，将进一步开拓国际市场，在已有的国际化基础上，寻求更多、更广泛的顶尖国际合作伙伴。
                    </p>
                </div>
                <br/>
            </div>
            <div class="glory">
                <div class="introduce  w">
                    <fieldset>
                        <legend><span id="link4">
                                    <p style="margin-top: -20px;text-align: center;">荣誉资质</p>
                                    <p class="title_msg_p" style="font-size: 15px;margin-top: -5px;"><a
                                                style="color: red;">Honorary</a> <a>certificate</a></p>
                                </span>
                        </legend>
                    </fieldset>
                    <!--<h4 id="link4">荣誉资质</h4>-->
                    <br/>
                    <div>
                        <img src="images/glory_01.jpg" style="width: 33%;" alt="高新技术企业证书">
                        <img src="images/glory_02.jpg" style="width: 33%;" alt="十大投资突出企业">
                        <img src="images/glory_03.jpg" style="width: 33%;" alt="文明诚信企业称号">
                    </div>
                    <br/>
                    <div>
                        <img src="images/glory_04.jpg" style="width: 33%;" alt="外贸出口50强">
                        <img src="images/glory_05.jpg" style="width: 33%;" alt="自主创新100强">
                        <img src="images/glory_06.jpg" style="width: 33%;" alt="诚信企业证书">
                    </div>
                    <br/>
                    <div>
                        <img src="images/glory_07.jpg" style="width: 33%;" alt="战略合作单位">
                        <img src="images/glory_08.jpg" style="width: 33%;" alt="先进单位">
                        <img src="images/glory_09.jpg" style="width: 33%;" alt="产学研基地">
                    </div>
                </div>
            </div>
            <div class="glory">
                <div class="introduce  w">
                    <fieldset>
                        <legend><span id="link5">
                                    <p style="margin-top: -20px;text-align: center;">战略伙伴</p>
                                    <p class="title_msg_p" style="font-size: 15px;margin-top: -5px;"><a>Strategic</a> <a
                                                style="color: red;">partner</a></p>
                                </span>
                        </legend>
                    </fieldset>
                    <!--<h4 id="link5">战略伙伴</h4>-->
                    <br/>
                    <!--<div class="box">-->
                    <div style="text-align: center;">
                        <div class="about_partner_box">
                            <div class="about_partner_items_box">
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_11.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_13.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_15.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_06.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_08.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_03.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_23.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_25.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_27.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_30.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_32.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_34.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_42.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_44.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_47.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_49.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_51.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_53.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_60.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_61.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_62.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_63.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_64.jpg">
                                </div>
                                <div class="about_partner_item_img_box">
                                    <img src="images/images/about_-partner_65.jpg">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_02.png" alt="新员工入职培训">-->

                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_03.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_04.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_01.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_01.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_01.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_01.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_01.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_01.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_01.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_01.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_01.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--<div class="box_img" id="newStaff">-->
                    <!--<img src="images/culture_01.png" alt="新员工入职培训">-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</main>
<!--main 结束-->

<!--底部 开始-->
<div class="footer">
    <div class="container">
        <div class="footer-nav">
            <li>
                <a href="https://mall.jd.com/index-1000131581.html"><img src="images/logo0.png" height="40"
                                                                         width="120"/></a>
            </li>
            <li><a href="about">关于杰美特</a></li>
            <li><a href="product">旗下产品</a></li>
            <li><a href="culture">企业文化</a></li>
            <li><a href="develop">人力发展</a></li>
            <li><a href="contact">联系我们</a></li>
        </div>
        <div class="copy" style="margin-left: 100px">
            版权所有: 深圳市杰美特科技股份有限公司
            <br>
            <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
            <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0"
                                                                     style="width: 24px;"></a>
        </div>
    </div>
    <div class="weixin-f">
        <a href="#">微信</a>
        <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
    </div>
    <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
    <div class="tmall-f jamc-f"
         style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;">
        <a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
    <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
</div>
<!--底部 结束-->


<script src="javascripts/fastclick.js"></script>
<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/swiper-3.4.2.min.js"></script>
<script src="javascripts/javascript.js"></script>
<script src="javascripts/video.min.js"></script>
<script src="javascripts/img.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
        navIn($("#header"));
        menuClick();
        forkClick();
        reNavList();
        dropDown();
        $(".zz").hide();
        tapPar($(".about-tab span"), $(".about-list"));

        function tapPar(dom, dom1) {
            dom.on("click", function () {
                $(this).addClass("actv").parent().parent().siblings().find("span").removeClass(
                    "actv");
                var tabInd = $(this).index();
                dom1.eq(tabInd).show().siblings().hide();
            })
        };


        // 滑动导航
        // var mySwiper1 = new Swiper('#tap', {
        //     freeMode: true,
        //     slidesPerView: 'auto',
        //     freeModeSticky: true,
        // });

        //播放器
        // var myPlayer = videojs('my-video');
        // videojs("my-video").ready(function() {
        //     var myPlayer = this;
        //     // myPlayer.play();//自动播放
        // });

        //轮播图
        var swiper1 = new Swiper('#picture', {
            autoplay: 3000,
            slidesPerView: 4,
            spaceBetween: 0,
            loop: true,
            loopAdditionalSlides: 4,
            autoplayDisableOnInteraction: false,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            breakpoints: {
                1400: {
                    slidesPerView: 4,
                },
                1200: {
                    slidesPerView: 4,
                },
                1000: {
                    slidesPerView: 2.5,
                }
            }
        });


        // var about = [{
        //     'a_img': 'images/culture_01.png',
        //     'b_img': 'images/be_culture_01.png',
        // }, {
        //     'a_img': 'images/culture_02.png',
        //     'b_img': 'images/be_culture_02.png',
        // }, {
        //     'a_img': 'images/culture_03.png',
        //     'b_img': 'images/be_culture_03.png',
        // }, {
        //     'a_img': 'images/culture_04.png',
        //     'b_img': 'images/be_culture_04.png',
        // }, {
        //     'a_img': 'images/culture_05.png',
        //     'b_img': 'images/be_culture_05.png',
        // }, {
        //     'a_img': 'images/culture_06.png',
        //     'b_img': 'images/be_culture_06.png',
        // },]

    })
</script>
</body>

</html>
