<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
   <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
   <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/news/news.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/contact.css"/>
    <title>深圳市杰美特科技股份有限公司官网-联系我们</title>
</head>

<body>
<!--头部开始-->
<header class="header" id="header">
    <div class="header-main">
        <a href="index">
            <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px"/>
        </a>
        <!--<div class="language">-->
        <!--<a class="cn" href="index">简</a>-->
        <!--<a class="en" href="index">EN</a>-->
        <!--<span class="menu"></span>-->
        <!--</div>-->
        <ul class="nav" id="nav">
            <li class="li_box">
                <a href="index">首页</a>
            </li>
            <li class="li_box">
                <a href="about">关于杰美特</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="about#link1">杰美特概括</a>
                        </li>
                        <li>
                            <a href="about#link2">董事长致辞</a>
                        </li>
                        <li>
                            <a href="about#link3">发展历程</a>
                        </li>
                        <li>
                            <a href="about#link4">荣誉资质</a>
                        </li>
                        <li>
                            <a href="about#link5">战略伙伴</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="li_box">
                <a href="news">新闻</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="news#link1">新闻资讯</a>
                        </li>
                        <li>
                            <a href="news#link2">公司动态</a>
                        </li>
                        <li>
                            <a href="news#link3">行业资讯</a>
                        </li>
                        <li>
                            <a href="news#link4">公益活动</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="product">旗下产品</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="pay.html">产品展示</a>
                        </li>
                        <li>
                            <a href="online.html">生产研发</a>
                        </li>
                        <li>
                            <a href="smartCity.html">产品专利</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="party">党建工作</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="party#link1">党支部简介</a>
                        </li>
                        <li>
                            <a href="party#link2">红色文化</a>
                        </li>
                        <li>
                            <a href="party#link3">党建目标</a>
                        </li>
                        <li>
                            <a href="party#link4">党群资讯</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="culture">企业文化</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:400px">
                        <li>
                            <a href="culture#link1">核心价值观</a>
                        </li>
                        <li>
                            <a href="culture#link2">文化理念</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="school">善熵学院</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="school#link1">学院简介</a>
                        </li>
                        <li>
                            <a href="school#link2">学院定位</a>
                        </li>
                        <li>
                            <a href="school#link3">运营模式</a>
                        </li>
                        <li>
                            <a href="school#link4">培养体系</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="develop">人力发展</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="develop#link1">人才理念</a>
                        </li>
                        <li>
                            <a href="develop#link2">人才培养</a>
                        </li>
                        <li>
                            <a href="develop#link3">人才引进</a>
                        </li>
                        <li>
                            <a href="develop#link4">员工生活</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="contact" class="current">联系我们</a>
            </li>
            <div class="fork"></div>
        </ul>
        <div class="c"></div>
    </div>
    <div class="nav-bg"></div>
</header>
<div class="zz"></div>
<!--头部结束-->
<!--main 开始-->
<main>
    <div class="business mgt" id="business">
        <div class="business-list">
            <img src="../images/联系我们.jpg" style="width:100%">
            <!-- <div class="business-bg"></div> -->
        </div>
    </div>
    <div class="contact">
        <div class="w">
            <!-- <h4>联系我们</h4> -->
            <fieldset>
                    <legend><span id="link1"><p style="margin-top: 0px;text-align: center;">联系我们</p><p
                        class="title_msg_p"
                                    style="font-size: 15px;margin-top: -5px; margin-bottom: 20px;"><a  style="color: red;">Contact</a> <a>us</a></p> </span>
                    </legend>
                </fieldset>
            <div class="contact-box" style="margin-top: 20px;">
                <div class="contact-img">
                    <img src="images/contact_us_01.jpg" alt="杰美特集团">
                </div>
                <div class="contact-text">
                    <h5>深圳市杰美特科技股份有限公司</h5>
                    <div>
                        <span><img src="images/contacticon_04.png" alt="地址"></span>
                        <p>地址：</p>
                        <p>深圳市清祥路清湖工业园宝能科技园6栋B座19楼E单位</p>
                    </div>
                    <div>
                        <span><img src="images/contacticon_05.png" alt="电话"></span>
                        <p>电话：</p>
                        <p>+86（0755）36993151</p>
                    </div>
                    <div>
                        <span><img src="images/contacticon_06.png" alt="传真"></span>
                        <p>传真：</p>
                        <p>+86（0755）36993152</p>
                    </div>
                    <div>
                        <span><img src="images/contacticon_07.png" alt="电子邮件"></span>
                        <p>电子邮件：</p>
                        <p>jmt@jamepda.com</p>
                    </div>
                </div>
            </div>
            <div class="contact-box" style="margin-top: 10mm">
                <div class="contact-text">
                    <h5>深圳市中创卓越科技股份有限公司</h5>
                    <div>
                        <span><img src="images/contacticon_04.png" alt="地址"></span>
                        <p>地址：</p>
                        <p>深圳市清祥路清湖工业园宝能科技园6栋B座17楼</p>
                    </div>
                    <div>
                        <span><img src="images/contacticon_05.png" alt="电话"></span>
                        <p>电话：</p>
                        <p>+86（0755）23957916</p>
                    </div>
                    <div>
                        <span><img src="images/contacticon_07.png" alt="电子邮件"></span>
                        <p>电子邮件：</p>
                        <p>choton@szchoton.com</p>
                    </div>
                </div>
                <div class="contact-img" >
                    <img src="images/7890.jpeg" alt="杰美特集团">
                </div>
            </div>
            <div class="contact-box" style="margin-top: 10mm">
                <div class="contact-img">
                    <img src="images/contact_us_03.jpg" alt="杰美特集团">
                </div>
                <div class="contact-text">
                    <h5>东莞杰之洋塑胶实业有限公司</h5>
                    <div>
                        <span><img src="images/contacticon_04.png" alt="地址"></span>
                        <p>地址：</p>
                        <p>东莞市凤岗镇官井头小布二路5号杰美特科技园</p>
                    </div>
                    <div>
                        <span><img src="images/contacticon_05.png" alt="电话"></span>
                        <p>电话：</p>
                        <p>+86（0769）89899999</p>
                    </div>
                    <div>
                        <span><img src="images/contacticon_06.png" alt="传真"></span>
                        <p>传真：</p>
                        <p>+86（0769）89891111</p>
                    </div>
                    <div>
                        <span><img src="images/contacticon_07.png" alt="电子邮件"></span>
                        <p>电子邮件：</p>
                        <p>jame@jamepda.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--main 结束-->

<!--底部 开始-->
<div class="footer">
    <div class="container">
        <div class="footer-nav">
            <li><a href="https://mall.jd.com/index-1000131581.html"><img
                            src="images/logo0.png" height="40" width="120"/></a></li>
            <li><a href="about">关于杰美特</a></li>
            <li><a href="product">旗下产品</a></li>
            <li><a href="culture">企业文化</a></li>
            <li><a href="develop">人力发展</a></li>
            <li><a href="contact">联系我们</a></li>
        </div>
        <div class="copy" style="margin-left: 100px">
            版权所有: 深圳市杰美特科技股份有限公司
            <br>
            <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
            <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0"
                                                                     style="width: 24px;"></a></div>
    </div>
    <div class="weixin-f">
        <a href="#">微信</a>
        <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
    </div>
    <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
    <div class="tmall-f jamc-f"
         style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;">
        <a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
    <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
</div>
<!--底部 结束-->

<script src="javascripts/fastclick.js"></script>
<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/swiper-3.4.2.min.js"></script>
<script src="javascripts/javascript.js"></script>
<script src="javascripts/news/news.js"></script>
<script src="javascripts/video.min.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
        navIn($("#header"));
        menuClick();
        forkClick();
        reNavList();
        dropDown();
        $(".zz").hide();
        tapPar($(".newslist-tab span"), $(".news-list"));

        function tapPar(dom, dom1) {
            dom.on("click", function () {
                $(this).addClass("actv").siblings().removeClass("actv");
                var tabInd = $(this).index();
                if (tabInd == 0) {
                    window.location.href = "newslist.html"
                }
                dom1.eq(tabInd).show().siblings().hide();
            })
        };

        addnews(3, 3);

        //显示文字字数
        textMore('.information ul li h4 a', 15)
        textMore('.information-list ul li h4 a', 15)
        textMore('.information ul li p', 33)
        textMore('.information-list ul li p', 42)
        textMore('.dynamic-text p,.industry-text p', 102)
        textMore('.dynamic-text h4 a,.industry-text h4 a', 28)

        //焦点图新闻
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 4000,
            autoplayDisableOnInteraction: false,
            effect: 'fade', //切换效果
            loop: true, //环路
            autoResize: true,
            paginationType: 'bullets', //分页器类型
            pagination: '.swiper-pagination', // 分页器
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true, //点击分页器切换
            autoHeight: true,
        });

        //焦点图新闻鼠标悬停 停止自动循环 移开恢复循环
        $("#new-news").mouseenter(function () { //滑过悬停
            mySwiper.stopAutoplay(); //mySwiper 为上面你swiper实例化的名称
        }).mouseleave(function () { //离开开启
            mySwiper.startAutoplay();
        });

        $(window).resize(function () {
            // textMore('.information ul li h4 a',12)
            // textMore('.information-list ul li h4 a',10)
        })

    })
</script>
</body>

</html>
