<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/video-js.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/develop.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/index/index.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/about_swiper.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <title>深圳市杰美特科技股份有限公司官网-企业文化</title>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .limits {
            font-size: 14px;
            color: #807a7a;
            float: left;
            display: none;
            width: 100%;
        }

        .limits h1 {
            text-align: left;
            padding-left: 50px;
            color: #004ea2;
        }

        .content {
            padding: 0 70px;
            text-align: left;
        }
    </style>
</head>

<body>
<!--头部开始-->
<header class="header" id="header">
    <div class="header-main">
        <a href="index">
            <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px"/>
        </a>
        <!--<div class="language">-->
        <!--<a class="cn" href="index">简</a>-->
        <!--<a class="en" href="index">EN</a>-->
        <!--<span class="menu"></span>-->
        <!--</div>-->
        <ul class="nav" id="nav">
            <li class="li_box">
                <a href="index">首页</a>
            </li>
            <li class="li_box">
                <a href="about">关于杰美特</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="about#link1">杰美特概括</a>
                        </li>
                        <li>
                            <a href="about#link2">董事长致辞</a>
                        </li>
                        <li>
                            <a href="about#link3">发展历程</a>
                        </li>
                        <li>
                            <a href="about#link4">荣誉资质</a>
                        </li>
                        <li>
                            <a href="#link5">战略伙伴</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="li_box">
                <a href="news">新闻</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="news#link1">新闻资讯</a>
                        </li>
                        <li>
                            <a href="news#link2">公司动态</a>
                        </li>
                        <li>
                            <a href="news#link3">行业资讯</a>
                        </li>
                        <li>
                            <a href="news#link4">公益活动</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="product">旗下产品</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="product#link1">产品展示</a>
                        </li>
                        <li>
                            <a href="product#link2">生产研发</a>
                        </li>
                        <li>
                            <a href="product#link3">产品专利</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="party">党建工作</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="party#link1">党支部简介</a>
                        </li>
                        <li>
                            <a href="party#link2">红色文化</a>
                        </li>
                        <li>
                            <a href="party#link3">党建目标</a>
                        </li>
                        <li>
                            <a href="party#link4">党群资讯</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="culture">企业文化</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:400px">
                        <li>
                            <a href="culture#link1">核心价值观</a>
                        </li>
                        <li>
                            <a href="culture#link2">文化理念</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="school">善熵学院</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="school#link1">学院简介</a>
                        </li>
                        <li>
                            <a href="school#link2">学院定位</a>
                        </li>
                        <li>
                            <a href="school#link3">运营模式</a>
                        </li>
                        <li>
                            <a href="school#link4">培养体系</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="develop" class="current">人力发展</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="develop#link1">人才理念</a>
                        </li>
                        <li>
                            <a href="develop#link2">人才培养</a>
                        </li>
                        <li>
                            <a href="develop#link3">人才引进</a>
                        </li>
                        <li>
                            <a href="develop#link4">员工生活</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="contact">联系我们</a>
            </li>
            <div class="fork"></div>
        </ul>
        <div class="c"></div>
    </div>
    <div class="nav-bg"></div>
</header>
<div class="zz"></div>
<!--头部结束-->
<!--main 开始-->
<main>
    <div class="business mgt" id="business">
        <div class="business-list">
            <img src="../images/dev-new.png" style="width:100%">
            <!-- <div class="business-bg"></div> -->
        </div>
    </div>
    <div class="about">
        <div class="about-tab">
            <div class="w" id="tap">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="width: 25%">
                        <a href="develop#link1">
                            <span class="actv" id="btn"><img class="top_nav_icon_img"
                                                             src="images/icon/develop1.png"><strong>&#12288;人才理念</strong></span>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 25%">
                        <a href="develop#link2">
                            <span id="btn1"><img class="top_nav_icon_img" src="images/icon/develop2.png"><strong>&#12288;人才培养</strong></span>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 25%">
                        <a href="develop#link3">
                            <span id="btn1"><img class="top_nav_icon_img" src="images/icon/develop3.png"><strong>&#12288;人才引进</strong></span>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 25%">
                        <a href="develop#link4">
                            <span id="btn1"><img class="top_nav_icon_img" src="images/icon/develop4.png"><strong>&#12288;员工生活</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-box" id="about-box">
            <div class="introduce  w">
                <fieldset>
                    <legend><span id="link1"><p style="margin-top: 0px;text-align: center;">人才理念</p><p
                            class="title_msg_p"
                            style="font-size: 15px;margin-top: -5px; margin-bottom: 20px;"><a
                            style="color: red;">Talent</a> <a>idea</a></p> </span>
                    </legend>
                </fieldset>
                <!--<h4 id="link1" style="font-size: 30px;">人才理念</h4>-->
                <div class="introduce_box">
                    <!--<div class="introduce-left">-->
                    <div style="font-size: 16px;color: #666;line-height: 28px;text-align-last: center;">
                        <p style="text-align: center;">价值观优先，德才兼备，不拘一格，人尽其才，才尽其用</p>
                    </div>
                </div>
            </div>
            <div class="introduce  w">
                <section id="Talent" style="padding-top: 0;">
                    <div class="afi animated fadeIn">
                        <div class="wd85 mc pt80 pb80">
                            <div class="wd20 fl wd-5-2 wd-5-5 afiu animated fadeInUp">
                                <div class="wd75 mc rcln_w">
                                    <div class="rclnpic tc"><img src="../images/xuan.png" width="100"></div>
                                    <p class="tc fs3 pt16 lh3" style="font-size: 16px">海纳百川，价值观先<br>德才兼备，不拘一格</p>
                                </div>
                            </div>
                            <div class="wd20 fl wd-5-2 wd-5-5 afiu delay-02s animated fadeInUp">
                                <div class="wd75 mc rcln_w">
                                    <div class="rclnpic tc"><img src="../images/yu.png" width="100"></div>
                                    <p class="tc fs3 pt16 lh3" style="font-size: 16px">因材施教、挖潜增值<br>量身打造、学以致用</p>
                                </div>
                            </div>
                            <div class="wd20 fl wd-5-2 wd-5-5 afiu delay-04s animated fadeInUp">
                                <div class="wd75 mc rcln_w">
                                    <div class="rclnpic tc"><img src="../images/yong.png" width="100"></div>
                                    <p class="tc fs3 pt16 lh3" style="font-size: 16px">尊重价值、人尽其才<br>适者为才、才尽其用</p>
                                </div>
                            </div>
                            <div class="wd20 fl wd-5-2 wd-5-5 afiu delay-06s animated fadeInUp">
                                <div class="wd75 mc rcln_w">
                                    <div class="rclnpic tc"><img src="../images/ji.png" width="100"></div>
                                    <p class="tc fs3 pt16 lh3" style="font-size: 16px">科学导向、潜能激发<br>目标一致、实现双赢</p>
                                </div>
                            </div>
                            <div class="wd20 fl wd-5-5 afiu delay-08s animated fadeInUp">
                                <div class="wd75 mc rcln_w">
                                    <div class="rclnpic tc"><img src="../images/liu.png" width="100"></div>
                                    <p class="tc fs3 pt16 lh3" style="font-size: 16px">文化融人、氛围塑人<br>平台留人、成果共享</p>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </section>
                <fieldset>
                    <legend><span><p style="margin-top: -15px;font-size: 24px;text-align: center;">人才战略</p><p
                            class="title_msg_p"
                            style="font-size: 12px;margin-top: -5px;"><a>Talent</a> <a
                            style="color: red;">strategy</a></p> </span>
                    </legend>
                </fieldset>
                <div class="introduce_box">
                    <!--<div class="introduce-left">-->
                    <div style="font-size: 16px;color: #666;line-height: 28px;">
                        <p>&#12288;&#12288;从公司战略和组织发展需求出发，围绕杰美特人才梯队和人才队伍建设，以“人才第一，以人为本”为原则，构成一整套“人才重视、人才选拔、人才开发、人才使用、人才激留、人才提升”的人才管理闭环机制，不断优化人与岗位、人与团队、人与组织的匹配度，完善人才队伍的结构和水平，保持组织的激情与活力，以员工与企业一起成长为使命，努力实现“和谐共赢，共同发展”的最终目标。</p>
                    </div>
                    <br/>
                    <!--<div class="introduce-right">-->
                    <div style="text-align:center">
                        <img src="images/bbv.jpg" style="width:100%;">
                        <br/>
                    </div>
                </div>
            </div>
            <div class="introduce  w">
                <fieldset>
                    <legend><span id="link2"><p style="margin-top: -20px;text-align: center;">人才培养</p><p
                            class="title_msg_p"
                            style="font-size: 15px;margin-top: -5px; margin-bottom: 0px;"><a>Talent</a> <a
                            style="color: red;">cultivation</a></p> </span>
                    </legend>
                </fieldset>
                <br/>
                <!--<h4 id="link2" style="font-size: 30px;">人才培养</h4>-->
                <div class="introduce_box">
                    <!--<div class="introduce-left">-->
                    <div style="font-size: 16px;color: #666;line-height: 28px;">
                        <p>&#12288;&#12288;杰美特在快速发展的同时，也很重视人才的培养和发展，重视公司人才队伍梯队建设工作。
                            随着杰美特善熵学院成立，杰美特三级人才培养体系雏形构成，针对不同层次培养对象， 设置不同课程，同时不断完善领导力发展课程、测评中心建设等支持系统。 从公司战略、企
                            业文化建设服务的理念出发，通过帮助员工提升个人能力、个人综合素质和工作绩效，推动 员工与公司的共同成长，帮助员工实现更高层次的自我价值，成为有幸福感的人。</p>
                    </div>
                    <br/>
                    <!--<div class="introduce-right">-->
                    <div style="text-align:center">
                        <img src="images/san.jpg" style="width:100%;">
                        <br/>
                    </div>
                </div>
            </div>
            <div class="introduce  w">
                <fieldset>
                    <legend><span id="link3"><p style="margin-top: -20px;text-align: center;">人才引进</p><p
                            class="title_msg_p"
                            style="font-size: 15px;margin-top: -5px; margin-bottom: 0px;"><a>Talent</a> <a
                            style="color: red;">introduction</a></p> </span>
                    </legend>
                </fieldset>
                <br/>
                <!--<h4 id="link3" style="font-size: 30px;">人才引进</h4>-->
            </div>
            <br/>
            <!--人才引进图片全屏显示-->
            <div class="w" style=" display:flex;justify-content:center;align-items:center;">
                <img src="images/yinjin.jpg" style="text-align:center;width: 100%;">
            </div>
            <ul class="listTab w">
                <li class="activeClass tab1">社会招聘</li>
                <li class="tab2">校园招聘</li>
                <!-- <li class="tab3">内部推荐</li> -->
            </ul>
            <div>
                <section class="list" id="recruit_list">
                    <div id="par-change" style="font-size:12px; margin-top: 30px">
                        <div class="w mc tc fs4 lh6 hide_mobile" style="background:#727171">
                            <div class="wd-6 fl white">职位名称</div>
                            <div class="wd-6 fl white">职位类别</div>
                            <div class="wd-6 fl white">工作地点</div>
                            <div class="wd-6 fl white">学历要求</div>
                            <div class="wd-6 fl white">招聘人数</div>
                            <div class="wd-6 fl white">详情</div>
                            <div class="clear"></div>
                        </div>
                        <div>

                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show22"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">法务助理<input type="button" class="arrow22" folder_num="0" value=" ∨">
                            </div>
                            <div class="wd-6 fl">法务类</div>
                            <div class="wd-6 fl">深圳-龙华</div>
                            <div class="wd-6 fl">本科及以上</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.法学相关专业本科及以上学历；<br>
                                    2.思维严谨、责任心强，忠诚度高，办事沉稳、细致，能承受较大的工作压力，具有良好的沟通能力和团队合作精神；<br>
                                    3.具有较强的逻辑思维能力及分析、处理、应变及解决法律问题的能力；<br>
                                    4.具有良好的合同及法律文书写作功底，能够独立起草、评审合同；<br>
                                    5.法学相关专业本科及以上学历，有企业法务工作经验或律所经验者优先。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.对公司的合同进行法律审核及修订，为进行必要的合同法务条款谈判提供法律咨询及建议；<br>
                                    2.制定和修订范本合同，建设公司范本合同体系，指导范本合同的使用；<br>
                                    3.检查公司合同内审及台账登记情况，检查合同档案的保管及移交情况；<br>
                                    4.内部控制建设,根据外部监管要求和集团内在管理需要，协助各子公司体系部编制、修订和发布内控手册；<br>
                                    5.内控控制持续完善，结合集团、下属公司内控评价结果，协助整改；实地调研分子公司的运营管理、ERP流程，收集业务运营使用和产生的制度、流程或表单，完善内控制度、流程、表单；<br>
                                    6.协助体系部编写内控完善过程中所需的制度、流程、表单；<br>
                                    7.参与内控评价，协助监察审计部的内控评价，进行内控测试并编制测试底稿，整理提交内控测评结果，必要时进行内控缺陷认定；<br>
                                    8.企业管理相关流程梳理、项目推动和支持；<br>
                                    9.部门日常相关工作及领导安排的其他工作。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show1" style="cursor:pointer;">
                            <div class="wd-6 fl fc3">ERP开发工程师<input type="button" class="arrow13" folder_num="1" value=" ∨">
                            </div>
                            <div class="wd-6 fl">软件开发类</div>
                            <div class="wd-6 fl">深圳-龙华</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.大专以上学历，计算机、信息管理等相关专业；<br>                                          2.熟悉制造也相关流程，熟悉Genero(4gl)语言，熟练掌握T100设计器/GR/XR报表开发；<br>
                                    3.熟悉Oracle,会编写存储过程、函数、触发器等，熟练使用PL/SQL开发工具；<br>
                                    4.有3年以上TIPTOP GP或T100相关开发经验；<br>                                     5.有BPM开发或BI开发经验者优先考虑；<br>                                                                     6.积极进取，工作责任心强。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1. ERP系统管理及维护：<br> 
                                    1）母子公司T100 ERP系统流程疏导；<br> 
                                    2）母子公司T100 ERP程序异常问题解决；<br> 
                                    3）母子公司T100 ERP界面与程序优化；<br> 
                                    4）母子公司T100 ERP系统报表开发及二次开发；<br> 
                                    2. BPM&BI系统的维护<br> 
                                    1）BPM系统的实施；<br> 
                                    2）BPM系统的流程设计与开发；<br> 
                                    3）BPM系统与T100系统的接口开发；<br> 
                                    4）BI系统的报表设计与开发；<br> 
                                    5）BI系统与T100系统的接口开发。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show2" style="cursor:pointer;">
                            <div class="wd-6 fl fc3">总帐会计<input type="button" class="arrow10" folder_num="2"
                                                                 value=" ∨"></div>
                            <div class="wd-6 fl">财务类</div>
                            <div class="wd-6 fl">深圳-龙华</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.具有5年以上工作经验，3年以上本岗位相关的工作经验；<br> 
                                    2.财会，审计类专业，持有效的会计从业资格证书；有会计师职称者优先；<br> 
                                    3.熟悉会计相关法律、法规，熟悉生产型企业流程，能独立完成成本，总账账务并编制财报；<br> 
                                    4.精通Excel和ERP,具备一定的数据分析能力；<br> 
                                    5.为人诚实、有原则性，有较强的职业敏感度，具备良好的沟通能力，能承受一定的工作压力。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.费用报销审核及凭证填制；<br>                             
                                    2.帐务核对；<br>
                                    3.报表编制；<br>
                                    4.帐务资料管理；<br>
                                    5.完成其他由上级主管指派的工作。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show3" style="cursor:pointer;">
                            <div class="wd-6 fl fc3">成本会计<input type="button" class="arrow8" folder_num="3"
                                                                    value=" ∨">
                            </div>
                            <div class="wd-6 fl">财务类</div>
                            <div class="wd-6 fl">东莞-凤岗</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.具有4年以上工作经验，2年以上成本岗位工作经验；<br>
                                    2.财会、金融、审计类专业，本科以上学历，持有效的会计从业资格证书，具备助理会计师以上职称；<br>
                                    3.熟悉工厂物流/成本信息流流程，能够熟练操作ERP系统；<br>
                                    4.精通Excel，有一定的SQL基础，具备较强的数据分析能力；<br>
                                    5.性格开朗、思维缜密，具备优秀的组织能力、良好的沟通能力,能承受一定的工作压力。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.超补单的计价与审核；<br>
                                    2.生产日报表的复核与工时分析；<br>
                                    3.系统单据检核；<br>
                                    4.基础数据验证；<br>
                                    5.存货盘点；<br>
                                    6.成本核算及成本模块月结；<br>
                                    7.报表编制；<br>
                                    8.税务编报；<br>
                                    9.完成上级领导安排的其他事务。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show4" style="cursor:pointer;">
                            <div class="wd-6 fl fc3">韩语业务<input type="button" class="arrow6" folder_num="4" value=" ∨">
                            </div>
                            <div class="wd-6 fl">销售类</div>
                            <div class="wd-6 fl">深圳-龙华</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.精通韩语、会英语、日语优先；<br>
                                    2.两年以上业务项目管理或业务开发经验；<br>
                                    3.负责控制项目过程的各个环节，具有全局观念、计划和实施执行的能力；<br>
                                    4.能够积极主动收集用户需求，协调处理客户关系，提升客户满意度；<br>
                                    5.具有较全面的项目管理能力和行业知识，具备较强的学习能力，能迅速了解项目相关技术，并为项目决策作出指导；<br>
                                    6.较强的应变能力，能够灵活的处理突发事件、具备良好的职业道德，工作责任心、团结合作精神；<br>
                                    7.能承受短期高强度高压力工作；<br>
                                    8.具有优秀听说读写能力，熟悉办公软件使用。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.负责与国际客户、公司内各部门沟通、协调，以实际所负责项目的及时、高质量交付；<br>
                                    2.制定年度项目销售与开发计划。分解销售指标、制定具体的销售实施计划；<br>
                                    3.开拓新客户及维护老客户；<br>
                                    4.掌握行业信息，洞察行业发展趋向；<br>
                                    5.带领团队完成销售各环节如：开发、报价、打样、大货下单、进度跟进、异常处理、对账结算等；<br>
                                    6.负责对项目整体进度进度进行管控，关键节点把控，定期汇总并向总领导进行汇报，反馈项目进度及问题；
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show5" style="cursor:pointer;">
                            <div class="wd-6 fl fc3">QE工程师<input type="button" class="arrow5" folder_num="5"
                                                                   value=" ∨">
                            </div>
                            <div class="wd-6 fl">品质管理类</div>
                            <div class="wd-6 fl">深圳-龙华</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.熟悉产品前期质量控制流程,熟练的使用QFD\FMEA\MSA\DQE\SPC等工具运用；<br>
                                    2.要求在塑胶工厂跟进过手机件开发品质工作至少2年以上；<br>
                                    3.熟悉塑胶模具结构、注塑成型的表面处理工艺流程及异常处理；<br>
                                    4.熟悉ISO9001体系运作；<br>
                                    5.对异常处理8D过程精通，有手机保护套\手机外壳相关行业同职工作经验一年以上者优先。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.建立客户需求渠道；<br>
                                    2.客户需求转化；<br>
                                    3.标准建立；<br>
                                    4.风险评估与规避措施；<br>
                                    5.产品开发技术评审；<br>
                                    6.可靠性设定；<br>
                                    7.试产跟进与质量问题分析；<br>
                                    8.客户资料的提交与配合；<br>
                                    9.试产转量产质量问题跟踪报告；<br>
                                    10.制程异常处理与跟进；<br>
                                    11.上级领导安排的其他事项。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show6" style="cursor:pointer;">
                            <div class="wd-6 fl fc3">外贸业务<input type="button" class="arrow5" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">销售类</div>
                            <div class="wd-6 fl">东莞-凤岗</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.热爱外贸事业、勤奋务实、认真仔细、责任必强、积极主动，具有良好的团队合作精神，服务意识及高度的执行力，能承受较强的工作压力，稳定性强；<br>
                                    2.优秀的英文听说读写能力，能够快速熟练地书写商务英文信函，口语良好能与国外客户无障碍面对面沟通；<br>
                                    3.具有两年以上外贸工作经验，熟练操作从询盘到回客户，从项目立项画图开模到 下单出货一系列工作，条理清晰，懂统筹归纳，具备良好的记忆力及成本意识。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.负责现有客户的新项目导入，RFQ-新项目导入-新项目首批量产；<br>
                                    2.维护老客户的关系，挖掘现有客户机会。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show7" style="cursor:pointer;">
                            <div class="wd-6 fl fc3">外贸跟单<input type="button" class="arrow5" folder_num="5"
                                                                    value=" ∨">
                            </div>
                            <div class="wd-6 fl">销售类</div>
                            <div class="wd-6 fl">东莞-凤岗</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">3</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>招聘要求：</h1>
                                <div class="content">
                                    1.具有两年以上外贸工作经验，熟练操作从询盘到回客户，下单出货一系列工作，条理清晰，懂统筹归纳，具务良好的记忆力及成本意识；<br>
                                    2.熟知对外贸易规章、政策、报关、货运、保险等手续，国际汇兑、支付方面的知识；<br>
                                    3.优秀的英文听说读写能力，能够快速熟练地书写商务英文信函，口语良好能与国外客户无障碍面对面沟通；<br>
                                    4.熟练操作Word、Excel、Powerpoint、Erp等Office办公软件，如图片处理、制作文档等；<br>
                                    5.热爱外贸事业、勤奋务实、认真仔细、责任心强、积极主动，具有良好的团队合作精神及服务意识，拥有高度的执行力，能承受较强的工作压力，稳定性强。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.跟进订单、制作排程、回复交期；<br>
                                    2.安排验货；<br>
                                    3.每月对帐。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show8" style="cursor:pointer;">
                            <div class="wd-6 fl fc3">项目工程师<input type="button" class="arrow5" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">项目管理类</div>
                            <div class="wd-6 fl">东莞-凤岗</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.熟练操作CAD、PRO/E等设计开发绘图软件，五年以上塑胶业产品项目管理经验；<br>
                                    2.熟悉各种塑胶原料性能（PC+PBS、PC、TPU等），二年以上塑胶模具设计或制作经验；<br>
                                    3.精通各类塑胶产品模具结构信注塑工艺；<br>
                                    4.有国内外知名客户跟进经验，国内（华为、小米、联想、OPPO、魅族、TCL等）国外（三星、苹果等），对项目管理体系精通。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.新项目进度规划与跟进把控项目重要节点；<br>
                                    2.模具问题点检讨与试模跟进；<br>
                                    3.根据客户需求样品制作与异常问题点解决；<br>
                                    4.新项目工程整合、BOM资料建立。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show9" style="cursor:pointer;">
                            <div class="wd-6 fl fc3">皮具打样工程师<input type="button" class="arrow5" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">生产管理类</div>
                            <div class="wd-6 fl">东莞-凤岗</div>
                            <div class="wd-6 fl">不限</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.熟悉传统皮套及电压皮套生产工艺；<br>
                                    2.能根据不同要求制作开发新的皮具样品；<br>
                                    3.懂皮具类产品的模治具设计、绘图；<br>
                                    4.熟练操作电脑软件ProE、CAD、UG等；<br>
                                    5.懂手表带制作经验优先。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.样品及工艺开发：<br>
                                    1）协助负责皮具样品的工艺制定和优化验证<；<br>
                                    2）负责样品制作和新工艺开发验证；<br>
                                    2.新项目跟进：<br>
                                    1）协助开发组长负责皮具样品的新工艺验证开发、样品设计、样品制作、样品确认等工作；<br>
                                    2）协助开发组长负责新产品量产导入时跟进并提供工艺技术支持培训；<br>
                                    3.工装夹具管理：<br>
                                    1）负责皮具新产品打样时工装夹具验收和机器设备调试；<br>
                                    2)负责验证新产品加工工艺条件并总结。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show10"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">注塑领班<input type="button" class="arrow5" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">生产管理类</div>
                            <div class="wd-6 fl">东莞-凤岗</div>
                            <div class="wd-6 fl">不限</div>
                            <div class="wd-6 fl">2</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1．从事注塑行业五年以上100人エ厂管理经验；（有注塑主管经验优先）<br>
                                    2．对日本品牌注塑机，日钢，东芝，住友熟悉优先考虑；<br>
                                    3．对PC，TPU熟悉者优先考虑；<br>
                                    4．上进心强具有团队意识；<br>
                                    5．有较强协调沟通能力学习能力，适应两班倒。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.生产管理；<br>
                                    2.产品品质判定及改善；<br>
                                    3.工艺流程改善；<br>
                                    4.培训考核；<br>
                                    5.安全生产；<br>
                                    6.上级领导安排的其他工作。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show11"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">钳工师傅<input type="button" class="arrow5" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">生产管理类</div>
                            <div class="wd-6 fl">东莞-凤岗</div>
                            <div class="wd-6 fl">不限</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.三年以上平板、手机报护套塑胶模具制作与维修工作经验；<br>
                                    2.能够独立对新模进行装配，吃苦耐劳责任制，按期完成模具交付；<br>
                                    3.能够看懂2D图，会熟练操作磨床、铣床。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.根据上级指令，及时完成模具的装配及维修任务；<br>
                                    2.严格按照操作规程，正确起吊、装夹、拆卸、组装及维修模具；<br>
                                    3.正确使用保管工具、量具，以及各种安全防护装置，确保安全生产。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show12"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">QC组长<input type="button" class="arrow5" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">品质管理类</div>
                            <div class="wd-6 fl">东莞-凤岗</div>
                            <div class="wd-6 fl">不限</div>
                            <div class="wd-6 fl">3</div>
                            <div class="wd-6 fl">2019-10-15</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.有相关的品质管理工作经验；<br>
                                    2.勤奋、热情、诚恳，拥有较强的学习和沟通能力；<br>
                                    3.较强的团队意识和沟通能力，能承受工作的压力，善于自我激励。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.QC工作安排和监督；<br>
                                    2.QC培训和工作指导；<br>
                                    3.品质异常反馈和处理；<br>
                                    4.品质报表检查和审核；<br>
                                    5.品质会议主持和参与；<br>
                                    6.QC工作考核及奖罚制度的实施；<br>
                                    7.完成上级交办的其他工作事项。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </section>

                <section class="list" style="display: none;" id="recruit_list">
                    <div id="par-change" style="font-size:12px; margin-top: 30px">
                        <div class="wd85 mc tc fs4 lh6 hide_mobile" style="background:#727171">
                            <div class="wd-6 fl white">职位名称</div>
                            <div class="wd-6 fl white">职位类别</div>
                            <div class="wd-6 fl white">工作地点</div>
                            <div class="wd-6 fl white">学历要求</div>
                            <div class="wd-6 fl white">招聘人数</div>
                            <div class="wd-6 fl white">详情</div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show14"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">业务开发助理<input type="button" class="arrow15" folder_num="0"
                                                                 value=" ∨">
                            </div>
                            <div class="wd-6 fl">销售类</div>
                            <div class="wd-6 fl">深圳/东莞</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">2</div>
                            <div class="wd-6 fl">2019-10-17</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.语言类专业必须过TEM-4，听说读写流利；<br>
                                    2.性格外向、反应敏捷、英文表达能力强，具有较强的沟通能力及交际技巧，具有亲和力；<br>                
                                    3.有较强的抗压能力，能够适应海外出差；<br> 
                                    4.商务英语、韩语、国际贸易专业。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.负责收集客户需求信息，并及时将信息反馈至主管负责人；<br>
                                    2.协助主管负责人做好市场数据分析；<br>  
                                    3.负责协助进行市场开发并有效推进项目落实；<br>
                                    4.搜集行业展会信息，并对展会信息分类整理后提交至负责人。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show15"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">商务助理（跟单）<input type="button" class="arrow14" folder_num="1" value=" ∨"></div>
                            <div class="wd-6 fl">销售类</div>
                            <div class="wd-6 fl">深圳/东莞</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">2</div>
                            <div class="wd-6 fl">2019-10-17</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.大专或以上学历，专业不限；<br>
                                    2.英语听、说、读、写能力佳；<br>
                                    3.工作主动积极性强，沟通能力良好；            
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.负责客户订单下达、交期评审、收款与货运安排；<br>
                                    2.负责销售项目跟进，收集反馈问题；<br>
                                    3.销售数据和大区信息统计与分析、文档资料管理、对接销售人员开展相关工作。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show16"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">法务助理<input type="button" class="arrow4" folder_num="2" value=" ∨">
                            </div>
                            <div class="wd-6 fl">法务类</div>
                            <div class="wd-6 fl">深圳</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">2</div>
                            <div class="wd-6 fl">2019-10-17</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.本科以上学历，法律法学专业；<br>
                                    2.有合作精神；<br>
                                    3.思维敏捷缜密，思路清晰，语言和文字表达能力强。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.协助起草、审阅法律文书，起草、审核相关合同；<br>
                                    2.辅助律师、法务人员完成相关工作；<br>
                                    3.参与重大事故的处理工作，协助有关部门进行善后处理；<br>
                                    4.负责日常法律事务处理，提供法律支持、咨询。
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show17"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">财务助理<input type="button" class="arrow3" folder_num="3" value=" ∨">
                            </div>
                            <div class="wd-6 fl">财务类</div>
                            <div class="wd-6 fl">深圳</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">4</div>
                            <div class="wd-6 fl">2019-10-17</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.会计、财务管理等相关专业，大专以上学历；<br>
                                    2.具有良好职业道德，工作认真细致、责任心强。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.审核财务单据，整理档案，管理发票；<br>
                                    2.协助审核记账凭证、核对调整账目、预算分析；<br>         
                                    3.监督日常费用、管理固定资产；<br>
                                    4.统计、打印、呈交、登记、保管各类报表和报告。
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show18"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">助理设计师<input type="button" class="arrow2" folder_num="4" value=" ∨">
                            </div>
                            <div class="wd-6 fl">设计类</div>
                            <div class="wd-6 fl">深圳/东莞</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">6</div>
                            <div class="wd-6 fl">2019-10-17</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1、熟悉电脑平面软件PS、CDR、AI，对平面设计有浓厚的兴趣，能协助完成画册的设计制作；<br>
                                    2、做事严谨认真细致，有创新意识；<br>
                                    3、大专或以上学历，艺术设计或相关设计专业或致力于设计行业发展的，应届毕业生亦可。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1、协助公司日常策划设计制作，平面设计、制作及其它图文处理；<br>
                                    2、协助其他部门人员顺利完成设计工作。
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show19"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">助理项目工程师<input type="button" class="arrow1" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">项目管理类</div>
                            <div class="wd-6 fl">深圳/东莞</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">7</div>
                            <div class="wd-6 fl">2019-10-17</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.大专以上学历，模具设计、计算机相关专业；<br>
                                    2.具备一定的管理理论基础，有独立的思考能力和较强的进取心，有出色的文字和语言表达能力；<br>
                                    3.具备优秀的沟通能力、良好的决策判断能力和计划组织能力；<br>
                                    4 .具备良好的职业道德素质，抗压性强、有创新力、善于沟通。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.了解项目管理的模式和具体项目的特定要求，参与项目执行，完成项目的组织、操作和记录；<br>
                                    2.联系项目组成员，协助会议召开并做好会议记录；<br>
                                    3.负责项目文档资料的收集、整理和撰写，根据项目业务需求生成报表；<br>
                                    4.跟进项目进度，及时反馈和处理项目进展过程中出现的问题；
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show19"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">模具设计师助理<input type="button" class="arrow1" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">生产管理类</div>
                            <div class="wd-6 fl">东莞凤岗</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">3</div>
                            <div class="wd-6 fl">2019-10-17</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1、大专以上学历，机械、工业设计等相关专业毕业；<br>
                                    2、专注于技术、设计工作，具有团队协调和合作能力。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1、协助设计师进行新产品模具开发的设计和新开发模具的调试及整改；<br>
                                    2、模具相关资料题写与整理等相关工作和冲模设计组的管理；
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show19"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">招聘助理<input type="button" class="arrow1" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">人力资源管理类</div>
                            <div class="wd-6 fl">深圳/东莞</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-17</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.专科以上学历，人力资源专业；<br>
                                    2.细心认真，踏实稳重、责任心强；有条理；<br>
                                    3.亲和力和组织能力强，有良好的表达能力，协调能力，有团队协作精神；
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1、根据公司用人特点制订招聘渠道开发计划，开发并评估招聘渠道；
                                    2、定期进行网络招聘的岗位发布、刷新、更新维护，吸引求职者投递招聘岗位；<br>
                                    3、定期进行简历筛选、搜索，并通知、邀约合格的求职者面试；<br>
                                    4、负责接待求职面试人并追踪面试结果；<br>
                                    5、开展背景调查并提供调查报告，为人员录用提供参考依据；<br>
                                    6、总结招聘工作的经验教训，优化招聘管理流程并提出改进建议。
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show19"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">培训助理<input type="button" class="arrow1" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">人力资源管理类</div>
                            <div class="wd-6 fl">深圳/东莞</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">1</div>
                            <div class="wd-6 fl">2019-10-17</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1.大专及以上学历，人力资源管理、心理学或相关专业毕业；<br>
                                    2.具备优秀的语言表达、作文能力，擅长演讲，能承担各类培训项目主持任务；<br> 
                                    3.相貌端庄、职业形象佳，亲和力良好。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1.负责员工培训需求调查及各类培训数据的收集和整理；<br>
                                    2.负责各类培训实施前期准备、过程跟进及后期总结反馈。
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show19"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">电商运营助理<input type="button" class="arrow1" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">产品规划类</div>
                            <div class="wd-6 fl">深圳</div>
                            <div class="wd-6 fl">大专及以上</div>
                            <div class="wd-6 fl">2</div>
                            <div class="wd-6 fl">2019-10-17</div>
                            <div class="limits">
                                <h1>任职要求：</h1>
                                <div class="content">
                                    1、大专以上学历，电子商务专业、工商管理专业等相关专业毕业生；<br>
                                    2、具有良好的语言表达能力、人际关系沟通技巧；<br>
                                    3、与上进心，对自己和工作有要求，有团队协作精神。
                                </div>
                                <h1>岗位职责：</h1>
                                <div class="content">
                                    1、协助公司在各电商平台日常运营管理工作，包括店铺日常维护、产品上新、信息优化，并定期跟进产品销售情况；<br>
                                    2、处理日常客服工作。
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </section>
                <section class="list" style="display: none;" id="recruit_list">
                    <div id="par-change" style="font-size:12px; margin-top: 30px">
                        <div class="wd85 mc tc fs4 lh6 hide_mobile" style="background:#727171">
                            <div class="wd-6 fl white">职位名称</div>
                            <div class="wd-6 fl white">职位类别</div>
                            <div class="wd-6 fl white">工作地点</div>
                            <div class="wd-6 fl white">学历要求</div>
                            <div class="wd-6 fl white">招聘人数</div>
                            <div class="wd-6 fl white">详情</div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show10"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">财务金融类<input type="button" class="arrow15" folder_num="0"
                                                                 value=" ∨">
                            </div>
                            <div class="wd-6 fl">财务金融类</div>
                            <div class="wd-6 fl">浙江长兴</div>
                            <div class="wd-6 fl">本科及以上</div>
                            <div class="wd-6 fl">3</div>
                            <div class="wd-6 fl">11-28</div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show21"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">行政人事类<input type="button" class="arrow14" folder_num="1"
                                                                 value=" ∨">
                            </div>
                            <div class="wd-6 fl">行政管理类</div>
                            <div class="wd-6 fl">浙江长兴</div>
                            <div class="wd-6 fl">本科及以上</div>
                            <div class="wd-6 fl">2</div>
                            <div class="wd-6 fl">11-28</div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show22"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">工程环保类<input type="button" class="arrow4" folder_num="2" value=" ∨">
                            </div>
                            <div class="wd-6 fl">技术研发类</div>
                            <div class="wd-6 fl">浙江长兴</div>
                            <div class="wd-6 fl">本科及以上</div>
                            <div class="wd-6 fl">若干</div>
                            <div class="wd-6 fl">11-23</div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show23"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">计算机类<input type="button" class="arrow3" folder_num="3" value=" ∨">
                            </div>
                            <div class="wd-6 fl">技术研发类</div>
                            <div class="wd-6 fl">浙江长兴</div>
                            <div class="wd-6 fl">本科及以上</div>
                            <div class="wd-6 fl">若干</div>
                            <div class="wd-6 fl">11-23</div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show24"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">财务金融类<input type="button" class="arrow2" folder_num="4" value=" ∨">
                            </div>
                            <div class="wd-6 fl">财务金融类</div>
                            <div class="wd-6 fl">浙江长兴</div>
                            <div class="wd-6 fl">本科及以上</div>
                            <div class="wd-6 fl">若干</div>
                            <div class="wd-6 fl">11-23</div>
                            <div class="clear"></div>
                        </div>

                        <div class="wd85 mc tc fs4 lh6 recruit_list_num hide_mobile" id="show25"
                             style="cursor:pointer;">
                            <div class="wd-6 fl fc3">行政人事类<input type="button" class="arrow1" folder_num="5" value=" ∨">
                            </div>
                            <div class="wd-6 fl">行政管理类</div>
                            <div class="wd-6 fl">浙江长兴</div>
                            <div class="wd-6 fl">本科及以上</div>
                            <div class="wd-6 fl">若干</div>
                            <div class="wd-6 fl">11-23</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </section>
            </div>
            <br/>
            <div class="introduce  w">
                <fieldset>
                    <legend><span id="link4"><p style="margin-top: -20px;text-align: center;">员工生活</p><p
                            class="title_msg_p"
                            style="font-size: 15px;margin-top: -5px; margin-bottom: 0px;"><a style="color: red;">Comfortably</a> <a>life</a></p> </span>
                    </legend>
                </fieldset>
                <!--<h4 id="link4" style="font-size: 30px;">员工生活</h4>-->
                <div style="margin-top: 50px; text-align: center;">
                    <div><img src="images/people-life-01.jpg"
                              style="display: inline-block; width: 32%;margin-right: 2mm;"><img
                            src="images/people-life-02.jpg"
                            style="display: inline-block; width: 32%;margin-right: 2mm;"><img
                            src="images/people-life-03.jpg"
                            style="display: inline-block; width: 32%;margin-right: 2mm;">
                    </div>
                    <div style="margin-top: 2mm"><img src="images/people-life-04.jpg"
                                                      style="display: inline-block; width: 32%;margin-right: 2mm;"><img
                            src="images/people-life-05.jpg"
                            style="display: inline-block; width: 32%;margin-right: 2mm;"><img
                            src="images/people-life-06.jpg"
                            style="display: inline-block; width: 32%;margin-right: 2mm;">
                    </div>
                    <div style="margin-top: 2mm"><img src="images/people-life-07.jpg"
                                                      style="display: inline-block; width: 32%;margin-right: 2mm;"><img
                            src="images/people-life-08.jpg"
                            style="display: inline-block; width: 32%;margin-right: 2mm;"><img
                            src="images/people-life-09.jpeg"
                            style="display: inline-block; width: 32%;margin-right: 2mm;">
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</main>
<!--main 结束-->
<!--底部 开始-->
<div class="footer" style="width: 1200px;">
    <div class="container">
        <div class="footer-nav">
            <li>
                <a href="https://mall.jd.com/index-1000131581.html"><img src="images/logo0.png" height="40"
                                                                         width="120"/></a>
            </li>
            <li><a href="about">关于杰美特</a></li>
            <li><a href="product">旗下产品</a></li>
            <li><a href="culture">企业文化</a></li>
            <li><a href="develop">人力发展</a></li>
            <li><a href="contact">联系我们</a></li>
        </div>
        <div class="copy" style="margin-left: 100px">
            版权所有: 深圳市杰美特科技股份有限公司
            <br>
            <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
            <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0"
                                                                     style="width: 24px;"></a>
        </div>
    </div>
    <div class="weixin-f">
        <a href="#">微信</a>
        <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
    </div>
    <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
    <div class="tmall-f jamc-f"
         style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;">
        <a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
    <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
</div>
<!--底部 结束-->

<script src="javascripts/fastclick.js"></script>
<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/swiper-3.4.2.min.js"></script>
<script src="javascripts/javascript.js"></script>
<script src="javascripts/video.min.js"></script>
<script src="javascripts/img.js"></script>
<script src="javascripts/swiper.animate1.0.2.min.js"></script>
<script>


    $(function () {
        FastClick.attach(document.body);
        navIn($("#header"));
        menuClick();
        forkClick();
        reNavList();
        dropDown();
        $(".zz").hide();
        tapPar($(".about-tab span"), $(".about-list"));
        tapPar1($(".listTab li"), $(".list"));

        $('.recruit_list_num').click(function () {

            if ($(this).children('.limits').css('display') == 'block') {
                $(this).children('.limits').slideUp();
                $(this).css('background', '#fff');
                $(this).find('input').val(' ∨')
            } else {
                $(this).children('.limits').slideDown();
                $(this).css('background', '#f6f6f6');
                $(this).find('input').val(' ∧')
            }


        })


        function tapPar(dom, dom1) {
            dom.on("click", function () {
                $(this).addClass("actv").parent().parent().siblings().find("span").removeClass(
                    "actv");
                var tabInd = $(this).index();
                dom1.eq(tabInd).show().siblings().hide();
            })
        };

        function tapPar1(dom, dom1) {
            dom.on("click", function () {
                $(this).addClass("activeClass").siblings().removeClass(
                    "activeClass");
                var tabInd = $(this).index();
                dom1.eq(tabInd).show().siblings().hide();
            })
        };

        // 滑动导航
        // var mySwiper1 = new Swiper('#tap', {
        //     freeMode: true,
        //     slidesPerView: 'auto',
        //     freeModeSticky: true,
        // });

        //播放器
        // var myPlayer = videojs('my-video');
        // videojs("my-video").ready(function() {
        //     var myPlayer = this;
        //     // myPlayer.play();//自动播放
        // });

        //轮播图
        // var swiper1 = new Swiper('#picture', {
        //     autoplay: 3000,
        //     slidesPerView: 4,
        //     spaceBetween: 0,
        //     loop: true,
        //     loopAdditionalSlides: 4,
        //     autoplayDisableOnInteraction: false,
        //     nextButton: '.swiper-button-next',
        //     prevButton: '.swiper-button-prev',
        //     breakpoints: {
        //         1400: {
        //             slidesPerView: 4,
        //         },
        //         1200: {
        //             slidesPerView: 4,
        //         },
        //         1000: {
        //             slidesPerView: 2.5,
        //         }
        //     }
        // });

        var swiper1 = new Swiper('.index-business', {
            autoplay: 3000,
            slidesPerView: 6,
            spaceBetween: 0,
            loop: true,
            loopAdditionalSlides: 6,
            autoplayDisableOnInteraction: false,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            breakpoints: {
                1400: {
                    slidesPerView: 5,
                },
                1200: {
                    slidesPerView: 4,
                },
                1000: {
                    slidesPerView: 3.2,
                },
                480: {
                    slidesPerView: 2.2,
                }
            }
        });


        // var about = [{
        //     'a_img': 'images/product/phone_category_1/show.jpg',
        //     'b_img': 'images/product/phone_category_1/show.jpg',
        // }, {
        //     'a_img': 'images/product/phone_category_2/show.jpg',
        //     'b_img': 'images/product/phone_category_2/show.jpg',
        // }, {
        //     'a_img': 'images/product/phone_category_3/show.jpg',
        //     'b_img': 'images/product/phone_category_3/show.jpg',
        // }, {
        //     'a_img': 'images/product/phone_category_4/show.jpg',
        //     'b_img': 'images/product/phone_category_4/show.jpg',
        // }, {
        //     'a_img': 'images/product/phone_category_5/show.jpg',
        //     'b_img': 'images/product/phone_category_5/show.jpg',
        // },{
        //     'a_img': 'images/product/ipad_category_1/show.jpg',
        //     'b_img': 'images/product/ipad_category_1/show.jpg',
        // }, {
        //     'a_img': 'images/product/ipad_category_2/show.jpg',
        //     'b_img': 'images/product/ipad_category_2/show.jpg',
        // }, {
        //     'a_img': 'images/product/ipad_category_3/show.jpg',
        //     'b_img': 'images/product/ipad_category_3/show.jpg',
        // }, {
        //     'a_img': 'images/product/ipad_category_4/show.jpg',
        //     'b_img': 'images/product/ipad_category_4/show.jpg',
        // }, {
        //     'a_img': 'images/product/ipad_category_5/show.jpg',
        //     'b_img': 'images/product/ipad_category_5/show.jpg',
        // }, {
        //     'a_img': 'images/product/othes_1/show.jpg',
        //     'b_img': 'images/product/othes_1/show.jpg',
        // }, {
        //     'a_img': 'images/product/othes_2/show.jpg',
        //     'b_img': 'images/product/othes_2/show.jpg',
        // }, {
        //     'a_img': 'images/product/othes_3/show.jpg',
        //     'b_img': 'images/product/othes_3/show.jpg',
        // }, {
        //     'a_img': 'images/product/othes_4/show.jpg',
        //     'b_img': 'images/product/othes_4/show.jpg',
        // }]

        // //企业文化
        // $(".culture .box_img").hover(function () {
        //     var index = $(this).index();
        //     $(this).find("img").attr("src", about[index].b_img);
        // }, (function () {
        //     var index = $(this).index();
        //     $(this).find("img").attr("src", about[index].a_img);
        // }));

    })
</script>
</body>

</html>
