        <!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
   <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
  <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/newslist.css"/>
    <title>杰美特-新闻资讯</title>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--头部开始-->
<header class="header" id="header">
    <div class="header-main">
        <a href="index">
            <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px"/>
        </a>
        <!--<div class="language">-->
            <!--<a class="cn" href="index">简</a>-->
            <!--<a class="en" href="index">EN</a>-->
            <!--<span class="menu"></span>-->
        <!--</div>-->
        <ul class="nav" id="nav">
            <li class="li_box">
                <a href="index">首页</a>
            </li>
            <li class="li_box">
                <a href="about">关于杰美特</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="about#link1">杰美特概括</a>
                        </li>
                        <li>
                            <a href="about#link2">董事长致辞</a>
                        </li>
                        <li>
                            <a href="about#link3">发展历程</a>
                        </li>
                        <li>
                            <a href="about#link4">荣誉资质</a>
                        </li>
                        <li>
                            <a href="about#link5">战略伙伴</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="li_box">
                <a href="news" class="current">新闻</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="news#link1">新闻资讯</a>
                        </li>
                        <li>
                            <a href="news#link2">公司动态</a>
                        </li>
                        <li>
                            <a href="news#link3">行业资讯</a>
                        </li>
                        <li>
                            <a href="news#link4">公益活动</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="product">旗下产品</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="product#link1">产品展示</a>
                        </li>
                        <li>
                            <a href="product#link2">生产研发</a>
                        </li>
                        <li>
                            <a href="product#link3">产品专利</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="party">党建工作</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="party#link1">党支部简介</a>
                        </li>
                        <li>
                            <a href="party#link2">红色文化</a>
                        </li>
                        <li>
                            <a href="party#link3">党建目标</a>
                        </li>
                        <li>
                            <a href="party#link4">党群资讯</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="culture">企业文化</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:400px">
                        <li>
                            <a href="culture#link1">核心价值观</a>
                        </li>
                        <li>
                            <a href="culture#link2">文化理念</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="school">善熵学院</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="school#link1">学院简介</a>
                        </li>
                        <li>
                            <a href="school#link2">学院定位</a>
                        </li>
                        <li>
                            <a href="school#link3">运营模式</a>
                        </li>
                        <li>
                            <a href="school#link4">培养体系</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="develop">人力发展</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="develop#link1">人才理念</a>
                        </li>
                        <li>
                            <a href="develop#link2">人才培养</a>
                        </li>
                        <li>
                            <a href="develop#link3">人才引进</a>
                        </li>
                        <li>
                            <a href="develop#link4">员工生活</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="contact">联系我们</a>
            </li>
            <div class="fork"></div>
        </ul>
        <div class="c"></div>
    </div>
    <div class="nav-bg"></div>
</header>
<div class="zz"></div>
<!--头部结束-->
<!--main 开始-->
<main>
    <div class="business mgt" id="business">
        <div class="business-list">
            <img src="../images/新闻资讯banner.jpg">
            <!-- <div class="business-bg"></div> -->
        </div>
    </div>
    <div class="newslist">
        <div class="newslist-tab">
            <div class="w">
                <span class="actv" id="link1"><img class="top_nav_icon_img" src="images/icon/news1.png"><strong>&#12288;新闻资讯</strong></span>
                <span id="link2"><img class="top_nav_icon_img" src="images/icon/news2.png"><strong>&#12288;公司动态</strong></span>
                <span id="link3"><img class="top_nav_icon_img" src="images/icon/news3.png"><strong>&#12288;行业资讯</strong></span>
                <span id="link4"><img class="top_nav_icon_img" src="images/icon/news4.png"><strong>&#12288;公益活动</strong></span>
            </div>
        </div>



        <div class="newslist-box" id="newsli<br />st-box">
            <!--新闻资讯 开始-->
            <div class="news-list w">
                <div class="dynamic" id="information-2">
                    <ul class="listul">
                        <li style="display: inline-block;">
                            <div class="dynamic-img">
                                <a href="news_1">
                                    <img src="newsimg/20181226.jpg" alt="杰美特集团成立党支部 以党建工作激发企业凝聚力">
                                </a>
                            </div>
                            <div class="dynamic-text">
                                <h4>
                                    <a href="news_1">杰美特集团成立党支部 以党建工作激发企业凝聚力</a>
                                </h4>
                                <div class="state">
                                    <time style="margin-left: 0px;">时间：2018.12.26</time>
                                    <p>
                                        党的十九大报告指出：党的基层组织是确保党的路线方针政策和决策部署贯彻落实的基础。这是新时代党中央对加强基层组织建设的新定位、新要求。深圳市杰美特科技股份有限公司（简称“杰美特集团”）积极响应和落实党的十九大精神，在各级党委领导的关心和帮助下，历经数月的筹备，杰美特党支部于2018年12月12日正式成立。</p>
                                </div>
                            </div>
                        </li>
                        <li style="display: inline-block;">
                            <div class="dynamic-img">
                                <a href="news_2">
                                    <img src="newsimg/20181122.jpg" alt="喜讯!！ 杰美特荣膺华为“2018年全球核心供应商质量守护奖”">
                                </a>
                            </div>
                            <div class="dynamic-text">
                                <h4>
                                    <a href="news_2">喜讯!！ 杰美特荣膺华为“2018年全球核心供应商质量守...</a>
                                </h4>
                                <div class="state">
                                    <time style="margin-left: 0px;">时间：2018-11-22</time>
                                    <p>
                                        2018年11月8日，以“把数字世界带入每个人、每个家庭、每个组织，构建万物互联的智能世界”为使命的华为公司，在深圳隆重召开了2018年全球核心供应商大会。</p>
                                </div>
                            </div>
                        </li>
                        <li style="display: inline-block;">
                            <div class="dynamic-img">
                                <a href="news_3">
                                    <img src="newsimg/20180201.jpg" alt="年会特辑 | 携手共进 共创辉煌">
                                </a>
                            </div>
                            <div class="dynamic-text">
                                <h4>
                                    <a href="news_3">年会特辑 | 携手共进 共创辉煌</a>
                                </h4>
                                <div class="state">
                                    <time style="margin-left: 0px;">时间：2018-02-01</time>
                                    <p>2018年1月31日晚，深圳市杰美特科技股份有限公司春节联欢晚会在东莞嘉辉酒店千人宴会厅隆重举行。</p>
                                </div>
                            </div>
                        </li>
                        <li style="display: inline-block;">
                            <div class="dynamic-img">
                                <a href="news_4">
                                    <img src="newsimg/20171018.jpg" alt="杰美特应邀参加香港环球资源秋季展">
                                </a>
                            </div>
                            <div class="dynamic-text">
                                <h4>
                                    <a href="news_4">杰美特应邀参加香港环球资源秋季展</a>
                                </h4>
                                <div class="state">
                                    <time style="margin-left: 0px;">时间：2017-10-18</time>
                                    <p>北京时间10月18日，2017年香港环球资源秋季展·移动电子展正式拉开帷幕。作为手机配件行业的标杆企业，深圳市杰美特科技有限公司应邀参加此次展会。</p>
                                </div>
                            </div>
                        </li>
                        <li style="display: inline-block;">
                            <div class="dynamic-img">
                                <a href="news_5">
                                    <img src="newsimg/20170901.png" alt="杰美特通过ISO现场认证！">
                                </a>
                            </div>
                            <div class="dynamic-text">
                                <h4>
                                    <a href="news_5">杰美特通过ISO现场认证！</a>
                                </h4>
                                <div class="state">
                                    <time style="margin-left: 0px;">时间：2017-09-01</time>
                                    <p>
                                        2017年9月1日，杰美特通过了质量管理体系（ISO9001:2008）、环境管理体系（ISO14001:2015）、职业健康安全管理体系（OHSAS18001:2007）三体系的认证审核。ISO认证是任何一个充满希望、带着使命的企业愿意终身追求的权威认证。获得质量体系认证，不仅代表着拥有了国际贸易的绿色通行证，更是杰美特作为高端领先的保护套品质包装的极大认可，是杰美特产品冲出国门、走向世界卖出的第一步，也是关键的一步。</p>
                                </div>
                            </div>
                        </li>
                        <li style="display: none;">
                            <div class="dynamic-img">
                                <a href="news_6">
                                    <img src="newsimg/20170113.jpg" alt="2017年杰美特集团年度表彰会暨新春联欢晚会圆满落幕">
                                </a>
                            </div>
                            <div class="dynamic-text">
                                <h4>
                                    <a href="news_6">2017年杰美特集团年度表彰会暨新春联欢晚会圆满落幕</a>
                                </h4>
                                <div class="state">
                                    <time style="margin-left: 0px;">时间：2017-01-13</time>
                                    <p>
                                        1月13日，杰美特集团“2017年度表彰会暨新春联欢晚会”在东莞嘉辉会酒店千人宴会厅圆满落幕。杰美特集团董事长谌建平先生及相关领导、嘉宾、集团总部全体员工及下属公司骨干员工等两千多人齐聚一堂，以炫丽多彩的舞台、精妙绝伦的节目，喜迎鸡年新春。</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="news-more">查看更多</a></div>
            </div>

            <!--公司动态 开始-->
            <div class="news-list w">
                <div class="dynamic" id="dynamic">
                    <ul class="listul">
                        <li style="display: inline-block;">
                          <div class="dynamic-img">
                              <a href="news_9">
                                  <img src="images/n91.jpg" alt="杰美特善熵学院开课啦！">
                              </a>
                          </div>
                          <div class="dynamic-text">
                              <h4>
                                  <a href="news_9">杰美特善熵学院开课啦！</a>
                              </h4>
                              <div class="state">
                                  <time style="margin-left: 0px;">时间：2019-04-19</time>
                                  <p>
                                    为了加快公司的战略发展，适应新形势下竞争的格局，根据集团2019年培训计划，规范招聘流程和标准、提高招聘的效率和效果，满足各中心、各部门日常招聘的要求，更好的推动招聘工作。
                                  </p>
                              </div>
                          </div>
                      </li>
                        <li style="display: inline-block;">
                            <div class="dynamic-img">
                                <a href="news_7">
                                    <img src="newsimg/20121008.jpg" alt="深圳杰美特科技有限公司高层主管一行返校参加校庆活动并来我院座谈">
                                </a>
                            </div>
                            <div class="dynamic-text">
                                <h4>
                                    <a href="news_7">深圳杰美特科技有限公司高层主管一行返校参加校庆活动并来我院座谈</a>
                                </h4>
                                <div class="state">
                                    <time style="margin-left: 0px;">时间：2012-10-08</time>
                                    <p>
                                        2012年10月8日下午，我校校友杰美特科技有限公司总裁黄新及公司高层管理人员一行3人乘参加学校校庆活动之机莅临艺术设计学院，受到我院院长程智力，副院长宋奕勤和工业设计教研室师生的热情欢迎。黄总一行在我院会议室与学院40多名学生以“人生职业规划和成功的工业设计”为主题进行了座谈交流。</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="news-more">查看更多</a>
                </div>
            </div>
            <!--公司动态 结束-->

            <!--行业新闻 开始-->
            <div class="news-list w">
                <div class="industry" id="industry">
                    <ul class="listul">
                        <li style="display: inline-block;">
                            <div class="dynamic-img">
                                <a href="news_8">
                                    <img src="newsimg/20150825.jpg" alt="中创受邀三星配件核心经销商大会"></a>
                            </div>
                            <div class="dynamic-text">
                                <h4>
                                    <a href="news_8">中创受邀三星配件核心经销商大会</a>
                                </h4>
                                <div class="state">
                                    <time style="margin-left: 0px;">时间：2015-08-25</time>
                                    <p>
                                        2015年8月25日，“三星配件核心经销商大会”在哈尔滨凯宾斯基酒店隆重召开，来自全国各地众多经销商以及三星总部的相关领导出席会议。深圳市中创投资有限公司（简称中创）作为三星授权合作品牌及三星SMAPP核心供应商，受邀参加了此次会议。</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="news-more">查看更多</a>
                </div>
            </div>
            <!--行业新闻 结束-->

            <!--关爱社会 开始-->
            <div class="news-list w">
                <div class="society" id="society">
                </div>
            </div>
            <!--关爱社会 结束-->
        </div>
    </div>
</main>
<!--main 结束-->

<!--底部 开始-->
<div class="footer">
    <div class="container">
        <div class="footer-nav">
            <li><a href="https://mall.jd.com/index-1000131581.html"><img src="images/logo0.png" height="40" width="120"/></a>
            </li>
            <li><a href="about">关于杰美特</a></li>
            <li><a href="product">旗下产品</a></li>
            <li><a href="culture">企业文化</a></li>
            <li><a href="develop">人力发展</a></li>
            <li><a href="contact">联系我们</a></li>
        </div>
        <div class="copy" style="margin-left: 100px">
            版权所有: 深圳市杰美特科技股份有限公司
            <br>
            <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
            <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0"
                                                                     style="width: 24px;"></a></div>
    </div>
    <div class="weixin-f">
        <a href="#">微信</a>
        <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
    </div>
    <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
    <div class="tmall-f jamc-f" style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;"><a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
    <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
</div>
<!--底部 结束-->

<script src="javascripts/fastclick.js"></script>
<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/swiper-3.4.2.min.js"></script>
<script src="javascripts/javascript.js"></script>
<script src="javascripts/news/news.js"></script>
<script src="javascripts/video.min.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
        navIn($("#header"));
        menuClick();
        forkClick();
        reNavList();
        dropDown();
        $(".zz").hide();
        tapPar($(".newslist-tab span"), $(".news-list"));

        function tapPar(dom, dom1) {
            dom.on("click", function () {
                $(this).addClass("actv").siblings().removeClass("actv");
                var tabInd = $(this).index();
                if (tabInd == 0) {
                    window.location.href = "news"
                }
                dom1.eq(tabInd).show().siblings().hide();
            })
        };

        addnews(3, 3);

        //显示文字字数
        textMore('.information ul li h4 a', 15)
        textMore('.information-list ul li h4 a', 15)
        textMore('.information ul li p', 33)
        textMore('.information-list ul li p', 42)
        textMore('.dynamic-text p,.industry-text p', 102)
        textMore('.dynamic-text h4 a,.industry-text h4 a', 28)

        //焦点图新闻
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 4000,
            autoplayDisableOnInteraction: false,
            effect: 'fade', //切换效果
            loop: true, //环路
            autoResize: true,
            paginationType: 'bullets', //分页器类型
            pagination: '.swiper-pagination', // 分页器
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true, //点击分页器切换
            autoHeight: true,
        });

        //焦点图新闻鼠标悬停 停止自动循环 移开恢复循环
        $("#new-news").mouseenter(function () { //滑过悬停
            mySwiper.stopAutoplay(); //mySwiper 为上面你swiper实例化的名称
        }).mouseleave(function () { //离开开启
            mySwiper.startAutoplay();
        });

        $(window).resize(function () {
            // textMore('.information ul li h4 a',12)
            // textMore('.information-list ul li h4 a',10)
        })

    })
</script>
</body>

</html>
