<!DOCTYPE html>
<html lang="zh">

<head>
    <style class="vjs-styles-defaults">
        .video-js {
            width: 300px;
            height: 150px;
        }

        .vjs-fluid {
            padding-top: 56.25%
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
   <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/news/news_1.css">
    <link href="stylesheets/video-js.css" rel="stylesheet" type="text/css">
    <!--	<link rel="stylesheet" type="text/css" href="css/about.css" />-->

    <title>2017年杰美特集团年度表彰会暨新春联欢晚会圆满落幕</title>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=430806"></script>
    <link rel="stylesheet" href="http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=8105b07e.css">
</head>
<body>
<!--头部开始-->
<header class="header" id="header">
    <div class="header-main">
        <a href="index">
            <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px"/>
        </a>
        <!--<div class="language">-->
            <!--<a class="cn" href="index">简</a>-->
            <!--<a class="en" href="index">EN</a>-->
            <!--<span class="menu"></span>-->
        <!--</div>-->
        <ul class="nav" id="nav">
            <li class="li_box">
                <a href="index">首页</a>
            </li>
            <li class="li_box">
                <a href="about">关于杰美特</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="about#link1">杰美特概括</a>
                        </li>
                        <li>
                            <a href="about#link2">董事长致辞</a>
                        </li>
                        <li>
                            <a href="about#link3">发展历程</a>
                        </li>
                        <li>
                            <a href="about#link4">荣誉资质</a>
                        </li>
                        <li>
                            <a href="about#link5">战略伙伴</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="li_box">
                <a href="news" class="current">新闻</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="news#link1">新闻资讯</a>
                        </li>
                        <li>
                            <a href="news#link2">公司动态</a>
                        </li>
                        <li>
                            <a href="news#link3">行业资讯</a>
                        </li>
                        <li>
                            <a href="news#link4">公益活动</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="product">旗下产品</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="product#link1">产品展示</a>
                        </li>
                        <li>
                            <a href="product#link2">生产研发</a>
                        </li>
                        <li>
                            <a href="product#link3">产品专利</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="party">党建工作</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="party#link1">党支部简介</a>
                        </li>
                        <li>
                            <a href="party#link2">红色文化</a>
                        </li>
                        <li>
                            <a href="party#link3">党建目标</a>
                        </li>
                        <li>
                            <a href="party#link4">党群资讯</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="culture">企业文化</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:400px">
                        <li>
                            <a href="culture#link1">核心价值观</a>
                        </li>
                        <li>
                            <a href="culture#link2">文化理念</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="school">善熵学院</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="school#link1">学院简介</a>
                        </li>
                        <li>
                            <a href="school#link2">学院定位</a>
                        </li>
                        <li>
                            <a href="school#link3">运营模式</a>
                        </li>
                        <li>
                            <a href="school#link4">培养体系</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="develop">人力发展</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="develop#link1">人才理念</a>
                        </li>
                        <li>
                            <a href="develop#link2">人才培养</a>
                        </li>
                        <li>
                            <a href="develop#link3">人才引进</a>
                        </li>
                        <li>
                            <a href="develop#link4">员工生活</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="contact">联系我们</a>
            </li>
            <div class="fork"></div>
        </ul>
        <div class="c"></div>
    </div>
    <div class="nav-bg"></div>
</header>
<div class="zz" style="display: none;"></div>
<!--头部结束-->
<!--main 开始-->
<main>
    <div class="business mgt" id="business">
            <div class="business-list" style="height:auto;">
                    <img src="../images/newslist_00.jpg" style="width:100%">
            </div>
    </div>
    <div class="newsbox" id="newsbox">

        <div class="news-top">
            <div class="w">
                <div class="location">
                    <a href="index">
                        <img src="images/newsicon_00.png">
                    </a>
                    <a href="news">新闻</a>
                    <a href="news#link1">新闻资讯</a>
                </div>
                <dvi class="nex-por">
                    <a href="news_8"></a>
                    <a href="news_8"></a>
                </dvi>
            </div>
        </div>
        <div class="news-text w">
            <h4 id="title">2017年杰美特集团年度表彰会暨新春联欢晚会圆满落幕</h4>
            <div class="source">
                <!--<span>来源：杰美特集团</span>-->
                <span>2017-01-13</span>
            </div>
            <p>
                1月13日，杰美特集团“2017年度表彰会暨新春联欢晚会”在东莞嘉辉会酒店千人宴会厅圆满落幕。杰美特集团董事长谌建平先生及相关领导、嘉宾、集团总部全体员工及下属公司骨干员工等两千多人齐聚一堂，以炫丽多彩的舞台、精妙绝伦的节目，喜迎鸡年新春。</p>
            <p>本次晚会分为“表彰优秀员工””、“新春晚会”两部分组成。其中“幸运大抽奖”为晚会穿插内容。</p>
            <p class="img"><img src="images/news-6-1.jpg"></p>
            <p>
                杰美特集团董事长谌建平先生首先发表致辞，就2016年主要工作进行了详细回顾，总结取得的各项成绩，对全体员工的辛勤付出和敬业精神表示肯定和赞扬，向全体员工送出了美好的新年祝愿，并为2017年工作做了展望与部署。</p>
            <p class="img"><img src="images/news-6-2.jpg"></p>
            <p>随后由集团董事长谌建平先生和董事黄新先生为本年度的优秀员工颁发了奖牌和奖品。他们与公司同呼吸、共命运、心连心，立志用坚实的脚步、豪迈的胸襟，执着的信念，付出比别人更多的艰辛和汗水，成为杰美特的一面旗帜。</p>
            <p class="img"><img src="images/news-6-3.jpg"></p>
            <p>
                19:00晚会正式开始，节目精彩纷呈，现场气氛激情热烈。鲜明的青春气息，浓郁的企业文化，形象地展现着杰美特人的风采，充分体现了公司员工青春激昂、锐意进取的精神面貌。歌曲、舞蹈、歌舞情景剧、幽默的小品等都给大家带来了无限的欢乐。抽奖环节可以说是年会的高潮环节，真正的凭运气凭手气时刻，人人都有机会抱得大奖而归，抽奖嘉宾的每一次喊停，让台下的各位观众都摒弃呼吸，忐忑不安，牵动着每一个人的心。最后，整场晚会在大家举杯畅饮、互赠美好新年祝福的欢笑声中落下帷幕。</p>
            <p class="img"><img src="images/news-6-4.jpg"></p>
            <p>2017如期而至，让我们一起展望明朝，用美丽的心愿奏响2017年的号角，用灿烂的梦想引领杰美特未来的辉煌！</p>
        </div>
    </div>
</main>
<!--main 结束-->

<!--底部 开始-->
<div class="footer">
    <div class="container">
        <div class="footer-nav">
            <li><a href="https://mall.jd.com/index-1000131581.html"><img src="images/logo0.png" height="40" width="120"/></a>
            </li>
            <li><a href="about">关于杰美特</a></li>
            <li><a href="product">旗下产品</a></li>
            <li><a href="culture">企业文化</a></li>
            <li><a href="develop">人力发展</a></li>
            <li><a href="contact">联系我们</a></li>
        </div>
        <div class="copy" style="margin-left: 100px">
            版权所有: 深圳市杰美特科技股份有限公司
            <br>
            <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
            <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0"
                                                                     style="width: 24px;"></a></div>
    </div>
    <div class="weixin-f">
        <a href="#">微信</a>
        <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
    </div>
    <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
    <div class="tmall-f jamc-f" style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;"><a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
    <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
</div>
<!--底部 结束-->

<script src="javascripts/fastclick.js"></script>
<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/javascript.js"></script>
<script src="javascripts/news/news_1.js"></script>
<script src="javascripts/video.min.js"></script>

<script>

    $(function () {

        FastClick.attach(document.body);
        navIn($("#header"));
        menuClick();
        forkClick();
        reNavList();
        dropDown();
        $(".zz").hide();
        tapPar($(".newslist-tab span"), $(".news-list"));

        function tapPar(dom, dom1) {
            dom.on("click", function () {
                $(this).addClass("actv").siblings().removeClass("actv");
                var tabInd = $(this).index();
                dom1.eq(tabInd).show().siblings().hide();
            })
        };

        addnewsmore();


    })

</script>

<script>
    window.onload = function () {
        window._bd_share_config = {
            common: {
                bdText: $(".news-text").find("h4").text(),
                bdDesc: $(".news-text").find("p").eq(0).text(),
                bdUrl: window.location.href,
                bdPic: 'http://www.zf-tech.net/' + $(".news-text").find("p.img").eq(0).find("img").attr("src")
//			bdPic :'http://localhost/newsimg/201709152_2.png'
            },
            share: [{
                "bdSize": 16
            }]
        }
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
    }
</script>
<script>
    $(document).ready(function () {
        var a = $(".news-text").find("h4").text();
        $('title').text(a);
    });
</script>


</body>

</html>
