<!DOCTYPE html>
<html lang="zh">

<head>
    <style class="vjs-styles-defaults">
        .video-js {
            width: 300px;
            height: 150px;
        }

        .vjs-fluid {
            padding-top: 56.25%
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
  <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/news/news_1.css">
    <link href="stylesheets/video-js.css" rel="stylesheet" type="text/css">
    <!--	<link rel="stylesheet" type="text/css" href="css/about.css" />-->

    <title>中创受邀三星配件核心经销商大会</title>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=430806"></script>
    <link rel="stylesheet" href="http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=8105b07e.css">
</head>
<body>
<!--头部开始-->
<header class="header" id="header">
    <div class="header-main">
        <a href="index">
            <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px"/>
        </a>
        <!--<div class="language">-->
            <!--<a class="cn" href="index">简</a>-->
            <!--<a class="en" href="index">EN</a>-->
            <!--<span class="menu"></span>-->
        <!--</div>-->
        <ul class="nav" id="nav">
            <li class="li_box">
                <a href="index">首页</a>
            </li>
            <li class="li_box">
                <a href="about">关于杰美特</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="about#link1">杰美特概括</a>
                        </li>
                        <li>
                            <a href="about#link2">董事长致辞</a>
                        </li>
                        <li>
                            <a href="about#link3">发展历程</a>
                        </li>
                        <li>
                            <a href="about#link4">荣誉资质</a>
                        </li>
                        <li>
                            <a href="about#link5">战略伙伴</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="li_box">
                <a href="news" class="current">新闻</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="news#link1">新闻资讯</a>
                        </li>
                        <li>
                            <a href="news#link2">公司动态</a>
                        </li>
                        <li>
                            <a href="news#link3">行业资讯</a>
                        </li>
                        <li>
                            <a href="news#link4">公益活动</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="product">旗下产品</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="product#link1">产品展示</a>
                        </li>
                        <li>
                            <a href="product#link2">生产研发</a>
                        </li>
                        <li>
                            <a href="product#link3">产品专利</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="party">党建工作</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="party#link1">党支部简介</a>
                        </li>
                        <li>
                            <a href="party#link2">红色文化</a>
                        </li>
                        <li>
                            <a href="party#link3">党建目标</a>
                        </li>
                        <li>
                            <a href="party#link4">党群资讯</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="culture">企业文化</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:400px">
                        <li>
                            <a href="culture#link1">核心价值观</a>
                        </li>
                        <li>
                            <a href="culture#link2">文化理念</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="school">善熵学院</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="school#link1">学院简介</a>
                        </li>
                        <li>
                            <a href="school#link2">学院定位</a>
                        </li>
                        <li>
                            <a href="school#link3">运营模式</a>
                        </li>
                        <li>
                            <a href="school#link4">培养体系</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="develop">人力发展</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="develop#link1">人才理念</a>
                        </li>
                        <li>
                            <a href="develop#link2">人才培养</a>
                        </li>
                        <li>
                            <a href="develop#link3">人才引进</a>
                        </li>
                        <li>
                            <a href="develop#link4">员工生活</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="contact">联系我们</a>
            </li>
            <div class="fork"></div>
        </ul>
        <div class="c"></div>
    </div>
    <div class="nav-bg"></div>
</header>
<div class="zz" style="display: none;"></div>
<!--头部结束-->
<!--main 开始-->
<main>
    <div class="business mgt" id="business">
            <div class="business-list" style="height:auto;">
                    <img src="../images/newslist_00.jpg" style="width:100%">
            </div>
    </div>
    <div class="newsbox" id="newsbox">

        <div class="news-top">
            <div class="w">
                <div class="location">
                    <a href="index">
                        <img src="images/newsicon_00.png">
                    </a>
                    <a href="news">新闻</a>
                    <a href="news#link1">新闻资讯</a>
                </div>
                <dvi class="nex-por">
                    <a href="news_8"></a>
                    <a href="news_8"></a>
                </dvi>
            </div>
        </div>
        <div class="news-text w">
            <h4 id="title">杰美特善熵学院开课啦！</h4>
            <div class="source">
                <!--<span>来源：杰美特集团</span>-->
                <span>2019-04-19</span>
            </div>
            <p>
              为了加快公司的战略发展，适应新形势下竞争的格局，根据集团2019年培训计划，规范招聘流程和标准、提高招聘的效率和效果，满足各中心、各部门日常招聘的要求，更好的推动招聘工作。
            </p>
            <p>
              公司于2019年4月19日下午14:00时杰美特善熵学院在水都假日酒店举行了第一堂课。此次培训主题为“精准识人与高效招聘团队打造”，共分三节课：第一节课是招聘原则、招聘流程的分布，第二节课是招聘技巧、测评工具的使用分享，第三节课是结构化面试、面试评价表的讲解。
            </p>
            <p class="img"><img src="images/n91.jpg"></p>
            <p>
              快速发展的杰美特，注重团队建设、注重专业化、职业化人才的引进与培养，建立现代理念人才观。为加强大家对人才识别、引进的认识，此次参与人员包括各子公司负责人、各职能中心和各部门负责人和其助理。此次培训针对现在人才理念，招聘趋势、招聘方法、技巧、工具展开精辟的分析与讲解，让参会人员人事专业与非人事专业人员深刻了解了招聘那些事，唯美画面、丰富的案例、深入浅出、化繁为简的讲解、生动有趣的比喻、积极互动的氛围，让大家在分享互动和讨论中快速吸收课程内容。
            </p>
            <p class="img"><img src="images/n92.jpeg"></p>
            <p>
              通过此次培训，公司内部员工不仅对招聘有了深入的了解，内部员工之间也有了更深入的沟通与交流，增加了团队的意识和团队的重要性，各人员对于候选人识别和选拔也更加有信心。
            </p>
            <p>
              会后各子公司对于培训内容做了相对的内训计划，把学到东西分享给部门其他小伙伴，公司的培训体系正在慢慢优化，各项专业性培训内容将进一步加强，实现常态化、系统化，公司的招聘效果和效率在下一阶段有质的飞越！
            </p>
            <p class="img"><img src="images/n93.jpeg"></p>
        </div>
    </div>
</main>
<!--main 结束-->

<!--底部 开始-->
<div class="footer">
    <div class="container">
        <div class="footer-nav">
            <li><a href="https://mall.jd.com/index-1000131581.html"><img src="images/logo0.png" height="40" width="120"/></a>
            </li>
            <li><a href="about">关于杰美特</a></li>
            <li><a href="product">旗下产品</a></li>
            <li><a href="culture">企业文化</a></li>
            <li><a href="develop">人力发展</a></li>
            <li><a href="contact">联系我们</a></li>
        </div>
        <div class="copy" style="margin-left: 100px">
            版权所有: 深圳市杰美特科技股份有限公司
            <br>
            <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
            <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0"
                                                                     style="width: 24px;"></a></div>
    </div>
    <div class="weixin-f">
        <a href="#">微信</a>
        <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
    </div>
    <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
    <div class="tmall-f jamc-f" style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;"><a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
    <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
</div>
<!--底部 结束-->

<script src="javascripts/fastclick.js"></script>
<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/javascript.js"></script>
<script src="javascripts/news/news_1.js"></script>
<script src="javascripts/video.min.js"></script>

<script>

    $(function () {

        FastClick.attach(document.body);
        navIn($("#header"));
        menuClick();
        forkClick();
        reNavList();
        dropDown();
        $(".zz").hide();
        tapPar($(".newslist-tab span"), $(".news-list"));

        function tapPar(dom, dom1) {
            dom.on("click", function () {
                $(this).addClass("actv").siblings().removeClass("actv");
                var tabInd = $(this).index();
                dom1.eq(tabInd).show().siblings().hide();
            })
        };

        addnewsmore();


    })

</script>

<script>
    window.onload = function () {
        window._bd_share_config = {
            common: {
                bdText: $(".news-text").find("h4").text(),
                bdDesc: $(".news-text").find("p").eq(0).text(),
                bdUrl: window.location.href,
                bdPic: 'http://www.zf-tech.net/' + $(".news-text").find("p.img").eq(0).find("img").attr("src")
//			bdPic :'http://localhost/newsimg/201709152_2.png'
            },
            share: [{
                "bdSize": 16
            }]
        }
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
    }
</script>
<script>
    $(document).ready(function () {
        var a = $(".news-text").find("h4").text();
        $('title').text(a);
    });
</script>


</body>

</html>
