<!DOCTYPE html>
<html lang="zh">

<head>
    <style class="vjs-styles-defaults">
        .video-js {
            width: 300px;
            height: 150px;
        }

        .vjs-fluid {
            padding-top: 56.25%
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
  <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/news/news_1.css">
    <link href="stylesheets/video-js.css" rel="stylesheet" type="text/css">
    <!--	<link rel="stylesheet" type="text/css" href="css/about.css" />-->

    <title>年会特辑 | 携手共进 共创辉煌</title>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=430806"></script>
    <link rel="stylesheet" href="http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=8105b07e.css">
</head>
<body>
<!--头部开始-->
<header class="header" id="header">
    <div class="header-main">
        <a href="index">
            <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px"/>
        </a>
        <!--<div class="language">-->
            <!--<a class="cn" href="index">简</a>-->
            <!--<a class="en" href="index">EN</a>-->
            <!--<span class="menu"></span>-->
        <!--</div>-->
        <ul class="nav" id="nav">
            <li class="li_box">
                <a href="index">首页</a>
            </li>
            <li class="li_box">
                <a href="about">关于杰美特</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="about#link1">杰美特概括</a>
                        </li>
                        <li>
                            <a href="about#link2">董事长致辞</a>
                        </li>
                        <li>
                            <a href="about#link3">发展历程</a>
                        </li>
                        <li>
                            <a href="about#link4">荣誉资质</a>
                        </li>
                        <li>
                            <a href="about#link5">战略伙伴</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="li_box">
                <a href="news" class="current">新闻</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="news#link1">新闻资讯</a>
                        </li>
                        <li>
                            <a href="news#link2">公司动态</a>
                        </li>
                        <li>
                            <a href="news#link3">行业资讯</a>
                        </li>
                        <li>
                            <a href="news#link4">公益活动</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="product">旗下产品</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="product#link1">产品展示</a>
                        </li>
                        <li>
                            <a href="product#link2">生产研发</a>
                        </li>
                        <li>
                            <a href="product#link3">产品专利</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="party">党建工作</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="party#link1">党支部简介</a>
                        </li>
                        <li>
                            <a href="party#link2">红色文化</a>
                        </li>
                        <li>
                            <a href="party#link3">党建目标</a>
                        </li>
                        <li>
                            <a href="party#link4">党群资讯</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="culture">企业文化</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:400px">
                        <li>
                            <a href="culture#link1">核心价值观</a>
                        </li>
                        <li>
                            <a href="culture#link2">文化理念</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="school">善熵学院</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="school#link1">学院简介</a>
                        </li>
                        <li>
                            <a href="school#link2">学院定位</a>
                        </li>
                        <li>
                            <a href="school#link3">运营模式</a>
                        </li>
                        <li>
                            <a href="school#link4">培养体系</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="develop">人力发展</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="develop#link1">人才理念</a>
                        </li>
                        <li>
                            <a href="develop#link2">人才培养</a>
                        </li>
                        <li>
                            <a href="develop#link3">人才引进</a>
                        </li>
                        <li>
                            <a href="develop#link4">员工生活</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="contact">联系我们</a>
            </li>
            <div class="fork"></div>
        </ul>
        <div class="c"></div>
    </div>
    <div class="nav-bg"></div>
</header>
<div class="zz" style="display: none;"></div>
<!--头部结束-->
<!--main 开始-->
<main>
    <div class="business mgt" id="business">
            <div class="business-list" style="height:auto;">
                    <img src="../images/newslist_00.jpg" style="width:100%">
            </div>
    </div>
    <div class="newsbox" id="newsbox">

        <div class="news-top">
            <div class="w">
                <div class="location">
                    <a href="index">
                        <img src="images/newsicon_00.png">
                    </a>
                    <a href="news">新闻</a>
                    <a href="news#link1">新闻资讯</a>
                </div>
                <dvi class="nex-por">
                    <a href="news_2"></a>
                    <a href="news_4"></a>
                </dvi>
            </div>
        </div>
        <div class="news-text w">
            <h4 id="title">年会特辑 | 携手共进 共创辉煌</h4>
            <div class="source">
                <!--<span>来源：杰美特集团</span>-->
                <span>2018-02-01</span>
            </div>
            <p>2018年1月31日晚，深圳市杰美特科技股份有限公司春节联欢晚会在东莞嘉辉酒店千人宴会厅隆重举行。</p>
            <p>
                近日，深圳虽然迎来最冷的日子，但一点都挡不住大家对年会的热情。当晚公司领导、特邀嘉宾、供应商伙伴及杰美特集团全体员工欢聚一堂。精美节目、美酒佳肴、以及各种游戏和抽奖不胜枚举，欢声笑语其乐融融！下面由小编带大家走进这次的年会盛事：</p>
            <p class="img"><img src="images/news-3-1.png"></p>
            <p>年会开始，先由领导致辞与表彰优秀员工环节作为前奏。在谌董的致辞中，我们回顾杰美特在过去的2017年取得的辉煌成绩。杰美特是华为的手机保护类配件的优质供应商；登录海外市场Best buy, Tanget,
                Walmart等主流渠道，并获得绝对认可，取得手机及APPLE
                WATCH周边配件在全美名列前茅的优秀成绩。同时，谌董也对移动智能终端配件行业市场进行了分析，指出杰美特集团在今后的发展方向。谌董的精彩发言，让现场的员工感受到了公司蓬勃发展的现状，也对行业未来的发展充满希望。</p>
            <p class="img"><img src="images/news-3-2.png"></p>
            <p>
                当然，杰美特取得的优异成绩已及今后的快速发展，都离不开全公司所有员工的共同努力。在致辞结束后，公司对2017年优秀员工进行表彰，颁发了“优秀员工”、“优秀组长”、“优秀职员”、“优秀主管”四大奖章共37名优秀员工。通过对优秀员工的表彰，传达集团对员工的付出及辛勤工作的认可和爱护，也以此鼓励更多优秀员工的产生。</p>
            <p class="img"><img src="images/news-3-3.png"></p>
            <p>
                晚上19：00左右，在全体举杯同庆，正式拉开年会狂欢的帷幕。本次年会共有18个节目，包括歌舞、魔术、小品、乐器演奏等形式。“张灯结彩”作为第一个上台表演的节目，红红火火的服装特色，活泼热情的舞蹈风格，一场节目下来已经点燃了全场观众的热情，为大家带来新年红红火火的好兆头。而“特色舞蹈“床前明月光”更令所有人都刮目相看......正所谓“台下十年功，台上十分钟”，看着台上精彩的节目，小编不禁感慨杰美特家人们丰富多彩的才艺以及积极向上精神面貌。也正是有了这群可敬可爱的家人，公司才会蓬勃健康的一直向前发展。</p>
            <p class="img"><img src="images/news-3-4.png"></p>
            <p>
                随着开门红2018元大奖的抽取，抽奖环节开始接踵而至。看着台下获奖的员工欢呼着跑上台，大家在欢笑着祝福他们新年运气大好同时。也在紧张的看着自己手中奖劵暗暗期待。本场晚会共含13个大类奖项，抽奖数量多达五百多个，奖品类型包括现金奖及iPad、手机、家电等实物奖。丰富的奖项设计及大量的奖品，让在场的杰美特家人满载而归。</p>
            <p class="img"><img src="images/news-3-5.png"></p>
            <p>
                年会最后，是对节目的评奖环节，由中创财务部出品的“床前明月光”成功斩获一等奖。付出汗水的收获必定更加香甜，努力后的认可更让人喜悦。这也昭示着我们杰美特人简朴的生存理念。新春年会在佳肴美酒，欢声笑语中圆满结束。我们在回顾、感恩着过去一年发展的同时，也憧憬、展望着新年的美好！在此小编也祝愿杰美特集团在新的一年里发展越来越好，财源广进；杰美特家人们身体健康，事业顺心；新的一年，希望大家携手共进，共创辉煌！祝福大家18狗年旺、旺、旺！</p>
        </div>
    </div>
</main>
<!--main 结束-->

<!--底部 开始-->
<div class="footer">
    <div class="container">
        <div class="footer-nav">
            <li><a href="https://mall.jd.com/index-1000131581.html"><img src="images/logo0.png" height="40" width="120"/></a>
            </li>
            <li><a href="about">关于杰美特</a></li>
            <li><a href="product">旗下产品</a></li>
            <li><a href="culture">企业文化</a></li>
            <li><a href="develop">人力发展</a></li>
            <li><a href="contact">联系我们</a></li>
        </div>
        <div class="copy" style="margin-left: 100px">
            版权所有: 深圳市杰美特科技股份有限公司
            <br>
            <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
            <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0"
                                                                     style="width: 24px;"></a></div>
    </div>
    <div class="weixin-f">
        <a href="#">微信</a>
        <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
    </div>
    <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
    <div class="tmall-f jamc-f" style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;"><a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
    <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
</div>
<!--底部 结束-->

<script src="javascripts/fastclick.js"></script>
<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/javascript.js"></script>
<script src="javascripts/news/news_1.js"></script>
<script src="javascripts/video.min.js"></script>

<script>

    $(function () {

        FastClick.attach(document.body);
        navIn($("#header"));
        menuClick();
        forkClick();
        reNavList();
        dropDown();
        $(".zz").hide();
        tapPar($(".newslist-tab span"), $(".news-list"));

        function tapPar(dom, dom1) {
            dom.on("click", function () {
                $(this).addClass("actv").siblings().removeClass("actv");
                var tabInd = $(this).index();
                dom1.eq(tabInd).show().siblings().hide();
            })
        };

        addnewsmore();


    })

</script>

<script>
    window.onload = function () {
        window._bd_share_config = {
            common: {
                bdText: $(".news-text").find("h4").text(),
                bdDesc: $(".news-text").find("p").eq(0).text(),
                bdUrl: window.location.href,
                bdPic: 'http://www.zf-tech.net/' + $(".news-text").find("p.img").eq(0).find("img").attr("src")
//			bdPic :'http://localhost/newsimg/201709152_2.png'
            },
            share: [{
                "bdSize": 16
            }]
        }
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
    }
</script>
<script>
    $(document).ready(function () {
        var a = $(".news-text").find("h4").text();
        $('title').text(a);
    });
</script>


</body>

</html>
