<!DOCTYPE html>
<html lang="zh">

<head>
    <style class="vjs-styles-defaults">
        .video-js {
            width: 300px;
            height: 150px;
        }

        .vjs-fluid {
            padding-top: 56.25%
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
 <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/news/news_1.css">
    <link href="stylesheets/video-js.css" rel="stylesheet" type="text/css">
    <!--	<link rel="stylesheet" type="text/css" href="css/about.css" />-->

    <title>喜讯!！ 杰美特荣膺华为“2018年全球核心供应商质量守护奖”</title>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=430806"></script>
    <link rel="stylesheet" href="http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=8105b07e.css">
</head>
<body>
<!--头部开始-->
<header class="header" id="header">
    <div class="header-main">
        <a href="index">
            <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px"/>
        </a>
        <!--<div class="language">-->
            <!--<a class="cn" href="index">简</a>-->
            <!--<a class="en" href="index">EN</a>-->
            <!--<span class="menu"></span>-->
        <!--</div>-->
        <ul class="nav" id="nav">
            <li class="li_box">
                <a href="index">首页</a>
            </li>
            <li class="li_box">
                <a href="about">关于杰美特</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="about#link1">杰美特概括</a>
                        </li>
                        <li>
                            <a href="about#link2">董事长致辞</a>
                        </li>
                        <li>
                            <a href="about#link3">发展历程</a>
                        </li>
                        <li>
                            <a href="about#link4">荣誉资质</a>
                        </li>
                        <li>
                            <a href="about#link5">战略伙伴</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="li_box">
                <a href="news" class="current">新闻</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="news#link1">新闻资讯</a>
                        </li>
                        <li>
                            <a href="news#link2">公司动态</a>
                        </li>
                        <li>
                            <a href="news#link3">行业资讯</a>
                        </li>
                        <li>
                            <a href="news#link4">公益活动</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="product">旗下产品</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="product#link1">产品展示</a>
                        </li>
                        <li>
                            <a href="product#link2">生产研发</a>
                        </li>
                        <li>
                            <a href="product#link3">产品专利</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="party">党建工作</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="party#link1">党支部简介</a>
                        </li>
                        <li>
                            <a href="party#link2">红色文化</a>
                        </li>
                        <li>
                            <a href="party#link3">党建目标</a>
                        </li>
                        <li>
                            <a href="party#link4">党群资讯</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="culture">企业文化</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:400px">
                        <li>
                            <a href="culture#link1">核心价值观</a>
                        </li>
                        <li>
                            <a href="culture#link2">文化理念</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="school">善熵学院</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="school#link1">学院简介</a>
                        </li>
                        <li>
                            <a href="school#link2">学院定位</a>
                        </li>
                        <li>
                            <a href="school#link3">运营模式</a>
                        </li>
                        <li>
                            <a href="school#link4">培养体系</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="develop">人力发展</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="develop#link1">人才理念</a>
                        </li>
                        <li>
                            <a href="develop#link2">人才培养</a>
                        </li>
                        <li>
                            <a href="develop#link3">人才引进</a>
                        </li>
                        <li>
                            <a href="develop#link4">员工生活</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="contact">联系我们</a>
            </li>
            <div class="fork"></div>
        </ul>
        <div class="c"></div>
    </div>
    <div class="nav-bg"></div>
</header>
<div class="zz" style="display: none;"></div>
<!--头部结束-->
<!--main 开始-->
<main>
    <div class="business mgt" id="business">
            <div class="business-list" style="height:auto;">
                    <img src="../images/newslist_00.jpg" style="width:100%">
            </div>
    </div>
    <div class="newsbox" id="newsbox">

        <div class="news-top">
            <div class="w">
                <div class="location">
                    <a href="index">
                        <img src="images/newsicon_00.png">
                    </a>
                    <a href="news">新闻</a>
                    <a href="news#link1">新闻资讯</a>
                </div>
                <dvi class="nex-por">
                    <a href="news_1"></a>
                    <a href="news_3"></a>
                </dvi>
            </div>
        </div>
        <div class="news-text w">
            <h4 id="title">喜讯!！ 杰美特荣膺华为“2018年全球核心供应商质量守护奖”</h4>
            <div class="source">
                <!--<span>来源：杰美特集团</span>-->
                <span>2018-11-22</span>
            </div>
            <p>2018年11月8日，以“把数字世界带入每个人、每个家庭、每个组织，构建万物互联的智能世界”为使命的华为公司，在深圳隆重召开了2018年全球核心供应商大会。</p>
            <p>作为华为公司长期信赖的合作伙伴，深圳市杰美特科技股份有限公司受邀参会并荣膺华为公司“2018年全球核心供应商--CBG质量守护奖”。杰美特公司董事长谌建平、总裁黄新、总经理熊敏应邀出席了本次会议。</p>
            <p class="img"><img src="images/news-2-1.png"></p>
            <p>
                华为公司作为全球领先的ICT基础设施和智能终端研发和制造者，在全球范围内拥有规模庞大的供应链和合作伙伴。杰美特公司凭借雄厚的研发技术、极速的项目管理和订单交付能力，以卓越的产品品质从上千家供应商中脱颖而出，成为移动智能终端配件领域唯一获此殊荣的企业。</p>
            <p class="img"><img src="images/news-2-2.png"></p>
            <p>
                杰美特是一家致力于移动智能终端配件行业的龙头企业，始终秉着品质至上、诚信为先、追求卓越、合作共赢的理念，为客户提供便捷、快速的高质量定制化的一站式服务，从产品革新、市场打造到品牌文化建设，杰美特正在实现从传统配套制造到“智能制造+品牌战略发展”的新飞跃，并与诸多世界500强、中国500强及移动智能终端行业领军企业建立了良好的战略合作关系。</p>
            <p class="img"><img src="images/news-2-3.png"></p>
            <p>
                杰美特在华为公司的大力支持下，始终遵循华为“三化一稳定，严进严出”的要求，导入管理IT化、生产自动化、人员专业化和关键人员稳定化建设，在公司内部开展针对性地改进和管理提升，保证了提供给华为公司产品的交付质量，获得了华为的高度认可。</p>
            <p class="img"><img src="images/news-2-4.png"></p>
            <p>
                荣获此奖项，对于杰美特人来说，它是一种至高的荣誉，同时杰美特人也感受到了它是一份责任和担当。杰美特人将会以更加积极的心态，以追求卓越，不断创新的工匠精神，继续研发和制造高质量的产品，持续提升企业品牌形象，实现企业和客户持续共赢，在新时代、新征程，与所有的战略客户一起砥砺前行，共创未来！</p>
        </div>
    </div>
</main>
<!--main 结束-->

<!--底部 开始-->
<div class="footer">
    <div class="container">
        <div class="footer-nav">
            <li><a href="https://mall.jd.com/index-1000131581.html"><img src="images/logo0.png" height="40" width="120"/></a>
            </li>
            <li><a href="about">关于杰美特</a></li>
            <li><a href="product">旗下产品</a></li>
            <li><a href="culture">企业文化</a></li>
            <li><a href="develop">人力发展</a></li>
            <li><a href="contact">联系我们</a></li>
        </div>
        <div class="copy" style="margin-left: 100px">
            版权所有: 深圳市杰美特科技股份有限公司
            <br>
            <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
            <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0"
                                                                     style="width: 24px;"></a></div>
    </div>
    <div class="weixin-f">
        <a href="#">微信</a>
        <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
    </div>
    <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
    <div class="tmall-f jamc-f" style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;"><a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
    <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
</div>
<!--底部 结束-->

<script src="javascripts/fastclick.js"></script>
<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/javascript.js"></script>
<script src="javascripts/news/news_1.js"></script>
<script src="javascripts/video.min.js"></script>

<script>

    $(function () {

        FastClick.attach(document.body);
        navIn($("#header"));
        menuClick();
        forkClick();
        reNavList();
        dropDown();
        $(".zz").hide();
        tapPar($(".newslist-tab span"), $(".news-list"));

        function tapPar(dom, dom1) {
            dom.on("click", function () {
                $(this).addClass("actv").siblings().removeClass("actv");
                var tabInd = $(this).index();
                dom1.eq(tabInd).show().siblings().hide();
            })
        };

        addnewsmore();


    })

</script>

<script>
    window.onload = function () {
        window._bd_share_config = {
            common: {
                bdText: $(".news-text").find("h4").text(),
                bdDesc: $(".news-text").find("p").eq(0).text(),
                bdUrl: window.location.href,
                bdPic: 'http://www.zf-tech.net/' + $(".news-text").find("p.img").eq(0).find("img").attr("src")
//			bdPic :'http://localhost/newsimg/201709152_2.png'
            },
            share: [{
                "bdSize": 16
            }]
        }
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
    }
</script>
<script>
    $(document).ready(function () {
        var a = $(".news-text").find("h4").text();
        $('title').text(a);
    });
</script>


</body>

</html>
