<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
 <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/video-js.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/party/join.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/party/party.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/about_swiper.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/newslist.css"/>

    <title>深圳市杰美特科技股份有限公司官网-党建工作</title>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--头部开始-->
<header class="header" id="header">
    <div class="header-main">
        <a href="index">
            <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px"/>
        </a>
        <!--<div class="language">-->
        <!--<a class="cn" href="index">简</a>-->
        <!--<a class="en" href="index">EN</a>-->
        <!--<span class="menu"></span>-->
        <!--</div>-->
        <ul class="nav" id="nav">
            <li class="li_box">
                <a href="index">首页</a>
            </li>
            <li class="li_box">
                <a href="about">关于杰美特</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="about#link1">杰美特概括</a>
                        </li>
                        <li>
                            <a href="about#link2">董事长致辞</a>
                        </li>
                        <li>
                            <a href="about#link3">发展历程</a>
                        </li>
                        <li>
                            <a href="about#link4">荣誉资质</a>
                        </li>
                        <li>
                            <a href="about#link5">战略伙伴</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="li_box">
                <a href="news">新闻</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="news#link1">新闻资讯</a>
                        </li>
                        <li>
                            <a href="news#link2">公司动态</a>
                        </li>
                        <li>
                            <a href="news#link3">行业资讯</a>
                        </li>
                        <li>
                            <a href="news#link4">公益活动</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="product">旗下产品</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="product#link1">产品展示</a>
                        </li>
                        <li>
                            <a href="product#link2">生产研发</a>
                        </li>
                        <li>
                            <a href="product#link3">产品专利</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="party" class="current">党建工作</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul">
                        <li>
                            <a href="party#link1">党支部简介</a>
                        </li>
                        <li>
                            <a href="party#link2">红色文化</a>
                        </li>
                        <li>
                            <a href="party#link3">党建目标</a>
                        </li>
                        <li>
                            <a href="party#link4">党群资讯</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="culture">企业文化</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:400px">
                        <li>
                            <a href="culture#link1">核心价值观</a>
                        </li>
                        <li>
                            <a href="culture#link2">文化理念</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="school">善熵学院</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="school#link1">学院简介</a>
                        </li>
                        <li>
                            <a href="school#link2">学院定位</a>
                        </li>
                        <li>
                            <a href="school#link3">运营模式</a>
                        </li>
                        <li>
                            <a href="school#link4">培养体系</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="develop">人力发展</a>
                <span></span>
                <div class="nav-list">
                    <ul class="nav_ul" style="width:600px">
                        <li>
                            <a href="develop#link1">人才理念</a>
                        </li>
                        <li>
                            <a href="develop#link2">人才培养</a>
                        </li>
                        <li>
                            <a href="develop#link3">人才引进</a>
                        </li>
                        <li>
                            <a href="develop#link4">员工生活</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="li_box">
                <a href="contact">联系我们</a>
            </li>
            <div class="fork"></div>
        </ul>
        <div class="c"></div>
    </div>
    <div class="nav-bg"></div>
</header>
<div class="zz"></div>
<!--头部结束-->
<!--main 开始-->
<main>
    <div class="business mgt" id="business">
        <div class="business-list">
            <img src="../../images/党建.jpg">
            <!-- <div class="business-bg"></div> -->
        </div>
    </div>
    <div class="about">
        <div class="about-tab">
            <div class="w" id="tap">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="width: 25%">
                        <a href="#link1">
                            <span class="actv" id="btn"><img class="top_nav_icon_img"
                                                             src="images/icon/party1.png"><strong>&#12288;党支部简介</strong></span>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 25%">
                        <a href="#link2">
                            <span id="btn1"><img class="top_nav_icon_img" src="images/icon/party2.png"><strong>&#12288;红色文化</strong></span>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 25%">
                        <a href="#link3">
                            <span id="btn2"><img class="top_nav_icon_img" src="images/icon/party3.png"><strong>&#12288;党建目标</strong></span>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 25%">
                        <a href="#link4">
                            <span id="btn2"><img class="top_nav_icon_img" src="images/icon/party4.png"><strong>&#12288;党群资讯</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-box" id="about-box">
            <div class="introduce  w">
                <fieldset>
                    <legend><span id="link1"><p style="margin-top: -15px;text-align: center;">党支部简介</p><p
                        class="title_msg_p"
                                    style="font-size: 15px;margin-top: -5px;"><a
                                        style="color: red;">Party branch</a> <a>abertay</a></p> </span></legend>
                </fieldset>
                <!--<h4 id="link1" style="font-size: 30px">党支部简介</h4>-->
                <div class="introduce_box">
                   <div style="display: inline-block;">
                    <img src="images/party_introduce.jpg"
                         style="width: 32%;display: inline-block; vertical-align: middle;margin-left: 2%">
                    <div style="font-size: 16px;color: #4e4644;line-height: 28px;width: 54%;display: inline-block;vertical-align: middle;margin-left: 6%">
                        <p> &#12288;&#12288;深圳市杰美特科技股份有限公司党支部成立于2018年11月19日正式成立，直接隶属于深圳市宝能科技园党委，支部现有在册党员15名、预备党员2名，设支部书记、兼党委统战委员一名。</p>
                        <p> &#12288;&#12288;在公司高层领导的鼎力支持和上级党组织的领导下，党支部把学习十九大精神和习近平新时代中国特色社会主义思想为指导，发挥“红色基因、蓝色力量、绿色发展”、努力建设一支符合公司价值观、党性强、奉献精神强、大力探索新模式、新方法、成为公司改革和发展的先锋党员队伍。为建设一流党支部而努力奋斗。</p>
                    </div>
                </div>
                </div>

                <div class="culture">
                    <div class="introduce  ">
                        <fieldset>
                            <legend><span id="link2"><p style="margin-top: -15px;text-align: center;">红色文化</p><p
                                class="title_msg_p"
                                            style="font-size: 15px;margin-top: -5px;"><a style="color: red;">Red</a> <a>culture</a></p> </span>
                            </legend>
                        </fieldset>
                        <!--<h4 id="link2" style="color: #333; font-size: 30px;">红色文化</h4>-->
                        <br/>
                        <p>传承沉淀红色文化，深度植入“红色基因”，坚持围绕发展抓党建，抓好党建促发展。</p>
                        <div class="box">
                            <div class="box_img" id="newStaff">
                                <img src="images/party/img_01.png" alt="强基">
                                <p style="font-size: 28px; color: #000;">强基</p>
                                <p>传承红色基因</p>
                                <p>挖掘成长源动力</p>
                            </div>
                            <div class="box_img" id="lp">
                                <img src="images/party/img_02.png" alt="固根">
                                <p style="font-size: 28px; color: #000;">固根</p>
                                <p>激活红色血液</p>
                                <p>增强队伍战斗力</p>
                            </div>
                            <div class="box_img" id="technology">
                                <img src="images/party/img_03.png" alt="赋能">
                                <p style="font-size: 28px; color: #000;">赋能</p>
                                <p>打造红色引擎</p>
                                <p>提升创新驱动力</p>
                            </div>
                            <div class="box_img" id="workshops">
                                <img src="images/party/img_04.png" alt="铸魂">
                                <p style="font-size: 28px; color: #000;">铸魂</p>
                                <p>践行红色使命</p>
                                <p>发挥文化凝聚力</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="culture" style="margin-top: -50px">
                    <div class="introduce  ">
                        <fieldset>
                            <legend><span id="link3"><p style="margin-top: -20px;text-align: center;">党建目标</p><p
                                class="title_msg_p"
                                            style="font-size: 15px;margin-top: -5px;"><a>Party construction</a> <a
                                                style="color: red;">goal</a></p> </span>
                            </legend>
                        </fieldset>
                        <div class="join-service" style="margin-top: 30px">
                            <div class="join-service-box">
                                <!--<h4 id="link3" style="color: #333;font-size: 30px;margin-top: 0px;">党建目标</h4>-->
                                <br/>
                                <br/>
                                <ul class="clearfix">
                                    <li>
                                        <p style="font-size: 28px; color: #000;">杰出</p>
                                        <p style="font-size: 16px; color: #4e4644;line-height: 28px;">
                                            深入学习贯彻党的十九大精神和习近平新时代中国特色社会主义思想，为企业发展凝聚思想共识和智慧力量。</p>
                                    </li>
                                    <li>
                                        <p style="font-size: 28px; color: #000;">活力</p>
                                        <p style="font-size: 16px; color: #4e4644;line-height: 28px;">
                                            坚持党带群团、一体共建，充分发挥工青妇等群团组织作用，激发每名员工的内生动力和积极活力。</p>
                                    </li>
                                    <li>
                                        <p style="font-size: 28px; color: #000;">美丽</p>
                                        <p style="font-size: 16px; color: #4e4644;line-height: 28px;">
                                            全力打造美丽车间、美丽工厂、美丽公司、美丽员工等“美丽”系列，塑造公司美丽形象，提升公司美丽内涵。</p>
                                    </li>
                                    <li>
                                        <p style="font-size: 28px; color: #000;">担当</p>
                                        <p style="font-size: 16px; color: #4e4644;line-height: 28px;">
                                            切实加强社会主义核心价值观和企业核心价值观和文化教育，引导每名党员职工“讲责任、讲奉献，讲担当、讲正气”。</p>
                                    </li>
                                    <li>
                                        <p style="font-size: 28px; color: #000;">特别</p>
                                        <p style="font-size: 16px; color: #4e4644;line-height: 28px;">
                                            牢固树立“以人为本”理念，加大关心关爱力度，及时化解矛盾，努力营造“快乐工作、幸福生活”的浓厚氛围。</p>
                                    </li>
                                </ul>
                                <br/>
                            </div>
                        </div>
                        <div style="margin-top:20px"><img src="images/党建2.jpg" style="width:100%;"></div>
                    </div>
                </div>

                <div class="culture">
                    <div class=" introduce ">
                        <fieldset>
                            <legend><span id="link4"><p style="margin-top: -20px;text-align: center;">党群资讯</p><p
                                class="title_msg_p"
                                            style="font-size: 15px;margin-top: -5px;"><a>Information</a> <a
                                                style="color: red;">between</a></p> </span>
                            </legend>
                        </fieldset>
                        <br/>
                        <!--新闻资讯 开始-->
                        <div class="dynamic" id="information-2">
                            <ul class="listul">
                                <li style="display: inline-block;">
                                    <div class="dynamic-img">
                                        <a href="news_1">
                                            <img src="newsimg/20181226.jpg" alt="杰美特集团成立党支部 以党建工作激发企业凝聚力">
                                        </a>
                                    </div>
                                    <div class="dynamic-text">
                                        <a href="news_1" style="font-size:16px">杰美特集团成立党支部 以党建工作激发企业凝聚力</a>
                                        <div class="state">
                                            <time style="margin-left: 0px">时间：2018.12.26</time>
                                            <p style="text-align: left; ">
                                                党的十九大报告指出：党的基层组织是确保党的路线方针政策和决策部署贯彻落实的基础。</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
<!--main 结束-->

<!--底部 开始-->
<div class="footer">
    <div class="container">
        <div class="footer-nav">
            <li>
                <a href="https://mall.jd.com/index-1000131581.html"><img src="images/logo0.png" height="40"
                                                                         width="120"/></a>
            </li>
            <li><a href="about">关于杰美特</a></li>
            <li><a href="product">旗下产品</a></li>
            <li><a href="culture">企业文化</a></li>
            <li><a href="develop">人力发展</a></li>
            <li><a href="contact">联系我们</a></li>
        </div>
        <div class="copy" style="margin-left: 100px">
            版权所有: 深圳市杰美特科技股份有限公司
            <br>
            <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
            <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0"
                                                                     style="width: 24px;"></a>
        </div>
    </div>
    <div class="weixin-f">
        <a href="#">微信</a>
        <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
    </div>
    <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
    <div class="tmall-f jamc-f"
         style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;">
        <a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
    <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
</div>
<!--底部 结束-->


<script src="javascripts/fastclick.js"></script>
<script src="javascripts/jquery-2.2.2.min.js"></script>
<script src="javascripts/swiper-3.4.2.min.js"></script>
<script src="javascripts/javascript.js"></script>
<script src="javascripts/img.js"></script>
<script src="javascripts/join.min.js"></script>

<script>
    $(function () {
        FastClick.attach(document.body);
        navIn($("#header"));
        menuClick();
        forkClick();
        reNavList();
        dropDown();
        $(".zz").hide();
        tapPar($(".about-tab span"), $(".about-list"));

        function tapPar(dom, dom1) {
            dom.on("click", function () {
                $(this).addClass("actv").parent().parent().siblings().find("span").removeClass(
                    "actv");
                var tabInd = $(this).index();
                dom1.eq(tabInd).show().siblings().hide();
            })
        };


        // 滑动导航
        // var mySwiper1 = new Swiper('#tap', {
        //     freeMode: true,
        //     slidesPerView: 'auto',
        //     freeModeSticky: true,
        // });

        //播放器
        // var myPlayer = videojs('my-video');
        // videojs("my-video").ready(function() {
        //     var myPlayer = this;
        //     // myPlayer.play();//自动播放
        // });

        //轮播图
        var swiper1 = new Swiper('#picture', {
            autoplay: 3000,
            slidesPerView: 4,
            spaceBetween: 0,
            loop: true,
            loopAdditionalSlides: 4,
            autoplayDisableOnInteraction: false,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            breakpoints: {
                1400: {
                    slidesPerView: 4,
                },
                1200: {
                    slidesPerView: 4,
                },
                1000: {
                    slidesPerView: 2.5,
                }
            }
        });

    })
</script>
</body>

</html>
