<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
   <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/video-js.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper-3.4.2.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/product.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/index/index.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/about_swiper.css">
    <title>深圳市杰美特科技股份有限公司官网-旗下产品</title>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--头部开始-->
    <header class="header" id="header">
        <div class="header-main">
            <a href="index">
                <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px" />
            </a>
            <!--<div class="language">-->
            <!--<a class="cn" href="index">简</a>-->
            <!--<a class="en" href="index">EN</a>-->
            <!--<span class="menu"></span>-->
            <!--</div>-->
            <ul class="nav" id="nav">
                <li class="li_box">
                    <a href="index">首页</a>
                </li>
                <li class="li_box">
                    <a href="about">关于杰美特</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul">
                            <li>
                                <a href="about#link1">杰美特概括</a>
                            </li>
                            <li>
                                <a href="about#link2">董事长致辞</a>
                            </li>
                            <li>
                                <a href="about#link3">发展历程</a>
                            </li>
                            <li>
                                <a href="about#link4">荣誉资质</a>
                            </li>
                            <li>
                                <a href="about#link5">战略伙伴</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="li_box">
                    <a href="news">新闻</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul">
                            <li>
                                <a href="news#link1">新闻资讯</a>
                            </li>
                            <li>
                                <a href="news#link2">公司动态</a>
                            </li>
                            <li>
                                <a href="news#link3">行业资讯</a>
                            </li>
                            <li>
                                <a href="news#link4">公益活动</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="product" class="current">旗下产品</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul" style="width:600px">
                            <li>
                                <a href="product#link1">产品展示</a>
                            </li>
                            <li>
                                <a href="product#link2">生产研发</a>
                            </li>
                            <li>
                                <a href="product#link3">产品专利</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="party">党建工作</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul">
                            <li>
                                <a href="party#link1">党支部简介</a>
                            </li>
                            <li>
                                <a href="party#link2">红色文化</a>
                            </li>
                            <li>
                                <a href="party#link3">党建目标</a>
                            </li>
                            <li>
                                <a href="party#link4">党群资讯</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="culture">企业文化</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul" style="width:400px">
                            <li>
                                <a href="culture#link1">核心价值观</a>
                            </li>
                            <li>
                                <a href="culture#link2">文化理念</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="school">善熵学院</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul" style="width:600px">
                            <li>
                                <a href="school#link1">学院简介</a>
                            </li>
                            <li>
                                <a href="school#link2">学院定位</a>
                            </li>
                            <li>
                                <a href="school#link3">运营模式</a>
                            </li>
                            <li>
                                <a href="school#link4">培养体系</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="develop">人力发展</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul" style="width:600px">
                            <li>
                                <a href="develop#link1">人才理念</a>
                            </li>
                            <li>
                                <a href="develop#link2">人才培养</a>
                            </li>
                            <li>
                                <a href="develop#link3">人才引进</a>
                            </li>
                            <li>
                                <a href="develop#link4">员工生活</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="contact">联系我们</a>
                </li>
                <div class="fork"></div>
            </ul>
            <div class="c"></div>
        </div>
        <div class="nav-bg"></div>
    </header>
    <div class="zz"></div>
    <!--头部结束-->
    <!--main 开始-->
    <main>
        <div class="business mgt" id="business">
            <div class="business-list">
                <img src="../images/product_1.jpg">
                <!-- <div class="business-bg"></div> -->
            </div>
        </div>
        <div class="about">
            <div class="about-tab">
                <div class="w" id="tap">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="width: 33.3%">
                            <a href="#link1">
                                <span class="actv" id="btn"><img class="top_nav_icon_img" src="images/icon/product1.png"><strong>&#12288;产品展示</strong></span>
                            </a>
                        </div>
                        <div class="swiper-slide" style="width: 33.3%">
                            <a href="#link2">
                                <span id="btn1"><img  class="top_nav_icon_img" src="images/icon/product2.png"><strong>&#12288;生产研发</strong></span>
                            </a>
                        </div>
                        <div class="swiper-slide" style="width: 33.3%">
                            <a href="#link3">
                                <span id="btn2"><img  class="top_nav_icon_img" src="images/icon/product3.png"><strong>&#12288;产品专利</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-box" id="about-box">
                <div class="culture">
                    <div class="introduce  w">
                        <!--<h4 id="link1" style="font-size: 30px">产品展示</h4>-->
                        <fieldset>
                            <legend><span id="link1"><p style="margin-top: -20px;text-align: center;">产品展示</p><p
                                class="title_msg_p"
                                            style="font-size: 15px;margin-top: -5px;"><a>Product</a> <a
                                                style="color: red;">display</a></p> </span>
                            </legend>
                        </fieldset>
                        <fieldset>
                            <legend><span><p style="margin-top: -5px;font-size: 24px">手机保护类</p><p
                                class="title_msg_p"
                                            style="font-size: 12px;margin-top: -5px;"><a>Mobile</a> <a
                                                style="color: red;">protection</a></p> </span>
                            </legend>
                        </fieldset>
                        <!--<h5 style="text-align: center; font-size: 20px;">手机保护类</h5>-->
                        <div class="box">
                            <div class="box_img" id="phone_category_1">
                                <img src="images/product/phone_category_1/show.jpg" alt="“旅行者系列”手机保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“旅行者系列”手机保护套</p>-->
                                <p>“旅行者系列”手机保护套</p>
                            </div>
                            <div class="box_img" id="phone_category_2">
                                <img src="images/product/phone_category_2/show.jpg" alt="“幸存者系列”手机保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“幸存者系列”手机保护套</p>-->
                                <p>“幸存者系列”手机保护套</p>
                            </div>
                            <div class="box_img" id="phone_category_3">
                                <img src="images/product/phone_category_3/show.jpg" alt="“普莱姆系列”手机保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“普莱姆系列”手机保护套</p>-->
                                <p>“普莱姆系列”手机保护套</p>
                            </div>
                            <div class="box_img" id="phone_category_4">
                                <img src="images/product/phone_category_4/show.jpg" alt="“极限系列”手机保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“极限系列”手机保护套</p>-->
                                <p>“极限系列”手机保护套</p>
                            </div>
                            <div class="box_img" id="phone_category_5">
                                <img src="images/product/phone_category_5/show.jpg" alt="“保卫者系列”手机保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“保卫者系列”手机保护套</p>-->
                                <p>“保卫者系列”手机保护套</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <fieldset>
                            <legend><span><p style="margin-top: -15px;font-size: 24px;text-align: center;">IPad保护类</p><p
                                class="title_msg_p"
                                            style="font-size: 12px;margin-top: -5px;"><a>IPad</a> <a
                                                style="color: red;">protection</a></p> </span>
                            </legend>
                        </fieldset>
                        <!--<h5 style="text-align: center; font-size: 20px;">IPad保护类</h5>-->
                        <div class="box">
                            <div class="box_img" id="ipad_category_1">
                                <img src="images/product/ipad_category_1/show.jpg" alt="“幸存者系列”iPad保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“保卫者系列”手机保护套</p>-->
                                <p>“幸存者系列”iPad保护套</p>
                            </div>
                            <div class="box_img" id="ipad_category_2">
                                <img src="images/product/ipad_category_2/show.jpg" alt="“铠甲系列”iPad保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“保卫者系列”手机保护套</p>-->
                                <p>“铠甲系列”iPad保护套</p>
                            </div>
                            <div class="box_img" id="ipad_category_3">
                                <img src="images/product/ipad_category_3/show.jpg" alt="“斯利姆系列”iPad保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“保卫者系列”手机保护套</p>-->
                                <p>“斯利姆系列”iPad保护套</p>
                            </div>
                            <div class="box_img" id="ipad_category_4">
                                <img src="images/product/ipad_category_4/show.jpg" alt="“泰勒斯系列”通用款ipad保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“保卫者系列”手机保护套</p>-->
                                <p>“泰勒斯系列”通用款ipad保护套</p>
                            </div>
                            <div class="box_img" id="ipad_category_5">
                                <img src="images/product/ipad_category_5/show.jpg" alt="“泰格斯系列”翻盖ipad保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“保卫者系列”手机保护套</p>-->
                                <p>“泰格斯系列”翻盖ipad保护套</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                         <fieldset>
                            <legend><span><p style="margin-top: -15px;font-size: 24px;text-align: center;">其它产品</p><p
                                class="title_msg_p"
                                            style="font-size: 12px;margin-top: -5px;"><a>Other</a> <a
                                                style="color: red;">products</a></p> </span>
                            </legend>
                        </fieldset>
                        <!--<h5 style="text-align: center; font-size: 20px;">其它产品</h5>-->
                        <div class="box">
                            <div class="box_img" id="others_1" style="width:25%;">
                                <img src="images/product/others_1/show.jpg" alt="“洛特系列”iwatch手表保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“保卫者系列”手机保护套</p>-->
                                <p>“洛特系列”iwatch手表保护套</p>
                            </div>
                            <div class="box_img" id="others_2" style="width:25%;">
                                <img src="images/product/others_2/show.jpg" alt="“锋芒系列”iwatch手表保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“保卫者系列”手机保护套</p>-->
                                <p>“锋芒系列”iwatch手表保护套</p>
                            </div>
                            <div class="box_img" id="others_3" style="width:25%;">
                                <img src="images/product/others_3/show.jpg" alt="“金尊系列”通用款车载背夹无线充车载支架">
                                <!--<p style="color: #004ea2; font-size: 20px">“保卫者系列”手机保护套</p>-->
                                <p>“金尊系列”通用款车载背夹无线充车载支架</p>
                            </div>
                            <div class="box_img" id="others_4" style="width:25%;">
                                <img src="images/product/others_4/show.jpg" alt="“动感系列”手表保护套">
                                <!--<p style="color: #004ea2; font-size: 20px">“保卫者系列”手机保护套</p>-->
                                <p>“动感系列”手表保护套</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="glory" style="margin-top: 0px;">
                    <div class="introduce  w">
                        <fieldset>
                            <legend><span id="link2"><p style="margin-top: -20px;text-align: center;">生产研发</p><p
                                class="title_msg_p"
                                            style="font-size: 15px;margin-top: -5px;"><a style="color: red;">R&D</a></p> </span>
                            </legend>
                        </fieldset>
                        <!--<h4 id="link2" style="font-size: 30px">生产研发</h4>-->
                        <div class="introduce_box" style="margin-bottom: -50px">
                            <!--<div>-->
                            <!--<img src="images/product/search/search_1.jpg"-->
                            <!--style="display:flex;justify-content:center;align-items:center;">-->
                            <!--<br/>-->
                            <!--</div>-->
                            <br/>
                            <div style="font-size: 16px;color: #666;line-height: 28px;">
                                <p>
                                    &#12288;&#12288;注重质量管理是公司长期坚持的重要方针，良好的产品质量已成为公司的重要竞争优势。公司建立了一套完备的质量管理和控制体系，实现对产品从概念设计、开发制样、供应商选择与导入、来料检验与控制，到生产制程控制、成品检验、运输交付、售后服务等全过程的监控与管理。</p>
                                <br/>
                               <p>
                                &#12288;&#12288;公司在产品开发过程中，集中将重大问题解决在开发制样阶段，有效避免了在生产阶段质量问题的出现；在原材料采购过程中严格控制供应商筛选与来料质量检验；在生产过程中严格执行工艺标准，依托生产设备和信息化系统来实现质量控制，保证质量控制的持久、有效；在产品检验方面，公司拥有经验丰富的专业检测团队，引进精密检测设备，建立产品检测实验室，历经抗冲击测试、高低温测试、跌落测试、硬度测试、盐雾测试、RCA耐磨测试等数十道检测工序，实行了严密的品质控制和检测体系；在客户服务过程中紧密跟踪产品使用情况，及时获取产品质量的反馈信息。</p>
                                <br/>
                                <p>&#12288;&#12288;
                               凭借规范化的现代化管理、完善的质量管理体系和可靠的产品品质，公司顺利获得ISO9001:2008质量体系认证、ISO14001:2004环境体系认证，通过了国际知名终端配件品牌商Griffin、PURO、Elecom严格的供应商体系审核，与之建立了长期稳定的合作关系。公司通过严格的质量控制，树立起公司产品的品牌影响力，成为公司不断前进开拓的基石。</p>
                            </div>
                            <br/>
                        </div>
                        <fieldset>
                            <legend><span><p style="margin-top: 25px;font-size: 24px;text-align: center;">先进的设备</p><p
                                class="title_msg_p"
                                            style="font-size: 12px;margin-top: -5px;margin-bottom: 40px;"><a
                                                style="color: red;">Advanced</a> <a>equipment</a></p> </span>
                            </legend>
                        </fieldset>
                        <!--<h5 style="font-size: 20px; left: 46%; display: inline-block;position: absolute;">先进的设备</h5>-->
                        <ul class="advancedBox">
                            <li class="advanced">
                                <img src="images/product/search/img_01.png">
                                <div class="description">
                                    <div class="des_center">
                                        <h3>进口夏密尔，牧野镜面放电机</h3>
                                        <p>进口夏密尔，牧野镜面放电机，镜面可放到A级镜面</p>
                                    </div>

                                </div>
                            </li>
                            <li class="advanced">
                                <img src="images/product/search/img_02.png">
                                <div class="description">
                                    <div class="des_center">
                                        <h3>东芝电动注塑机</h3>
                                        <p>进口大型东芝电动注塑机，对于制造一些紧密件尺寸非常稳定</p>
                                    </div>
                                </div>
                            </li>
                            <li class="advanced">
                                <img src="images/product/search/img_03.png">
                                <div class="description">
                                    <div class="des_center">
                                        <h3>电动机注塑</h3>
                                        <p>电动机注塑，射出精度可控制在0.1mm,对于制造一些精密件尺寸非常稳定</p>
                                    </div>

                                </div>
                            </li>
                            <li class="advanced">
                                <img src="images/product/search/img_04.png">
                                <div class="description">
                                    <div class="des_center">
                                        <h3>CNC模具加工设备</h3>
                                        <p>进口FANUC高速CNC加工中心，牧野高速CNC加工中心，转速达到4万转，精度可以达到0.001mm</p>
                                    </div>

                                </div>
                            </li>
                            <li class="advanced">
                                <img src="images/product/search/img_05.png">
                                <div class="description">
                                    <div class="des_center">
                                        <h3>台一精密放电机</h3>
                                        <p>台湾台一精密放电机，性能稳定，精度高</p>
                                    </div>

                                </div>
                            </li>
                            <li class="advanced">
                                <img src="images/product/search/img_06.png">
                                <div class="description">
                                    <div class="des_center">
                                        <h3>先进设备打印机</h3>
                                        <p>公司在产品开发过程中，集中将重大问题解决在开发制样阶段，有效避免了在生产阶段质量问题的出现</p>
                                    </div>

                                </div>
                            </li>
                        </ul>
                         <fieldset>
                            <legend><span><p style="margin-top: 10px;font-size: 24px;text-align: center;">标准化生产车间</p><p
                                class="title_msg_p"
                                            style="font-size: 12px;margin-top: -5px;margin-bottom: 30px;"><a
                                                style="color: red;">Standardized</a> <a>workshop</a></p> </span>
                            </legend>
                        </fieldset>
                        <br/>
                        <!--<h5 style="font-size: 20px; left: 46%; display: inline-block;position: absolute;">标准化生产车间</h5>-->
                        <div class="clearfix">
                            <div style="float:left;position: relative;width: 49%;">
                                <img src="images/product/standard/img_01.jpg" style="width: 100%;">
                                <div class="product_img_title_bk" >注塑车间全自动机械手配以往复式流水线输送带，可以实现无人化作业</div>
                            </div>
                            <div style="float:right;position: relative;width: 49%;">
                                <img src="images/product/standard/img_02.jpg" style="width:100%;">
                                <div class="product_img_title_bk" >无尘隧道自动喷涂车间，长350米，可三涂三烤，实现无死角精密喷涂。</div>
                            </div>
                        </div>
                        <br/>
                        <div class="clearfix">
                            <div style="float:left;position: relative;width: 49%;">
                                <img src="images/product/standard/img_03.jpg" style="width: 100%;">
                                <div class="product_img_title_bk" >包装车间流水线采用滚筒式自动转角，每个岗位都严格按WIE执行作业</div>
                            </div>
                            <div style="float:right;position: relative;width: 49%;">
                                <img src="images/product/standard/img_04.jpg" style="width:100%;">
                                <div class="product_img_title_bk" >自动化贴皮车间</div>
                            </div>
                        </div>
                         <fieldset>
                            <legend><span><p style="margin-top: 15px;font-size: 24px;text-align: center;">专业研发团队</p><p
                                class="title_msg_p"
                                            style="font-size: 12px;margin-top: -5px;margin-bottom: 30px;"><a
                                                >Professional</a> <a style="color: red;">r&d team</a></p> </span>
                            </legend>
                        </fieldset>
                        <!--<h5 style="font-size: 20px; left: 46%; display: inline-block;position: absolute;">专业研发团队</h5>-->

                        <br/>
                        <div class="clearfix">
                            <div style="float:left;position: relative;width: 49%;">
                                <img src="images/product/standard/img_05.jpg" style="width: 100%;">
                                <div class="product_img_title_bk" >专业的设计团队</div>
                            </div>
                            <div style="float:right;position: relative;width: 49%;">
                                <img src="images/product/standard/img_06.jpg" style="width:100%;">
                                <div class="product_img_title_bk" >良好的客户沟通渠道</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="glory">
                    <div class="introduce  w">
                        <fieldset>
                            <legend><span id="link3"><p style="margin-top: 20px;text-align: center;">产品专利</p><p
                                class="title_msg_p"
                                            style="font-size: 15px;margin-top: -5px;margin-bottom: 30px;"><a>Product</a> <a
                                                style="color: red;">patent</a></p> </span>
                            </legend>
                        </fieldset>
                        <!--<h4 id="link3">产品专利</h4>-->
                        <div>
                            <img src="images/patent_01.jpg" style="width: 32%;margin-right: 2mm" alt="高新技术企业证书">
                            <img src="images/patent_02.jpg" style="width: 32%;margin-right: 2mm" alt="十大投资突出企业">
                            <img src="images/patent_03.jpg" style="width: 32%;margin-right: 2mm" alt="文明诚信企业称号">
                        </div>
                        <div style="margin-top: 2mm">
                            <img src="images/patent_04.jpg" style="width: 32%;margin-right: 2mm" alt="外贸出口50强">
                            <img src="images/patent_05.jpg" style="width: 32%;margin-right: 2mm" alt="自主创新100强">
                            <img src="images/patent_06.jpg" style="width: 32%;margin-right: 2mm" alt="诚信企业证书">
                        </div>
                        <div style="margin-top: 2mm">
                            <img src="images/patent_07.jpg" style="width: 32%;margin-right: 2mm" alt="战略合作单位">
                            <img src="images/patent_08.jpg" style="width: 32%;margin-right: 2mm" alt="先进单位">
                            <img src="images/patent_09.jpg" style="width: 32%;margin-right: 2mm" alt="产学研基地">
                        </div>
                        <div style="margin-top: 2mm">
                            <img src="images/patent_10.jpg" style="width: 32%;margin-right: 2mm" alt="高新技术企业证书">
                            <img src="images/patent_11.jpg" style="width: 32%;margin-right: 2mm" alt="十大投资突出企业">
                            <img src="images/patent_12.jpg" style="width: 32%;margin-right: 2mm" alt="文明诚信企业称号">
                        </div>
                        <div style="margin-top: 2mm">
                            <img src="images/patent_13.jpg" style="width: 32%;margin-right: 2mm" alt="外贸出口50强">
                            <img src="images/patent_14.jpg" style="width: 32%;margin-right: 2mm" alt="自主创新100强">
                            <img src="images/patent_15.jpg" style="width: 32%;margin-right: 2mm" alt="诚信企业证书">
                        </div>
                        <div style="margin-top: 2mm">
                            <img src="images/patent_16.jpg" style="width: 32%;margin-right: 2mm" alt="战略合作单位">
                            <img src="images/patent_17.jpg" style="width: 32%;margin-right: 2mm" alt="先进单位">
                            <img src="images/patent_18.jpg" style="width: 32%;margin-right: 2mm" alt="产学研基地">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--main 结束-->

    <!--底部 开始-->
    <div class="footer">
        <div class="container">
            <div class="footer-nav">
                <li>
                    <a href="https://mall.jd.com/index-1000131581.html"><img src="images/logo0.png" height="40" width="120" /></a>
                </li>
                <li><a href="about">关于杰美特</a> </li>
                <li><a href="product">旗下产品</a></li>
                <li><a href="culture">企业文化</a></li>
                <li><a href="develop">人力发展</a></li>
                <li><a href="contact">联系我们</a></li>
            </div>
            <div class="copy" style="margin-left: 100px">
                版权所有: 深圳市杰美特科技股份有限公司
                <br>
                <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
                <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0" style="width: 24px;"></a>
            </div>
        </div>
        <div class="weixin-f">
            <a href="#">微信</a>
            <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
        </div>
        <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
        <div class="tmall-f jamc-f" style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;"><a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
        <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
    </div>
    <!--底部 结束-->
    <!-- PC弹窗轮播图 -->
    <!-- Swiper -->
    <div class="tan">
        <div class="lbt">
            <div class="about_fork">
                <img src="images/about_fork.png" />
            </div>
            <div class="swiper-container gallery-top">
                <!-- <div class="swiper-wrapper swipe-wrapper"> -->
                <!-- <div class="swiper-slide">
                    <img src="images/LP1.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP2.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP3.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP4.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP5.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP6.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP7.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP8.jpg" />
                </div> -->
                <!-- </div> -->
            </div>
            <div class="swiper-container gallery-thumbs" id="gallery-thumbs">
                <!-- <div class="swiper-wrapper swipe-wrapper"> -->
                <!-- <div class="swiper-slide">
                    <img src="images/LP1.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP2.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP3.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP4.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP5.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP6.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP7.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP8.jpg" />
                </div> -->
                <!-- </div> -->
            </div>
            <div class="swiper-button-next switch"></div>
            <div class="swiper-button-prev switch"></div>
        </div>
    </div>


    <script src="javascripts/fastclick.js"></script>
    <script src="javascripts/jquery-2.2.2.min.js"></script>
    <script src="javascripts/swiper-3.4.2.min.js"></script>
    <script src="javascripts/javascript.js"></script>
    <script src="javascripts/video.min.js"></script>
    <script src="javascripts/img.js"></script>
    <script src="javascripts/swiper.animate1.0.2.min.js"></script>
    <script>
        $(function() {
            FastClick.attach(document.body);
            navIn($("#header"));
            menuClick();
            forkClick();
            reNavList();
            dropDown();
            $(".zz").hide();
            tapPar($(".about-tab span"), $(".about-list"));

            function tapPar(dom, dom1) {
                dom.on("click", function() {
                    $(this).addClass("actv").parent().parent().siblings().find("span").removeClass(
                        "actv");
                    var tabInd = $(this).index();
                    dom1.eq(tabInd).show().siblings().hide();
                })
            };


            // 滑动导航
            // var mySwiper1 = new Swiper('#tap', {
            //     freeMode: true,
            //     slidesPerView: 'auto',
            //     freeModeSticky: true,
            // });

            // //播放器
            // var myPlayer = videojs('my-video');
            // videojs("my-video").ready(function() {
            //     var myPlayer = this;
            //     // myPlayer.play();//自动播放
            // });

            //轮播图
            // var swiper1 = new Swiper('#picture', {
            //     autoplay: 3000,
            //     slidesPerView: 4,
            //     spaceBetween: 0,
            //     loop: true,
            //     loopAdditionalSlides: 4,
            //     autoplayDisableOnInteraction: false,
            //     nextButton: '.swiper-button-next',
            //     prevButton: '.swiper-button-prev',
            //     breakpoints: {
            //         1400: {
            //             slidesPerView: 4,
            //         },
            //         1200: {
            //             slidesPerView: 4,
            //         },
            //         1000: {
            //             slidesPerView: 2.5,
            //         }
            //     }
            // });

            var swiper1 = new Swiper('.index-business', {
                autoplay: 3000,
                slidesPerView: 6,
                spaceBetween: 0,
                loop: true,
                loopAdditionalSlides: 6,
                autoplayDisableOnInteraction: false,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                breakpoints: {
                    1400: {
                        slidesPerView: 5,
                    },
                    1200: {
                        slidesPerView: 4,
                    },
                    1000: {
                        slidesPerView: 3.2,
                    },
                    480: {
                        slidesPerView: 2.2,
                    }
                }
            });


            // var about = [{
            //     'a_img': 'images/product/phone_category_1/show.jpg',
            //     'b_img': 'images/product/phone_category_1/show.jpg',
            // }, {
            //     'a_img': 'images/product/phone_category_2/show.jpg',
            //     'b_img': 'images/product/phone_category_2/show.jpg',
            // }, {
            //     'a_img': 'images/product/phone_category_3/show.jpg',
            //     'b_img': 'images/product/phone_category_3/show.jpg',
            // }, {
            //     'a_img': 'images/product/phone_category_4/show.jpg',
            //     'b_img': 'images/product/phone_category_4/show.jpg',
            // }, {
            //     'a_img': 'images/product/phone_category_5/show.jpg',
            //     'b_img': 'images/product/phone_category_5/show.jpg',
            // },{
            //     'a_img': 'images/product/ipad_category_1/show.jpg',
            //     'b_img': 'images/product/ipad_category_1/show.jpg',
            // }, {
            //     'a_img': 'images/product/ipad_category_2/show.jpg',
            //     'b_img': 'images/product/ipad_category_2/show.jpg',
            // }, {
            //     'a_img': 'images/product/ipad_category_3/show.jpg',
            //     'b_img': 'images/product/ipad_category_3/show.jpg',
            // }, {
            //     'a_img': 'images/product/ipad_category_4/show.jpg',
            //     'b_img': 'images/product/ipad_category_4/show.jpg',
            // }, {
            //     'a_img': 'images/product/ipad_category_5/show.jpg',
            //     'b_img': 'images/product/ipad_category_5/show.jpg',
            // }, {
            //     'a_img': 'images/product/othes_1/show.jpg',
            //     'b_img': 'images/product/othes_1/show.jpg',
            // }, {
            //     'a_img': 'images/product/othes_2/show.jpg',
            //     'b_img': 'images/product/othes_2/show.jpg',
            // }, {
            //     'a_img': 'images/product/othes_3/show.jpg',
            //     'b_img': 'images/product/othes_3/show.jpg',
            // }, {
            //     'a_img': 'images/product/othes_4/show.jpg',
            //     'b_img': 'images/product/othes_4/show.jpg',
            // }]

            // //企业文化
            // $(".culture .box_img").hover(function () {
            //     var index = $(this).index();
            //     $(this).find("img").attr("src", about[index].b_img);
            // }, (function () {
            //     var index = $(this).index();
            //     $(this).find("img").attr("src", about[index].a_img);
            // }));

        })
    </script>
</body>

</html>
