<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <meta name="description" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
    <meta name="keywords" content="杰美特是一家集研发、设计、制造、销售及服务于一体的综合性高新技术开发企业，成立于2006年，总部位于深圳市，是国内著名移动智能终端配件公司之一。先后引进ISO9001、ISO14000、QC080000、SA8000、EICC等国际体系标准及WALMART等行业体系认证企业，公司经过10余年的茁壮成长，公司以强大的产品研发、售后服务能力响应市场瞬息万变的变化需求。" />
   <link rel="shortcut icon" href="images/title_logo.png" type="image/ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/video-js.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper-3.4.2.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/school.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/index/index.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/about_swiper.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/school/join.css" />
    <title>深圳市杰美特科技股份有限公司官网-企业文化</title>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .join-service-box{
            max-width:100%;
        }
    </style>
</head>

<body>
    <!--头部开始-->
    <header class="header" id="header">
        <div class="header-main">
            <a href="index">
                <img src="images/logo0.png" height="50" width="150" style="margin-top: 13px" />
            </a>
            <!--<div class="language">-->
            <!--<a class="cn" href="index">简</a>-->
            <!--<a class="en" href="index">EN</a>-->
            <!--<span class="menu"></span>-->
            <!--</div>-->
            <ul class="nav" id="nav">
                <li class="li_box">
                    <a href="index">首页</a>
                </li>
                <li class="li_box">
                    <a href="about">关于杰美特</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul">
                            <li>
                                <a href="about#link1">杰美特概括</a>
                            </li>
                            <li>
                                <a href="about#link2">董事长致辞</a>
                            </li>
                            <li>
                                <a href="about#link3">发展历程</a>
                            </li>
                            <li>
                                <a href="about#link4">荣誉资质</a>
                            </li>
                            <li>
                                <a href="#link5">战略伙伴</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="li_box">
                    <a href="news">新闻</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul">
                            <li>
                                <a href="news#link1">新闻资讯</a>
                            </li>
                            <li>
                                <a href="news#link2">公司动态</a>
                            </li>
                            <li>
                                <a href="news#link3">行业资讯</a>
                            </li>
                            <li>
                                <a href="news#link4">公益活动</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="product">旗下产品</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul" style="width:600px">
                            <li>
                                <a href="product#link1">产品展示</a>
                            </li>
                            <li>
                                <a href="product#link2">生产研发</a>
                            </li>
                            <li>
                                <a href="product#link3">产品专利</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="party">党建工作</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul">
                            <li>
                                <a href="party#link1">党支部简介</a>
                            </li>
                            <li>
                                <a href="party#link2">红色文化</a>
                            </li>
                            <li>
                                <a href="party#link3">党建目标</a>
                            </li>
                            <li>
                                <a href="party#link4">党群资讯</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="culture">企业文化</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul" style="width:400px">
                            <li>
                                <a href="culture#link1">核心价值观</a>
                            </li>
                            <li>
                                <a href="culture#link2">文化理念</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="school" class="current">善熵学院</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul" style="width:600px">
                            <li>
                                <a href="school#link1">学院简介</a>
                            </li>
                            <li>
                                <a href="school#link2">学院定位</a>
                            </li>
                            <li>
                                <a href="school#link3">运营模式</a>
                            </li>
                            <li>
                                <a href="school#link4">培养体系</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="develop">人力发展</a>
                    <span></span>
                    <div class="nav-list">
                        <ul class="nav_ul" style="width:600px">
                            <li>
                                <a href="develop#link1">人才理念</a>
                            </li>
                            <li>
                                <a href="develop#link2">人才培养</a>
                            </li>
                            <li>
                                <a href="develop#link3">人才引进</a>
                            </li>
                            <li>
                                <a href="develop#link4">员工生活</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li_box">
                    <a href="contact">联系我们</a>
                </li>
                <div class="fork"></div>
            </ul>
            <div class="c"></div>
        </div>
        <div class="nav-bg"></div>
    </header>
    <div class="zz"></div>
    <!--头部结束-->
    <!--main 开始-->
    <main>
        <div class="business mgt" id="business">
            <div class="business-list">
                <img src="../images/善熵学院.jpg">
                <!-- <div class="business-bg"></div> -->
            </div>
        </div>
        <div class="about">
            <div class="about-tab">
                <div class="w" id="tap">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="width: 25%">
                            <a href="school#link1">
                                <span class="actv" id="btn"><img class="top_nav_icon_img" src="images/icon/school1.png"><strong>&#12288;学院简介</strong></span>
                            </a>
                        </div>
                        <div class="swiper-slide" style="width: 25%">
                            <a href="school#link2">
                                <span id="btn1"><img class="top_nav_icon_img" src="images/icon/school2.png"><strong>&#12288;学院定位</strong></span>
                            </a>
                        </div>
                        <div class="swiper-slide" style="width: 25%">
                            <a href="school#link3">
                                <span id="btn1"><img class="top_nav_icon_img" src="images/icon/school3.png"><strong>&#12288;运营模式</strong></span>
                            </a>
                        </div>
                        <div class="swiper-slide" style="width: 25%">
                            <a href="school#link4">
                                <span id="btn1"><img class="top_nav_icon_img" src="images/icon/school4.png"><strong>&#12288;培养体系</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-box" id="about-box">
                <div class="introduce  w">
                    <fieldset>
                        <legend><span id="link1"><p style="margin-top: -20px;text-align: center;">学院简介</p><p
                              class="title_msg_p"
                                        style="font-size: 15px;margin-top: -5px;"><a>College of</a> <a
                                            style="color: red;">Abertay</a></p> </span>
                        </legend>
                    </fieldset>
                    <div style="margin-top: 30px;">
                        <img src="images/school-logo.jpg" style="width: 28%;display: inline-block;vertical-align: middle;margin-right: 5%;">
                        <div style="font-size: 16px;color: #4e4644;line-height: 28px;width: 66%;display: inline-block;vertical-align: middle;">
                            <span>&#12288;&#12288;围绕公司“三年翻倍、五年四倍”战略愿景，依据公司总体发展战略和人力资源战略，推动和组织人才培养工作，以“培养人”、“选拔人”、“发现人”为核心，做好企业战略落地、文化落地、产业发展的加速器与人才孵化器；同时通过对各类员工和管理人员的培训和发展，支持公司的战略实施、业务发展和人力资本增值；同时配合公司各业务发展和客户服务策略，不断为内外部客户提供管理培训解决方案，持续提升客户满意度。</span>
                            <br/>
                            <span>&#12288;&#12288;杰美特善熵学院标志由善（Shan）熵(Shang)首字母“SS”通过并置、镜像、旋转构成的菱形图案作为标志主体，配合学院中英文全称及三层由小向大扩展的同心圆组合而成。 “SS”创意源自中国传统吉祥图案中的方形回纹，纹饰简洁质朴、巧妙灵动。将中式传统方形回纹与西文字母S相结合，象征“中西合璧、博古通今”。 菱形图案颇具动感，其尖锐部分意指杰美特善熵学院校训之首—“卓越，锐意进取,追求卓越。“利用三层同心圆巧妙的区分了标志主体及名称，更使标志愈发稳重、大气，同时还分别代表杰美特三位创始人带领全体同仁，同心同力，“做最好企业经营管理大学”的伟大愿景。</span>
                        </div>
                    </div>
                </div>
                    <!--<h4 id="link1" style="font-size: 30px;">学院简介</h4>-->
                    <div class="introduce_box w">
<!--
                        <fieldset>
                            <legend><span id="link1"><p style="margin-top: -20px;text-align: center;">校训</p><p
                                  class="title_msg_p"
                                            style="font-size: 15px;margin-top: -5px;"><a>School</a> <a
                                                style="color: red;">motto</a></p> </span>
                            </legend>
                        </fieldset>
    -->
                       <fieldset>
                            <legend><span><p style="margin-top: 15px;font-size: 24px;text-align: center;">校训</p><p
                                            style="font-size: 12px;margin-top: -5px;margin-bottom: 30px;"><a
                                                >School</a> <a style="color: red;">motto</a></p> </span>
                            </legend>
                        </fieldset>
                        <!--<h5 style="font-size: 28px;color: #000000;line-height: 28px;text-align: center;">校训</h5>-->
                        <div style="text-align:center; display:flex;justify-content:center;align-items:center;">
                            <img src="images/xun.jpg">
                        </div>
                        <div class="introduce  ">
                            <div class="join-service">
                                <div class="join-service-box">
                                    <ul class="clearfix">
                                        <li>
                                            <p style="font-size: 28px; color: #000;">卓越</p>
                                            <p style="font-size: 16px; color: #4e4644;line-height: 28px;">
                                                做事志在一流，做人止于至善，不断开拓创新。在深知社会的进步在于我们每一个人的创造与贡献之后，在明了我们人生的使命和追求之后，也就在更深的层面上理解了校训的内涵。“追求卓越”是我们公司的追求也是我们价值观的重点。</p>
                                        </li>
                                        <li>
                                            <p style="font-size: 28px; color: #000;">至善</p>
                                            <p style="font-size: 16px;color: #4e4644;line-height: 28px;">
                                                出自《大学》：“大学之道，在明明德，在亲民，在止于至善。”意指为学的根本在于修明自身，用自己学问的道和德的成就，投身公司，亲近同事而为之服务，最终达到良好的人际关系。</p>
                                        </li>
                                        <li>
                                            <p style="font-size: 28px; color: #000;">求真</p>
                                            <p style="font-size: 16px;color: #4e4644;line-height: 28px;">
                                                语出自《闽中理学渊源考》：“求真于未始有伪之先，而性之真可见矣。”意指为博学求知，努力探索规律，追求真理。求真包含“求实”、“求是”之意，在求实中求是、求真。真”，指真理、真情。在自然科学和社会科学中，也包括为人处事上寻求真理、探寻规律。</p>
                                        </li>
                                        <li>
                                            <p style="font-size: 28px; color: #000;">笃行</p>
                                            <p style="font-size: 16px;color: #4e4644;line-height: 28px;">
                                                笃行出自《礼记•中庸》："博学之，审问之，慎思之，明辨之，笃行之。""笃"意指忠实，专注，一心一意。"笃行"，意指对事业专心致志，锲而不舍，知难而进，勇往直前，知行合一，也包含百折不挠、愈挫愈奋的精神以及我们公司死磕到底的决心。</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="introduce  w">
                      <fieldset>
                        <legend><span id="link2"><p style="margin-top: -10px;text-align: center;">学院定位</p><p
                            class="title_msg_p"
                                        style="font-size: 15px;margin-top: -5px;margin-bottom: 0px"><a>College</a> <a
                                            style="color: red;">location</a></p> </span>
                        </legend>
                    </fieldset>
                    <!--<h4 id="link2" style="font-size: 30px;">学院定位</h4>-->
                    <div class="introduce_box">
                        <!--<div class="introduce-left">-->
                        <div style="font-size: 16px;color: #4e4644;line-height: 28px;text-align: center;">
                            <p>&#12288;&#12288;面对杰美特内部员工能力发展，目标是打造人才成长梯队，助力公司战略实现。</p>
                        </div>
                        <br/>
                        <fieldset>
                            <legend><span><p style="margin-top: -30px;font-size: 24px;text-align: center;">学院使命</p><p
                                class="title_msg_p"
                                            style="font-size: 12px;margin-top: -5px;margin-bottom: -10px;"><a
                                        >College</a> <a style="color: red;">mission</a></p> </span>
                            </legend>
                        </fieldset>
                        <!--<h5 style="font-size: 28px;color: #000000;line-height: 28px;text-align: center;">使命</h5>-->
                        <br/>
                        <br/>
                        <h5 style="font-size: 20px;color: #4e4644;line-height: 28px;text-align: center;">打造最优秀的杰美特管理者</h5>
                        <!--<div style="font-size: 16px;color: #666;line-height: 28px;text-align: center;">-->
                        <!--<p>&#12288;&#12288; </p>-->
                        <!--</div>-->
                        <br/>
                        <div style="text-align: center;">
                            &#12288;&#12288;&#12288;<img src="images/shiming.jpg">
                        </div>
                    </div>
                </div>
                <div class="introduce  w">
                    <div class="culture">
                        <div class="introduce ">
                            <!--<h4 id="link3" style="color: #333;font-size: 30px;">运营模式</h4>-->
                            <fieldset>
                                <legend><span id="link3"><p style="margin-top: -20px;text-align: center;">运营模式</p><p
                                    class="title_msg_p"
                                                style="font-size: 15px;margin-top: -5px;"><a style="color: red;">Operation</a> <a
                                                    >mode</a></p> </span>
                                </legend>
                            </fieldset>
                            <br/>
                            <p style="font-size: 16px;color: #4e4644;line-height: 28px;text-align: center;">
                                围绕杰美特战略、经营、文化，把杰美特打造成一所大学、一个家庭、一支军队， 培养能打胜仗的队伍。</p>
                            <br/>
                            <div class="introduce  w">
                                <div class="join-service">
                                    <div class="join-service-box" style="height: 300px;padding-top:30px">
                                        <ul class="clearfix">
                                            <li style="width: 23%; height: 260px;">
                                                <br/>
                                                <p style="font-size: 26px; color: #000;">内部资源建设</p>
                                                <br/>
                                                <p style="font-size: 16px; color: #4e4644;line-height: 28px;">杰美特课程库</p>
                                                <p style="font-size: 16px; color: #4e4644;line-height: 28px;">杰美特讲师库</p>
                                                <p style="font-size: 16px; color: #4e4644;line-height: 28px;">杰美特案例库</p>
                                            </li>
                                            <li style="width: 23%; height: 260px;">
                                                <br/>
                                                <p style="font-size: 26px; color: #000;">外部资源引进</p>
                                                <br/>
                                                <p style="font-size: 16px; color: #4e4644;line-height: 28px;">标杆&#12288;&#12288;专家</p>
                                                <p style="font-size: 16px; color: #4e4644;line-height: 28px;">机构&#12288;&#12288;大学</p>
                                            </li>
                                            <li style="width: 23%; height: 260px;">
                                                <br/>
                                                <p style="font-size: 26px; color: #000;">培训实施支持平台</p>
                                                <br/>
                                                <p style="font-size: 16px; color: #4e4644;line-height: 28px;">管理提升型项目</p>
                                                <p style="font-size: 16px; color: #4e4644;line-height: 28px;">问题解决型项目</p>
                                                <p style="font-size: 16px; color: #4e4644;line-height: 28px;">专业提升型项目</p>
                                            </li>
                                            <li style="width: 23%; height: 260px;">
                                                <br/>
                                                <p style="font-size: 26px; color: #000;">外部培训客户</p>
                                                <br/>
                                                <p style="font-size: 16px; color: #4e4644;line-height: 28px;">共赢商</p>
                                                <p style="font-size: 16px; color: #4e4644;line-height: 28px;">OEM</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="introduce  w">
                    <!--<h4 id="link4" style="font-size: 30px;">培养体系</h4>-->
                    <fieldset>
                        <legend><span id="link4"><p style="margin-top: -20px;text-align: center;">培养体系</p><p
                            class="title_msg_p"
                                        style="font-size: 15px;margin-top: -5px;"><a
                                            style="color: red;">Training</a> <a
                                    >system</a></p> </span>
                        </legend>
                    </fieldset>
                    <br/>
                    <div style="font-size: 16px;color: #4e4644;line-height: 28px;text-align: center;">
                        <p>&#12288;&#12288;基于各岗位的胜任力模型与任职资格，围绕领导能力、专业能力、综合能力，建立分层分级的人才培养体系，打造人才培养闭环。</p>
                    </div>
                     <br/>
                    <fieldset>
                        <legend><span><p style="margin-top: -20px;font-size: 24px;text-align: center;">课程体系</p><p
                            class="title_msg_p"
                                        style="font-size: 12px;margin-top: -5px;margin-bottom: 0px;"><a
                                    >Curriculum</a> <a style="color: red;">system</a></p> </span>
                        </legend>
                    </fieldset>
                    <!--<h5 style="font-size: 28px;color: #000000;line-height: 28px;text-align: center;">课程体系</h5>-->
                    <br/>
                    <div style="font-size: 16px;color: #4e4644;line-height: 28px;text-align: center;">
                        <p>&#12288;&#12288;专业能力、领导力、战略预备、新员工类、文化建设、通用技能</p>
                    </div>
                    <br/>
                    <div style="text-align:center; display:flex;justify-content:center;align-items:center;">
                        <img src="images/kecheng.jpg" style="width:100%;">
                    </div>
                     <fieldset>
                        <legend><span><p style="margin-top: 0px;font-size: 24px;text-align: center;">人才发展梯队</p><p
                                        style="font-size: 12px;margin-top: -5px;margin-bottom: 10px;"><a
                                    >Talent development</a> <a style="color: red;">echelon</a></p> </span>
                        </legend>
                    </fieldset>
                    <br/>
                    <!--<h5 style="font-size: 28px;color: #000000;line-height: 28px;text-align: center;">人才发展梯队</h5>-->
                </div>
                <div style="text-align:center; display:flex;justify-content:center;align-items:center;"></div>
                    <img src="images/tidui.jpg" style="width:90%;display: block;margin: 0 auto;">
                </div>
            </div>
        </div>
    </main>
    <!--main 结束-->

    <!--底部 开始-->
    <div class="footer" >
        <div class="container">
            <div class="footer-nav">
                <li>
                    <a href="https://mall.jd.com/index-1000131581.html"><img src="images/logo0.png" height="40" width="120" /></a>
                </li>
                <li><a href="about">关于杰美特</a></li>
                <li><a href="product">旗下产品</a></li>
                <li><a href="culture">企业文化</a></li>
                <li><a href="develop">人力发展</a></li>
                <li><a href="contact">联系我们</a></li>
            </div>
            <div class="copy" style="margin-left: 100px">
                版权所有: 深圳市杰美特科技股份有限公司
                <br>
                <a href="http://www.miibeian.gov.cn" target="_blank" style="line-height: 24px;">粤ICP备05050538号-1</a>
                <a href="http://www.miibeian.gov.cn" rel="nofollow"><img src="../images/lz2.png" border="0" style="width: 24px;"></a>
            </div>
        </div>
        <div class="weixin-f">
            <a href="#">微信</a>
            <div class="weixin-g"><img src="images/weixin-logo.jpg"></div>
        </div>
        <div class="jd-f"><a target="_blank" href="https://mall.jd.com/index-87598.html ">京东</a></div>
        <div class="tmall-f jamc-f" style=" margin-left: 5px; margin-right: 5px; background: url(../images/jamc.png) center no-repeat;background-size: 100% auto;"><a target="_blank" href="https://mall.jd.com/index-1000131581.html">京东</a></div>
        <div class="tmall-f"><a target="_blank" href="https://xdoria.tmall.com/shop/view_shop.htm">天猫</a></div>
    </div>
    <!--底部 结束-->
    <!-- PC弹窗轮播图 -->
    <!-- Swiper -->
    <div class="tan">
        <div class="lbt">
            <div class="about_fork">
                <img src="images/about_fork.png" />
            </div>
            <div class="swiper-container gallery-top">
                <!-- <div class="swiper-wrapper swipe-wrapper"> -->
                <!-- <div class="swiper-slide">
                    <img src="images/LP1.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP2.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP3.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP4.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP5.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP6.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP7.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP8.jpg" />
                </div> -->
                <!-- </div> -->
            </div>
            <div class="swiper-container gallery-thumbs" id="gallery-thumbs">
                <!-- <div class="swiper-wrapper swipe-wrapper"> -->
                <!-- <div class="swiper-slide">
                    <img src="images/LP1.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP2.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP3.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP4.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP5.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP6.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP7.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="images/LP8.jpg" />
                </div> -->
                <!-- </div> -->
            </div>
            <div class="swiper-button-next switch"></div>
            <div class="swiper-button-prev switch"></div>
        </div>
    </div>


    <script src="javascripts/fastclick.js"></script>
    <script src="javascripts/jquery-2.2.2.min.js"></script>
    <script src="javascripts/swiper-3.4.2.min.js"></script>
    <script src="javascripts/javascript.js"></script>
    <script src="javascripts/video.min.js"></script>
    <script src="javascripts/img.js"></script>
    <script src="javascripts/swiper.animate1.0.2.min.js"></script>
    <script>
        $(function() {
            FastClick.attach(document.body);
            navIn($("#header"));
            menuClick();
            forkClick();
            reNavList();
            dropDown();
            $(".zz").hide();
            tapPar($(".about-tab span"), $(".about-list"));

            function tapPar(dom, dom1) {
                dom.on("click", function() {
                    $(this).addClass("actv").parent().parent().siblings().find("span").removeClass(
                        "actv");
                    var tabInd = $(this).index();
                    dom1.eq(tabInd).show().siblings().hide();
                })
            };


            // 滑动导航
            // var mySwiper1 = new Swiper('#tap', {
            //     freeMode: true,
            //     slidesPerView: 'auto',
            //     freeModeSticky: true,
            // });

            //播放器
            // var myPlayer = videojs('my-video');
            // videojs("my-video").ready(function() {
            //     var myPlayer = this;
            //     // myPlayer.play();//自动播放
            // });

            //轮播图
            // var swiper1 = new Swiper('#picture', {
            //     autoplay: 3000,
            //     slidesPerView: 4,
            //     spaceBetween: 0,
            //     loop: true,
            //     loopAdditionalSlides: 4,
            //     autoplayDisableOnInteraction: false,
            //     nextButton: '.swiper-button-next',
            //     prevButton: '.swiper-button-prev',
            //     breakpoints: {
            //         1400: {
            //             slidesPerView: 4,
            //         },
            //         1200: {
            //             slidesPerView: 4,
            //         },
            //         1000: {
            //             slidesPerView: 2.5,
            //         }
            //     }
            // });

            var swiper1 = new Swiper('.index-business', {
                autoplay: 3000,
                slidesPerView: 6,
                spaceBetween: 0,
                loop: true,
                loopAdditionalSlides: 6,
                autoplayDisableOnInteraction: false,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                breakpoints: {
                    1400: {
                        slidesPerView: 5,
                    },
                    1200: {
                        slidesPerView: 4,
                    },
                    1000: {
                        slidesPerView: 3.2,
                    },
                    480: {
                        slidesPerView: 2.2,
                    }
                }
            });


            // var about = [{
            //     'a_img': 'images/product/phone_category_1/show.jpg',
            //     'b_img': 'images/product/phone_category_1/show.jpg',
            // }, {
            //     'a_img': 'images/product/phone_category_2/show.jpg',
            //     'b_img': 'images/product/phone_category_2/show.jpg',
            // }, {
            //     'a_img': 'images/product/phone_category_3/show.jpg',
            //     'b_img': 'images/product/phone_category_3/show.jpg',
            // }, {
            //     'a_img': 'images/product/phone_category_4/show.jpg',
            //     'b_img': 'images/product/phone_category_4/show.jpg',
            // }, {
            //     'a_img': 'images/product/phone_category_5/show.jpg',
            //     'b_img': 'images/product/phone_category_5/show.jpg',
            // },{
            //     'a_img': 'images/product/ipad_category_1/show.jpg',
            //     'b_img': 'images/product/ipad_category_1/show.jpg',
            // }, {
            //     'a_img': 'images/product/ipad_category_2/show.jpg',
            //     'b_img': 'images/product/ipad_category_2/show.jpg',
            // }, {
            //     'a_img': 'images/product/ipad_category_3/show.jpg',
            //     'b_img': 'images/product/ipad_category_3/show.jpg',
            // }, {
            //     'a_img': 'images/product/ipad_category_4/show.jpg',
            //     'b_img': 'images/product/ipad_category_4/show.jpg',
            // }, {
            //     'a_img': 'images/product/ipad_category_5/show.jpg',
            //     'b_img': 'images/product/ipad_category_5/show.jpg',
            // }, {
            //     'a_img': 'images/product/othes_1/show.jpg',
            //     'b_img': 'images/product/othes_1/show.jpg',
            // }, {
            //     'a_img': 'images/product/othes_2/show.jpg',
            //     'b_img': 'images/product/othes_2/show.jpg',
            // }, {
            //     'a_img': 'images/product/othes_3/show.jpg',
            //     'b_img': 'images/product/othes_3/show.jpg',
            // }, {
            //     'a_img': 'images/product/othes_4/show.jpg',
            //     'b_img': 'images/product/othes_4/show.jpg',
            // }]

            // //企业文化
            // $(".culture .box_img").hover(function () {
            //     var index = $(this).index();
            //     $(this).find("img").attr("src", about[index].b_img);
            // }, (function () {
            //     var index = $(this).index();
            //     $(this).find("img").attr("src", about[index].a_img);
            // }));

        })
    </script>
</body>

</html>
