
/********头部********/
ul.nav li a,.header:hover ul.nav li a:hover{color:#21b7bc;}
.language{color: #fff;}
.language a{color: #fff;}
.language a:nth-child(2):after { background:#eee;}
.header .language a:hover,.language a:hover{color:#21b7bc;}
.h-bright,.header{ background:rgba(255,255,255,1);}
.h-bright ul.nav li a,.header ul.nav li a{ color:#333;}
.h-bright ul.nav li:after,.h-bright.language a:nth-child(2):after,.header ul.nav li:after,.header .language a:nth-child(2):after{ background: #ddd;}
.h-bright .language,.h-bright .language a,.header .language,.header .language a{ color:#333;}


/******banner*********/
.business{display: block; width:100%; }
.business-list{position: relative; width:100%; -webkit-transition:all .8s;-moz-transition:all .8s;transition:all .8s; overflow: hidden;}
.business-bg{overflow: hidden; background:url(../images/news_.jpg) no-repeat center; background-size: 100% auto;position: absolute;width:100%;
	height:100%; background-position:center center; background-size:cover; z-index: 1; transition: all .8s; }
.business-list a{ display: block;}
.business-bg:after { clear: both; margin: 0; padding:0; }
/* .business-list:hover .business-bg{transform: scale(1.2);} */
.banner .swiper-container {
  width: 100%;
}

.banner .swiper-container .swiper-slide {
  position: relative;
}

.banner .swiper-container .swiper-slide .introduce {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 40%;
  left: 30%;
  top: 370px;
}

.banner .swiper-container .swiper-slide .introduce img {
  width: 100%;
}

.banner .swiper-container .swiper-slide .introduce .top {
  font-size: 46px;
}

.banner .swiper-container .swiper-slide .introduce .top span {
  font-weight: 200;
}

.banner .swiper-container .swiper-slide .introduce .bottom {
  font-size: 22px;
  padding: 15px;
}

.banner .swiper-container .swiper-slide .introduce .bottom1 {
  font-size: 22px;
  border: 0;
  margin-top: -20px;
  padding: 15px;
}

.banner .swiper-container .swiper-slide img {
  width: 100%;
  margin: 0 auto;
}


/***分页点***/
.swiper-container-horizontal .swiper-pagination-bullets {bottom: 60px;}
.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {width: 10px; transition: width 1s; height: 10px;  background: #fff; opacity: 1;border-radius: 8px;}
.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet-active {width: 24px;
  transition: width 1s;
  border-radius: 8px;
  background-color: #1bbdc1;
}


/***左右切换按钮***/

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next,
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  width: 27px;
  height: 53px;
  overflow: hidden;
  right: 40px;
  background:  url(../images/right.png) no-repeat  center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* background-size: 20px 30px; */
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background: url(../images/left.png) no-repeat  center;
  left: 40px;
  /* background-size: 20px 30px; */
}

.swiper-button-next:hover {
  background:  url(../images/right1.png) no-repeat  center;
  /* background-size: 20px 30px; */
}

.swiper-button-prev:hover {
  background: url(../images/left1.png) no-repeat  center;
  /* background-size: 20px 30px; */
}

.title_text{
  width: 96%;
  position: absolute;
  bottom: 0;
  line-height: 40px;
  color: #fff;
  padding: 5px 2%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(0,78,162,0.8);
}

/******新闻切换*********/
.newslist{ overflow: hidden;}
.newslist-tab{ height:58px; overflow: hidden; background: #419dff;}
.newslist-tab span{ width: 24.9%; float: left; margin: 0 auto;  display: inline-block; line-height: 58px; padding:0;  text-align: center; font-size: 16px; color: #fff;
	border-right:1px solid rgba(255,255,255,.3); cursor: pointer;}
.newslist-tab span.actv,.newslist-tab span:hover.actv{ background: #fff; color: #333; opacity: 1;font-weight: 700}
.newslist-tab span:hover{background:rgba(255,255,255,.3);}
.newslist-box{padding:88px 0 0 0;}
.news-list{ display: none; overflow: hidden; }
.news-list:nth-child(1){ display: block;}

/********新闻资讯**********/
.new-news{ float: left; background: #efefef; overflow: hidden; width: 48%; margin-bottom:88px;}
.new-news img,.new-news-img img{  width: 100%; float: left; }
/*.new-news-img{display: none;}*/

.banner{ position: inherit;}
/*.new-news-img:last-child{display: block;}*/
.information{ width: 48%; float: right; }
.information ul{ display: block; }
.information ul li{ padding: 0 0 20px 0; border-bottom: 1px dashed #ddd; margin-bottom:20px;}
.information ul li:last-child{border-bottom: 0;}
.information ul li h4,.information ul li h4 a{ line-height: 26px; font-size: 16px; color: #333; display: block; margin: 0; height: 26px; overflow: hidden;}
.information ul li div.state,.dynamic-text div.state,.industry-text div{ height:24px; }
.information ul li div.state span{ font-size: 14px; color: #999;}
.information ul li div.state time,.dynamic-text div.state time,.information-list ul li div.state time,.industry-text div.state time{font-size: 14px; color: #999;
	font-family: '思源宋体'; margin:0 10px; }
.information ul li div.state span.share,.information-list ul li div.state span.share,.dynamic-text div.state span.share,.industry-text div.state span.share{
 background: url(../images/news_06.jpg) no-repeat 0 3px;display: none;
 padding-left:20px; color: #21b7bc; cursor: pointer; position: relative;}
.information ul li div.state span.share div,.information-list ul li div.state span.share div,.dynamic-text div.state span.share div,.industry-text div.state span.share div{ width: 70px;
 display: inline-block;
 position: absolute; top:22px; left:20px; padding:10px; background: #333333; border-radius: 5px; border:1px solid #ddd; z-index: 5; display: none;}
#news-shear div.bdsharebuttonbox a{ background: none;}
#news-shear div.bdsharebuttonbox  a{ display: block; padding:0;line-height: 30px; color: #fff; line-height: 24px;}
#news-shear div.bdsharebuttonbox :after {  content:""; display: block; width: 0;  height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 8px solid #333;
 position: absolute; top:-5px;}
.information ul li div.state span:hover.share div,.information-list ul li div.state span:hover.share div,
.dynamic-text div.state span:hover.share div,.industry-text div.state span:hover.share div{ display: block;}
.information ul li p,.information-list ul li p,.dynamic-text p,.industry-text p{ font-size:14px;color:#999; margin-top: 6px; height:26px; line-height: 26px; overflow:hidden;}
.information ul li:hover h4 a,.information-list ul li:hover h4 a,.dynamic ul li:hover div.dynamic-text:hover h4 a,.industry ul li:hover div.dynamic-text:hover h4 a,.society ul li:hover div.dynamic-text:hover h4 a{ color:#21b7bc;
 -webkit-transition:all .8s;-moz-transition:all .8s;transition:all .8s; }

/********全部列表**********/
.information-list {padding:88px 70px 10px 70px;background:#eee;text-align: center;}
.information-list ul{ display: block; overflow: hidden;text-align: left; margin-bottom:46px;}
.information-list ul li{width: 16.20%;  padding:1.5% 1%; background: #fff; margin: 1% 2% 1% 0; float: left; display: inline-block; }
.information-list ul li:nth-child(5n){ margin-right:0;}
.information-list ul li h4,.information-list ul li h4 a,.dynamic-text h4,.dynamic-text h4 a,.industry-text h4,.industry-text h4 a{ line-height: 26px; font-size: 16px; color: #333;
	display: block; margin: 0; height:52px;}
.information-list ul li div.img{ margin:15px auto; overflow: hidden;}
.information-list ul li div.img img{ width: 100%; float: left; opacity:1;-webkit-transition:all .8s;-moz-transition:all .8s;transition:all .8s; overflow: hidden; }
.information-list ul li:hover div.img img{transform: scale(1.2); opacity: .6;}
.information-list ul li div.state{display: inline-block; }
.information-list ul li div.state span,.dynamic-text div.state span,.industry-text div.state span{ font-size: 14px; color: #999;}
.information-list ul li div.state span.share{ display: none; margin-top: 5px; clear: both;}
.information-list ul li p{ min-height:72px; overflow: hidden; padding-bottom: 10px;}

a.news-more{ width: 300px; height: 40px; ;line-height: 40px;background: #21b7bc; color: #fff;  text-align: center;  display: inline-block; margin:0 auto 46px auto; border-radius: 5px;}
a:hover.news-more{ color: #fff;opacity: .8;}

/********公司动态**********/
.dynamic,.industry,.society{overflow: hidden; text-align: center;}
.dynamic ul,.industry ul,.society ul{ text-align: left;}
.dynamic ul li,.industry ul li,.society ul li{ clear: both; margin: 0 auto 40px auto; display: inline-block; width: 100%;}
.dynamic-img,.industry-img,.society-img{ width:360px; overflow: hidden; float: left; }
.dynamic-img a,.dynamic-img a img,.industry-img a,.industry-img a img,.society-img a,.society-img a img{display: block; width: 100%; float: left; position: relative;}
.dynamic-img a:after,.industry-img a:after,.society-img a:after{ content: ""; position: absolute; top:50%; margin: -16px auto  auto -40px; left: 50%; line-height: 32px; height:32px; width: 80px;
border-radius: 5px;
display: inline-block; background:#21b7bc url(../images/right1_03.png) no-repeat center; opacity: 0; background-size:20px; -webkit-transition:all .8s;-moz-transition:all .8s;
transition:all .8s; }
.dynamic-img a:hover:after,.industry-img a:hover:after,.society-img a:hover:after{ opacity: 1; }
.dynamic-text,.industry-text,.society-text{ margin: 0 0 0 400px;}
.dynamic-text div.state,.industry-text div.state,.society-text div.state{ margin: 20px 0;}
.dynamic-text p,.industry-text p,.society-text p{min-height:72px; line-height: 24px; margin-top:30px;}
.dynamic-text h4 a,.industry-text h4 a,.society-text h4 a{ position: relative; text-indent: 0;}
.dynamic-text h4 a:after,.industry-text h4 a:after,.society-text h4 a:after{content: "--"; display:inline-block; position: absolute; left:0; line-height: 24px; top:0px; left:3em; opacity: 0;
-webkit-transition:all .8s;-moz-transition:all .8s;transition:all .8s; }
.dynamic ul li:hover div.dynamic-text h4 a:after,
.industry ul li:hover div.dynamic-text h4 a:after,
.society ul li:hover div.dynamic-text h4 a:after{ display:block; left:-1em; opacity: 1; }
.dynamic ul li:hover div.dynamic-text h4 a,
.industry ul li:hover div.dynamic-text h4 a,
.society ul li:hover div.dynamic-text h4 a{ text-indent: 1em;}






/********行业资讯**********/
.news{ height:300px; background: #000;}




/*******底部*********/
footer{margin-top:0;}

/*媒体查询*/
@media screen and (max-width: 1700px) {

}

@media screen and (max-width: 1500px) {
	.information-list {padding:40px 20px 20px 20px;background:#eee;}
	.information-list ul li{width: 21.20%;  }
	.information-list ul li:nth-child(5n){ margin-right:2%;}
  .information-list ul li:nth-child(4n){ margin-right:0;}

}

@media screen and (max-width: 1400px) {


}

@media screen and (max-width: 1200px) {
	.business-list{height:340px;}
	.information ul li p{ display: none;}

}

@media screen and (max-width: 1080px) {
	.information ul li{ padding: 0 0 15px 0;margin-bottom:15px;}
}

@media screen and (max-width: 980px) {
	.information ul li{ padding: 0 0 10px 0;margin-bottom:10px;}
	.information-list ul li{width: 30%;  }
  .information-list ul li:nth-child(2n){ margin-right:2%;}
	.information-list ul li:nth-child(4n){ margin-right:2%;}
  .information-list ul li:nth-child(5n){ margin-right:2%;}
  .information-list ul li:nth-child(3n){ margin-right:0;}

	.dynamic-img,.industry-img{ width: 290px;}
	.dynamic-text,.industry-text{ margin-left:310px;}

	.dynamic-text div.state,.industry-text div.state{ margin: 10px 0;}
	.dynamic-text p,.industry-text p{ margin-top:0px; height:92px;}


}

@media screen and (max-width: 780px) {
	.newslist-box{ padding:0;}
	.new-news,.information{ margin: 30px auto; float: none; clear: both; width: 98%;}
	.information ul li h4,.information ul li h4 a{ height: auto;}

  .business-list{height:300px;}
  .information-list ul{ margin-bottom: 20px;}
  .information-list ul li{width:45%; padding:2%;  }
  .information-list ul li:nth-child(4n){ margin-right:2%;}
  .information-list ul li:nth-child(5n){ margin-right:2%;}
  .information-list ul li:nth-child(3n){ margin-right:2%;}
	.information-list ul li:nth-child(2n){ margin-right:0;}
	.information ul li p{ display: block; height: auto;}
	a.news-more{ width: 100%; margin:0 auto 20px auto;}

	.dynamic,.industry,.society{ padding:40px 0;}
	.dynamic ul li,.industry ul li,.society ul li{  margin-bottom: 30px;}
	.dynamic-img,.industry-img,.society-img{ width: 160px;}
	.dynamic-text ,.industry-text{ margin-left:190px; }
	.dynamic-text div.state span.share,.dynamic-text p,.industry-text div.state span.share,.industry-text p{display: none;}
	.dynamic-text div.state,.industry-text div.state{margin: 0;}



}

@media screen and (max-width: 580px) {
	.dynamic-img,.industry-img { width: 100px;}
	.dynamic-text,.industry-text { margin-left:120px; }
	.dynamic ul li,.industry ul li {  margin-bottom: 20px;}

	.dynamic-text h4 a,.industry-text h4 a{ height:40px; overflow: hidden; font-size: 14px; line-height: 20px;}

}
@media screen and (max-width: 480px) {
    .information-list ul li{width:92%; padding:4%; margin: 4% auto;  }
    .information ul li div.state span.share div,.information-list ul li div.state span.share div,.dynamic-text div.state span.share div,.industry-text div.state span.share div{ left:-10px;}

	.dynamic-text div.state,.dynamic-text div.state time,.industry-text div.state,.industry-text div.state time{ margin: 0;}
	.dynamic-text div.state span,.industry-text div.state span{  display: none;}
	.swiper-button-next, .swiper-button-prev{display: none;}
	.title_text{font-size: 14px;font-weight: 300;line-height: 30px;}
	.swiper-container-horizontal .swiper-pagination-bullets { bottom: 48px;}
}


@media screen and (max-width: 380px) {
    .business-list{height:260px;}
 	.new-news,.information,.dynamic,.industry,.society{ width: 300px; margin: 30px auto; ;padding: 0;}

 }

 #tap .swiper-slide {
  width: 20%;
  float: left;
}
.about-tab span.actv, .about-tab span:hover.actv {
  background: #fff;
  color: #333;
  font-weight: 700;
  opacity: 1;
}

.about-tab span {
  width: 100%;
  float: left;
  margin: 0 auto;
  line-height: 58px;
  padding: 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, .3);
  cursor: pointer;
}
.newslist-tab strong {
  display: none;
}
img.top_nav_icon_img {
  width: 30px;
}
.about-tab span:hover {
  background: rgba(255, 255, 255, .3);
}
.newslist-tab span:hover strong {
  display: inline;
}
.newslist-tab .actv strong {
  display: inline;
}
