
/********头部********/
ul.nav li a,.header:hover ul.nav li a:hover{color:#21b7bc;}
.language{color: #fff;}
.language a{color: #fff;}
.language a:nth-child(2):after { background:#eee;}
.header .language a:hover,.language a:hover{color:#21b7bc;}
.h-bright,.header{ background:rgba(255,255,255,1);}
.h-bright ul.nav li a,.header ul.nav li a{ color:#333;}
.h-bright ul.nav li:after,.h-bright.language a:nth-child(2):after,.header ul.nav li:after,.header .language a:nth-child(2):after{ background: #ddd;}
.h-bright .language,.h-bright .language a,.header .language,.header .language a{ color:#333;}


/******banner*********/
.business,.business-list,.business-list a,.business-tetx,.business-bg{overflow: hidden;}
.business{display: block; width:100%; }
.business-list{height:400px;position: relative; width:100%; -webkit-transition:all .8s;-moz-transition:all .8s;transition:all .8s;}
.business-list a{ display: block;}
.business-tetx,.business-bg{ position: absolute;}
.business-tetx { position: absolute; top:50%; left:0; width: 100%; z-index: 2; text-align: center; color: #fff;}
.business-tetx span{ width:70px; display: inline-block; overflow: hidden; margin:0 auto; }
.business-tetx span img{ float: left; width: 100%;}
.business-tetx h4{ font-size: 26px;  line-height: 30px; margin: 15px auto;}
.business-tetx p{ font-size: 16px;  line-height: 24px; margin: 0 auto; }
.business-bg{ width:100%; height:100%; background-position:center center; background-size:cover; z-index: 1; transition: all .8s; }
.business-bg:after { clear: both; margin: 0; padding:0; }

.business-list:hover .business-bg{transform: scale(1.2);}


/*******底部*********/
footer{margin-top:0;}

/*媒体查询*/
@media screen and (max-width: 1700px) {

}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1400px) {


}

@media screen and (max-width: 1200px) {

  .business-list{height:340px;}

}

@media screen and (max-width: 1080px) {

}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 680px) {

  .business-list{height:300px;}
  .business-tetx { left:5%; width:90%;}
  .business-tetx span{ width:50px;}
  .business-tetx h4{ font-size: 20px; margin: 10px;}

}

@media screen and (max-width: 380px) {
   .business-list{height:260px;}


 }
